<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Add-Update User
      </div>
      <div class="card-block" style="height: 100%;">
        <form #ad="ngForm" (ngSubmit)="submit(ad)">
          <div class="row">
            <div class="col">
              <div class="md-tabs">
                <!-- <ngb-tabset>
                  <ngb-tab>
                    <ng-template ngbTabContent> -->
                      <div class="row">
                        <div class="col-sm-6">
                          <h5 class="marginHeader">First Name</h5>
                          <input
                            matInput
                            type="text"
                            placeholder="First Name"
                            name="firstName"
                            class="form-control"
                            #Fname="ngModel"
                            required
                            [(ngModel)]="userForm.firstName"
                          />
                          <div *ngIf="ad.submitted && ad.invalid" class="invalid-feedback">
                            <div *ngIf="Fname?.errors?.required">
                             First Name is required
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h5 class="marginHeader">Last Name</h5>
                          <input
                            matInput
                            type="text"
                            placeholder="Last Name"
                            name="lastName"
                            class="form-control"
                            #Lname="ngModel"
                            [(ngModel)]="userForm.lastName"
                          />
                          <div *ngIf="ad.submitted && ad.invalid" class="invalid-feedback">
                            <div *ngIf="Lname?.errors?.required">
                              Last Name is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-6">
                          <h5 class="marginHeader">Email</h5>
                          <input
                            matInput
                            placeholder="Email"
                            type="text"
                            name="email"
                            class="form-control"
                            #Email="ngModel"
                            required
                            [(ngModel)]="userForm.email"
                          />
                          <div *ngIf="ad.submitted && ad.invalid" class="invalid-feedback">
                            <div *ngIf="Email?.errors?.required">
                              Email is required
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h5 class="marginHeader">Phone Number</h5>
                          <input
                            matInput
                            type="text"
                            placeholder="Phone"
                            name="phone"
                            class="form-control"
                            #Phone="ngModel"
                            [(ngModel)]="userForm.phone"
                          />
                  
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-6">
                          <h5 class="marginHeader">Stage</h5>
                          <input
                            matInput
                            placeholder="Stage"
                            type="number"
                            name="stage"
                            class="form-control"
                            #Stage="ngModel"
                            [(ngModel)]="userForm.stage"
                          />                      
                        </div>
                        <div class="col-sm-6">
                          <h5 class="marginHeader">Is Company Admin ?</h5>
                          <input type="checkbox" name="isAdmin" [(ngModel)]="userForm.isAdmin" />
                        </div>
                      </div>
                       <hr />
                      <!--<div class="row">
                        <div class="col-sm-6">
                          <h5 class="marginHeader">Is Company Admin ?</h5>
                          <input type="checkbox" name="isCompanyAdmin" [(ngModel)]="userForm.isCompanyAdmin" />
                        </div> 
                      </div>
                      <hr />-->
                      <div class="row">
                        <div class="col-6">
                          <input type="submit" class="btn btn-primary" />
                        </div>
                        <div class="col-6">
                          <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
                        </div>
                      </div>
                    <!-- </ng-template>
                  </ngb-tab>
                </ngb-tabset> -->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>