<app-card style="text-align: center">
  <!-- The Whole content padded -->
  <!-- Title -->
  <div class="row my-2">
    <h2 class="col-lg-12">
      Article Form
    </h2>
  </div>
  <form #validate="ngForm">
    <!-- 1st Row -->
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Title" name="title" [(ngModel)]="title" required />
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field class="w-100">
          <mat-label>Company Type</mat-label>
          <mat-select [(ngModel)]="type" name="type" required (selectionChange)="typeChange($event,null)">
            <mat-option *ngFor="let item of types" [value]="item">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <app-image-upload style="text-align: center" [title]="'Main Image'" [(imageList)]="priamryImage"
          [required]="true" [(valid)]="primaryImageValid" required></app-image-upload>
      </div>
      <div class="col-sm-6">
        <app-image-upload style="text-align: center" [title]="'Secondary Image'" [(imageList)]="secondryImages"
          [multiple]="true" [max]="2"></app-image-upload>
      </div>
    </div>
    <br>
    <br>


    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="w-100">
          <mat-label>Categories</mat-label>
          <mat-select [(ngModel)]="categories" name="categories" (selectionChange)="getRelated($event,null)" required>
            <mat-option *ngFor="let item of category" [value]="item">
              {{item?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Related Articles</mat-label>
          <mat-select [(ngModel)]="relatedArticles" name="relatedArticles" (selectionChange)="parseRelated($event)">
            <mat-option *ngFor="let item of related" [value]="item">
              {{item?.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <br>


    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="w-100">
          <mat-label>Content Type</mat-label>
          <mat-select name="contentType" [(ngModel)]="contentType" required
            (selectionChange)="contentChange($event,null)">
            <mat-option *ngFor="let item of contents" [value]="item">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6" *ngIf="contentType.id == 1">
        <mat-form-field class="w-100">
          <mat-label>URL</mat-label>
          <input matInput type="text" name="URL" [(ngModel)]="URL" required>
        </mat-form-field>
      </div>
    </div>
    <br>
    <br>
    <div class="row" *ngIf="contentType.id == 2">
      <div class="row quill-row">
        <div class="col-12 my-1">
          <h5>Details</h5>
        </div>
        <quill-editor [(ngModel)]="details" name="details"></quill-editor>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>


    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="w-100">
          <mat-label>Description</mat-label>
          <textarea matInput name="description" [(ngModel)]="description" required></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
          <mat-form-field>

        <input matInput type="text" placeholder="Tag" name="Tag" [(ngModel)]="Tag" >
          </mat-form-field>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">

        <mat-checkbox  [(ngModel)]="feature" name="feature">Feature</mat-checkbox>

      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Sort</mat-label>
          <input matInput type="number" maxlength="5" [(ngModel)]="Sort" name="Sort" />
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-end mt-5">
      <div class="col-md-auto">
        <button mat-flat-button color="warn" (click)="onCancel()">
          Cancel
        </button>
      </div>
      <div class="col-md-auto">
        <button mat-flat-button color="primary" (click)="onSave(validate)" [disabled]="disabled">Save</button>
      </div>
    </div>

  </form>

  <!-- Form Actions' buttons -->

</app-card>