<h2 mat-dialog-title>
  {{ data.dialogType === "create" ? "Add New Review" : "Edit Review" }}
</h2>
<label role="button" class="badge close" (click)="close('close')">X</label>
<mat-dialog-content class="mat-typography">
  <form #ad="ngForm">
    <div class="row">
      <!--  <div class="col-sm-4">
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select name="Type" [(ngModel)]="Type" required>
          <mat-option [value]=1>
            Distributor
          </mat-option>
          <mat-option [value]=2>
            Manufacturor
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" name="Name" [(ngModel)]="name" required />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            name="title"
            [(ngModel)]="title"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Position</mat-label>
          <input matInput type="text" name="Position" [(ngModel)]="position" />
        </mat-form-field>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Quotation</mat-label>
          <textarea
            matInput
            type="text"
            name="Quotation"
            [(ngModel)]="quotation"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-label>Rating</mat-label>
        <mat-slider
          class="w-100"
          name="Rating"
          [(ngModel)]="rating"
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1"
          step="0.5"
          min="0.5"
          max="5"
        ></mat-slider>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h5 class="marginHeader">Image</h5>
        <label class="custom-file mb-3">
          <input
            type="file"
            class="custom-file-input"
            onclick="this.value= null"
            (change)="handleBaseImageChange($event)"
            name="iconImg"
            required
          />
          <span class="custom-file-control"></span>
        </label>
        <div *ngIf="showimagevalidator" class="invalid-feedback"> Image Required</div>

      </div>
      <div class="col-sm-6">
        <div class="imgDiv" *ngIf="imagePreview[0]">
          <label
            role="button"
            class="badge badge-danger"
            (click)="hideBaseImage()"
            class="close"
            >X</label
          >
          <img [src]="imagePreview[0]" style="max-width: 50%" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" >
        <button
          class="btn btn-success pull-right"
          name="submitBtn"
          (click)="submit(ad)"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
