<h3 mat-dialog-title>SEO</h3>
<div mat-dialog-content class="my-4">
  <mat-tab-group>
    <mat-tab *ngFor="let seo of data" [label]="seo.name">
      <div class="container">
        <app-seo-form #form [seo]="seo"></app-seo-form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions class="pull-right">
  <button mat-flat-button color="warn" class="mx-1" (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" class="mx-1" (click)="onSave()">Save</button>
</div>
