<app-filter *ngIf="pageType === 'businessOpp'" [filterOptions]="filterOptions"
  (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>
  <ngb-tabset (tabChange)="onTabChange($event)">
    <ngb-tab title="Business opportunity" id="1">
      <ng-template ngbTabContent>
        

          <div class="row">
            <div class="col-md-12 mt-2 mb-2">
              <button  class="m-1 pull-right" mat-raised-button (click)="Add()">
                <mat-icon>supervisor_account</mat-icon> Sign agreement
              </button>

              <button color="primary" mat-stroked-button class="m-1 pull-right " matTooltip="Add Business Opportunity" (click)="addBusinessOpp()">
                <mat-icon>add</mat-icon> Business Opportunity
              </button>

            </div>
          </div>

          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="example-table-container" style="overflow-x: auto" >
            <table #table mat-table matSort [dataSource]="dataSource" *ngIf="!isLoading && dataSource?.data && dataSource?.data?.length > 0">

              <!-- Manufacturer name Column -->
              <ng-container matColumnDef="manufacturerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer name</th>
                <td mat-cell *matCellDef="let element" (click)="displayManufacturer(element)">
                  {{ element.manufacturerName }}
                </td>
              </ng-container>


              <!-- Distributor name Column -->
              <ng-container matColumnDef="distributorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributor name</th>
                <td mat-cell *matCellDef="let element" (click)="displayDistributor(element)">
                  {{ element.distributorName }}
                  <!-- {{dataSource.filteredData.indexOf(element)}} -->
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="distributorCertificates">
                <th mat-header-cell *matHeaderCellDef>
                  Company certificate
                </th>
                <td mat-cell *matCellDef="let element">
                  <button
                    *ngIf="element.distributorCertificates && element.distributorCertificates.length > 0; else viewAllRelated"
                    mat-flat-button [matBadge]="element.distributorCertificates.length" matBadgePosition="after"
                    matBadgeColor="warn" (click)="openLink(element, 5)">
                    View All
                  </button>
                </td>

                <ng-template #viewAllRelated>
                  <span style="text-align: center;"> N/A</span>
                </ng-template>
              </ng-container>



              <ng-container matColumnDef="opportunitySendDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sent date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.opportunitySendDate | date:'shortDate'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="opportunityFinshedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Finishes on date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.opportunityFinshedDate | date:'shortDate'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="ScheduledCall">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Call scheduled?</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ScheduledCall }}
                </td>
              </ng-container>

              <ng-container matColumnDef="NextBusiness">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Next opportunity</th>
                <td mat-cell *matCellDef="let element">
                  <a mat-icon-button matTooltip="Reload Business opportunity" color="primary"
                    (click)="openLink(element, 1)">
                    <!-- <span mat-line>Reload</span> -->
                    <mat-icon>refresh</mat-icon>
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="distributorComment">
                <th mat-header-cell *matHeaderCellDef>Comment</th>

                <td mat-cell *matCellDef="let element">
                  <a class="pointer" *ngIf="element.distributorComment; else viewnotFoundcomment" (click)="openLink(element, 8)">
                    {{element.distributorComment | ellipsis:20}}
                  </a>
                </td>

                <ng-template #viewnotFoundcomment style="text-align: center;">
                  <span> N/A</span>
                </ng-template>
              </ng-container>

              <ng-container matColumnDef="users">
                <th mat-header-cell *matHeaderCellDef>
                  User
                </th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{ element.manufacturerMedicalLineCount }} -->
                  <button *ngIf="element.users && element.users.length > 0; else viewnotFound" mat-flat-button
                    [matBadge]="element.users.length" matBadgePosition="after" matBadgeColor="warn"
                    (click)="openLink(element, 7)">
                    View All
                  </button>
                </td>


                <ng-template #viewnotFound style="text-align: center;">
                  <span> N/A</span>
                </ng-template>
              </ng-container>

              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">

                  <a mat-icon-button matTooltip="View Log" color="primary" (click)="openLink(element, 4)">
                    <!-- <span mat-line>Log</span> -->
                    <mat-icon>content_paste</mat-icon>
                  </a>
                  <a mat-icon-button matTooltip="Send Business opportunity" color="primary" (click)="openLink(element, 3)">
                    <!-- <span mat-line>Send BO</span> -->
                    <mat-icon>send</mat-icon>
                  </a>
                  <a mat-icon-button matTooltip="Add comments" color="primary" (click)="openLink(element, 6)">
                    <!-- <span mat-line>Add comments</span> -->
                    <mat-icon>add_comment</mat-icon>
                  </a>
                  <a mat-icon-button matTooltip="Remove Business opportunity" color="warn" (click)="openLink(element, 2)">
                    <!-- <span mat-line>Remove</span> -->
                    <mat-icon>delete</mat-icon>
                  </a>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <!-- ! MUST USE [hidden] instead of *ngIf directive -->
            <mat-paginator [pageSize]="pageSize" [length]="totalItems" [hidden]="dataSource?.data?.length == 0" showFirstLastButtons (page)="pageChange($event)">
            </mat-paginator>
          </div>
          

          <div class="no-data-container" [hidden]="isLoading || dataSource?.data && dataSource?.data?.length">
            <img src="assets/no-data.svg" alt="No data">
            <p>Oops! Nothing is here</p>
          </div>
          

      </ng-template>
    </ngb-tab>
    <ngb-tab title="Signed agreements" id="2">
      <ng-template ngbTabContent>
        
          <app-signed-agreements></app-signed-agreements>
   
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</app-card>