// table {
//   width: 100%;
// }
// .mat-cell {
//   padding: 10px 10px 10px 5px;
//   // text-align: center;
// }
// .mat-header-cell {
//   // text-align: center;
//   padding: 10px 10px 10px 0;
// }
// .mat-flat-button {
//   border-radius: 24px;
//   line-height: 30px;
//   font-size: 13px;
// }
// button {
//   // background-color: #4680ff;
//   color: #ffffff;
// }

// td.mat-cell:last-of-type {
//   text-align: center;
// }

table {
  width: 100%;
  text-align: center;
}
.mat-cell {
  padding: 10px 10px 10px 0;
}

table {
  width: 100%;
}
.mat-cell {
  padding: 10px 10px 10px 5px;
  text-align: center;
}
.mat-header-cell {
  text-align: center;
  padding: 10px 10px 10px 0;
}
::ng-deep .modal-dialog {
  max-width: 500px;
  margin: 3.75rem auto;
}

.spinner-container {
  mat-spinner {
    margin: 20% auto;
  }
}
