<app-filter *ngIf="pageType === 'Distributor'" [filterOptions]="filterOptions" (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>

  <ngb-tabset (tabChange)="actionTabChange($event)">

    <ngb-tab title="Distributor" id="1">

      <ng-template ngbTabContent>


        <app-card>
          <div class="row justify-content-between">
            <form id="thisForm" #Searchform="ngForm" (ngSubmit)="searchSubmit(Searchform)">
              <div class="col-12">
                <div class="row">
                  <div class="col-5">
                    <mat-form-field class="w-100">
                      <input matInput type="number" ngModel id="id" name="id" placeholder="Company Id" />
                    </mat-form-field>
                  </div>
                  <div class="col-5">
                    <mat-form-field class="w-100">
                      <input matInput id="name" ngModel name="name" placeholder="Company Name" />
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <button type="submit" mat-flat-button color="primary" class="my-2">
                      <mat-icon>search</mat-icon> Search
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-auto mr-2">
              <button (click)="AddCompany()" mat-stroked-button class="m-1 pull-right" matTooltip="Add Distributor Company">
                <mat-icon>add</mat-icon> Company
              </button>
            </div>
          </div>
        </app-card>


        <div class="spinner-container">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>

        <div class="row overflow-x-auto">
          <table mat-table #table [dataSource]="distributorSource" matSort *ngIf="!isLoading && (distributorSource?.data && distributorSource?.data?.length > 0)">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Company Id</th>
              <td mat-cell *matCellDef="let element">{{ element.companyId }}</td>
            </ng-container>
            <ng-container matColumnDef="Country">
              <th mat-header-cell *matHeaderCellDef>Country</th>
              <td mat-cell *matCellDef="let element">
                <img width=24 [matTooltipPosition]="position" matTooltip="{{ element?.country?.name }}" onerror="this.src='assets/default-company.png'" 
                src="assets/images/flags24/{{element.country.countryCode.toUpperCase()}}.png" />
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
            </ng-container>
  
            <ng-container matColumnDef="RegistrationDate">
              <th mat-header-cell *matHeaderCellDef>Registration Date</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.registrationDate | date:'shortDate' }}
              </td>
            </ng-container>
  
            <!-- <ng-container matColumnDef="Source">
              <th mat-header-cell *matHeaderCellDef>Source</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.source }}
              </td>
            </ng-container> -->
  
            <ng-container matColumnDef="NumberOfEmployee">
              <th mat-header-cell *matHeaderCellDef># Employee</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.numberOfEmployees }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Comment">
              <th mat-header-cell *matHeaderCellDef>Comment</th>
              <td mat-cell *matCellDef="let element" [matTooltipPosition]="position"
                matTooltip="{{ element?.comment }}">
                {{ element?.comment | ellipsis:50 }}
              </td>
  
              
            </ng-container>
  
            <ng-container matColumnDef="AnnualSales">
              <th mat-header-cell *matHeaderCellDef>Annual Sales</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.annualSales }}
              </td>
            </ng-container>
  
  
            <ng-container matColumnDef="CreatedBy">
              <th mat-header-cell *matHeaderCellDef>Created By</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.createdBy }}
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="authenticated">
              <th mat-header-cell *matHeaderCellDef>Authenticated</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.authenticated">done</mat-icon>
                <mat-icon *ngIf="!element.authenticated">clear</mat-icon>
              </td>
            </ng-container> -->
  
  
            <ng-container matColumnDef="intrest">
              <th mat-header-cell *matHeaderCellDef># Interest</th>
              <td  mat-cell *matCellDef="let element">
                <button mat-mini-fab matTooltip="Distributors Interests" color="warn" (click)="openDialog(element)">
                  {{ element.numInterests }}
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="exprience">
              <th mat-header-cell *matHeaderCellDef># Exprience</th>
              <td  mat-cell *matCellDef="let element">
                <button mat-mini-fab matTooltip="Distributors Exprience" color="warn" (click)="openDialog(element)">
                  {{ element.numExperiences }}
                </button>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="NumberOfBsiness">
              <th mat-header-cell *matHeaderCellDef># Business Opp </th>
              <td mat-cell *matCellDef="let element">

                <button mat-mini-fab matTooltip="Distributors Business Opp" color="warn" (click)="openDialog(element)">
                  {{ element.numOpportunities }}
                </button>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="utm_source">
              <th mat-header-cell *matHeaderCellDef>Source</th>
              <td mat-cell *matCellDef="let element">
                {{ element.utmsource }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="registered">
              <th mat-header-cell *matHeaderCellDef>Registered</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.isRegistered">done</mat-icon>
                <mat-icon *ngIf="!element.isRegistered">clear</mat-icon>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Add">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <a mat-icon-button matTooltip="View Distributor" color="primary" (click)="displayDis(element.id)">
                  <mat-icon>view_module</mat-icon>
                </a>
                <a mat-icon-button matTooltip="Edit Distributor" color="primary" (click)="EditDist(element)">
                  <mat-icon>edit</mat-icon>
                </a>
                <a mat-icon-button matTooltip="Merge" color="primary" (click)="mergeComp(element)">
                  <mat-icon>call_merge</mat-icon>
                </a>

                <a *ngIf="!element.isActive" mat-icon-button matTooltip="Activate" color="primary"
                  (click)="onActivate(element.id)">
                  <mat-icon>check</mat-icon>
                </a>
                <a *ngIf="element.isActive" mat-icon-button matTooltip="Deactivate" color="primary"
                  (click)="onDeactivate(element.id)">
                  <mat-icon>cancel</mat-icon>
                </a>
                <a mat-icon-button matTooltip="Remove Distributor" color="warn" (click)="onDelete(element)">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
  
          <mat-paginator [hidden]="distributorSource?.data?.length == 0" [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)">
          </mat-paginator>
  
        </div>

        <div class="no-data-container" [hidden]="isLoading || distributorSource?.data && distributorSource?.data?.length">
          <img src="assets/no-data.svg" alt="No data">
          <p>Oops! Nothing is here</p>
        </div>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Distributor Not Registred" id="2">

      <ng-template ngbTabContent>

        <div class="spinner-container">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>

        <div class="row overflow-x-auto">

          <table mat-table #table [dataSource]="distributorSource" matSort *ngIf="!isLoading && (distributorSource?.data && distributorSource?.data?.length > 0)">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Company Id</th>
              <td mat-cell *matCellDef="let element">{{ element.companyId }}</td>
            </ng-container>
            <ng-container matColumnDef="Country">
              <th mat-header-cell *matHeaderCellDef>Country</th>
              <td mat-cell *matCellDef="let element">
                <img width=24 [matTooltipPosition]="position" matTooltip="{{ element?.country?.name }}" onerror="this.src='assets/default-company.png'" 
                src="assets/images/flags24/{{element.country.countryCode.toUpperCase()}}.png" />
              </td>
            </ng-container>
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
            </ng-container>
  
            <ng-container matColumnDef="RegistrationDate">
              <th mat-header-cell *matHeaderCellDef>Registration Date</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.registrationDate | date:'shortDate' }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="NumberOfEmployee">
              <th mat-header-cell *matHeaderCellDef># Employee</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.numberOfEmployees }}
              </td>
            </ng-container>


            <ng-container matColumnDef="CreatedBy">
              <th mat-header-cell *matHeaderCellDef>Created By</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.createdBy }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Comment">
              <th mat-header-cell *matHeaderCellDef>Comment</th>
              <td mat-cell *matCellDef="let element" [matTooltipPosition]="position"
                matTooltip="{{ element?.comment }}">
                {{ element?.comment | ellipsis:50 }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="AnnualSales">
              <th mat-header-cell *matHeaderCellDef>Annual Sales</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.annualSales }}
              </td>
            </ng-container>


            <ng-container matColumnDef="intrest">
              <th mat-header-cell *matHeaderCellDef># Interest</th>
              <td  mat-cell *matCellDef="let element">
                <button mat-mini-fab matTooltip="Distributors Interests" color="warn" (click)="openDialog(element)">
                  {{ element.numInterests }}
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="exprience">
              <th mat-header-cell *matHeaderCellDef># Exprience</th>
              <td  mat-cell *matCellDef="let element">
                <button mat-mini-fab matTooltip="Distributors Exprience" color="warn" (click)="openDialog(element)">
                  {{ element.numExperiences }}
                </button>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="NumberOfBsiness">
              <th mat-header-cell *matHeaderCellDef># Business Opp </th>
              <td mat-cell *matCellDef="let element">

                <button mat-mini-fab matTooltip="Distributors Business Opp" color="warn" (click)="openDialog(element)">
                  {{ element.numOpportunities }}
                </button>
              </td>
            </ng-container>

  
            <ng-container matColumnDef="utm_source">
              <th mat-header-cell *matHeaderCellDef>Source</th>
              <td mat-cell *matCellDef="let element">
                {{ element.utmsource }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="registered">
              <th mat-header-cell *matHeaderCellDef>Registered</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.isRegistered">done</mat-icon>
                <mat-icon *ngIf="!element.isRegistered">clear</mat-icon>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Add">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <a mat-icon-button matTooltip="View Distributor" color="primary" (click)="displayDis(element.id)">
                  <mat-icon>view_module</mat-icon>
                </a>
                &nbsp;
                <a mat-icon-button matTooltip="Edit Distributor" color="primary" (click)="EditDist(element)">
                  <mat-icon>edit</mat-icon>
                </a>
                &nbsp;
                <a mat-icon-button matTooltip="Merge" color="primary" (click)="mergeComp(element)">
                  <mat-icon>call_merge</mat-icon>
                </a>
                &nbsp;
                <a mat-icon-button matTooltip="Remove Distributor" color="primary" (click)="onDelete(element)">
                  <mat-icon>delete</mat-icon>
                </a>
                &nbsp;
                <a *ngIf="!element.isActive" mat-icon-button matTooltip="Activate" color="primary"
                  (click)="onActivate(element.id)">
                  <mat-icon>check</mat-icon>
                </a>
                <a *ngIf="element.isActive" mat-icon-button matTooltip="Deactivate" color="primary"
                  (click)="onDeactivate(element.id)">
                  <mat-icon>cancel</mat-icon>
                </a>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedQaColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedQaColumns"></tr>
          </table>
          <mat-paginator [hidden]="distributorSource?.data?.length == 0" [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)">
          </mat-paginator>
        </div>

        <div class="no-data-container" [hidden]="isLoading || distributorSource?.data && distributorSource?.data?.length">
          <img src="assets/no-data.svg" alt="No data">
          <p>Oops! Nothing is here</p>
        </div>


      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</app-card>