table {
  width: 100%;
}
.mat-cell {
  padding: 10px 10px 10px 5px;
  text-align: center;
}
.mat-header-cell {
  text-align: center;
  padding: 10px 10px 10px 0;
}

.overflow-x-auto {
  overflow-x: auto;
}

.spinner-container {
  mat-spinner {
    margin: 20% auto;
  }
}
