<app-card>
  <!-- The Whole content padded -->
  <div class="px-3">
    <!-- Title -->
    <div class="row my-2">
      <h2 class="col-lg-12">
        Article Form
      </h2>
    </div>
    <!-- Form's Body -->
    <div class="row my-2">
      <form class="col-lg-12" [formGroup]="articleForm">
        <!-- 1st Row -->
        <div class="row my-2">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Title" formControlName="title" />
              <mat-error *ngIf="articleForm.get('title').hasError('required')">Title Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Sub Title" formControlName="subtitle" />
              <mat-error *ngIf="articleForm.get('subtitle').hasError('required')">Sub Title Required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- 2nd Row - Images -  -->
        <div class="row my-2">
          <div class="col-lg-6">
            <app-image-upload
              [title]="'Main Image'"
              [(imageList)]="priamryImage"
              [required]="true"
              [(valid)]="primaryImageValid"
            ></app-image-upload>
          </div>
          <div class="col-lg-6">
            <app-image-upload
              [title]="'Secondary Image'"
              [(imageList)]="secondryImages"
              [multiple]="true"
              [max]="2"
            ></app-image-upload>
          </div>
        </div>
        <!-- 3rd Row -->
        <div class="row my-2">
          <div class="col-md-6">
            <ng-select
              [items]="categorie$ | async"
              placeholder="Category"
              bindValue="id"
              bindLabel="name"
              formControlName="maincategory"
              [ngClass]="{
                'ng-select-error':
                  articleForm.get('maincategory').hasError('required') && articleForm.get('maincategory').touched
              }"
            ></ng-select>
            <mat-error
              class="ng-select-error-message"
              *ngIf="articleForm.get('maincategory').hasError('required') && articleForm.get('maincategory').touched"
              >Category Required</mat-error
            >
          </div>
          <div class="col-md-6">
            <ng-select
              [items]="tags"
              placeholder="Tags"
              [addTag]="addTag"
              [hideSelected]="true"
              [multiple]="true"
              [isOpen]="false"
              bindLabel="name"
              bindValue="name"
              formControlName="tags"
            ></ng-select>
          </div>
        </div>
        <!-- 4th Row -->
        <div class="row my-2">
          <div class="col-md-6">
            <mat-checkbox formControlName="published">Publish</mat-checkbox>
          </div>
          <div class="col-md-6">
            <button mat-flat-button (click)="onSEO()">SEO</button>
          </div>
        </div>
        <!-- 5th Row -->
        <div class="row quill-row">
          <div class="col-12 my-2">
            <h5>Description</h5>
          </div>
          <div class="col-12">
            <quill-editor class="quill-editor" formControlName="description"></quill-editor>
          </div>
        </div>
        <!-- 6th Row -->
        <div class="row quill-row">
          <div class="col-12 my-1">
            <h5>Details</h5>
          </div>
          <div class="col-12">
            <quill-editor class="quill-editor" formControlName="details"></quill-editor>
          </div>
        </div>
      </form>
    </div>
    <!-- Form Actions' buttons -->
    <div class="row justify-content-end mt-5">
      <div class="col-md-auto">
        <button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
      </div>
      <div class="col-md-auto">
        <button mat-flat-button color="primary" (click)="onSave()">Save</button>
      </div>
    </div>
  </div>
</app-card>
