<h1 mat-dialog-title>{{title}}</h1>
<hr />

<div mat-dialog-content>
  <ngb-tabset>
    <ngb-tab title="Intersets">
      <ng-template ngbTabContent>
        <div>
          <mat-table [dataSource]="IntrestList" matSort>
  
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
              <mat-cell *matCellDef="let values">{{ values?.id}}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="scientificname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Scientific Name</mat-header-cell>
              <mat-cell *matCellDef="let values">{{values?.scientificName.name}}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="speciality">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Speciality</mat-header-cell>
              <mat-cell *matCellDef="let values">{{values?.specialty.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="medicalline">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Medical Line</mat-header-cell>
              <mat-cell *matCellDef="let values">{{ values?.medicalLine.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
              <mat-cell *matCellDef="let values">{{values.creationDate | date }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="TargetedPrice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Targeted Price</mat-header-cell>
              <mat-cell *matCellDef="let values">{{ values.targetPrice }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="AnnualTarget">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Annual Target</mat-header-cell>
              <mat-cell *matCellDef="let values">{{ values.annualTarget }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="TargetedRegion">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Targeted Region</mat-header-cell>
              <mat-cell *matCellDef="let values">
                <p>
                  <span *ngFor="let item of values.region"> {{ item.name }} ,</span>
                </p>
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="Comments" style=" display: inline-block;">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Comments</mat-header-cell>
              <!-- <mat-cell (click)="ViewComments(values)" style="color:blueviolet" *matCellDef="let values">View Comments({{values.numberOFComments}})</mat-cell> -->
              <mat-cell *matCellDef="let values">{{values.numberOFComments}}</mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)"></mat-paginator>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Experience">
      <ng-template ngbTabContent>
        <div>
          <mat-table [dataSource]="ExperianceList" matSort>
  
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
              <mat-cell *matCellDef="let values">{{ values?.id}}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="scientificname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Scientific Name</mat-header-cell>
              <mat-cell *matCellDef="let values">{{values?.scientificName.name}}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="speciality">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Speciality</mat-header-cell>
              <mat-cell *matCellDef="let values">{{values?.specialty.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="medicalline">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Medical Line</mat-header-cell>
              <mat-cell *matCellDef="let values">{{ values?.medicalLine.name }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedExpColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedExpColumns"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="pageSize" [length]="exlength" showFirstLastButtons (page)="expageChange($event)"></mat-paginator>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Business Opportunities">
      <ng-template ngbTabContent>
        <div >
          <mat-table [dataSource]="BusinessOppList" matSort>
  
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer Id</mat-header-cell>
              <mat-cell *matCellDef="let values">{{ values?.manufacturerID}}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="manufacturername">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer Name</mat-header-cell>
              <mat-cell *matCellDef="let values">{{values?.manufacturerName}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedBusinessoppColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedBusinessoppColumns"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="pageSize" [length]="bolength" showFirstLastButtons (page)="bopageChange($event)"></mat-paginator>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>


<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
