<app-card>
  <h1 mat-dialog-title>Add Speciality</h1>
  <hr />
  
  <div mat-dialog-content>
    <form #ad="ngForm" (ngSubmit)="submit(spForm)">
      <div class="row" style="margin-top: 3%">
        <div class="col-sm-6">
          <h5 class="marginHeader">Name</h5>
          <input
            type="text"
            placeholder="Speciality Name"
            matInput
            class="form-control"
            [(ngModel)]="spForm.speciality"
            name="speciality"
          />
        </div>
        <div class="col-sm-6">
          <h5 class="marginHeader">Medical Line</h5>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #MedicalLines>
              <mat-chip
                *ngFor="let line of selectedMedicalName; let i = index"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeMedicalsPoints(i)"
              >
                {{ line.name }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
  
              <input
                [(ngModel)]="spForm.MedicalLineIds"
                name="MedicalLineIds"
                (ngModelChange)="handleTextChanging($event)"
                [matAutocomplete]="MedicalLinesAuto"
                [matChipInputFor]="MedicalLines"
                #searchInput
              />
            </mat-chip-list>
            <mat-autocomplete
              #MedicalLinesAuto="matAutocomplete"
              (optionSelected)="AddSelectedMedicals($event)"
            >
              <mat-option
                *ngFor="let medical of medicallineslist"
                [value]="medical"
              >
                {{ medical.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <h5 class="marginHeader">Image</h5>
          <label class="custom-file mb-3">
            <input
              type="file"
              class="custom-file-input"
              onclick="this.value= null"
              (change)="handleBaseImageChange($event)"
              name="iconImg"
            />
            <span class="custom-file-control"></span>
          </label>
        </div>
        <div class="col-sm-6">
          <div class="imgDiv" *ngIf="imagePreview[0]">
            <label role="button" class="badge badge-danger" (click)="hideBaseImage()" class="close">X</label>
            <img [src]="imagePreview[0]" style="max-width: 50%" />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <h5 class="marginHeader" mat-raised-button matTooltip="Alternative Names for the Speciality Name"
                  aria-label="Keywords">
  
                  Keywords
                </h5>
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipKeywords>
                    <mat-chip *ngFor="let item of keywordss;let i = index;" [selectable]="selectable"
                      [removable]="removable" (removed)="removeTag(i)">
                      {{item}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input [matChipInputFor]="chipKeywords" (matChipInputTokenEnd)="addKeyWord($event)">
  
                  </mat-chip-list>
                </mat-form-field>
        </div>
        <div class="col-sm-6">
          <h5 class="marginHeader">Specialty </h5>
          <select
            name="ParentId"
            required
            class="form-control form-control-default selectBlack"
            [(ngModel)]="spForm.ParentId"
          >
            <option *ngFor="let speciality of specialitieslist" [ngValue]="speciality.id">{{ speciality.name }} </option>
          </select>
        
        </div>
      </div>
      <hr />
      <br />
      <br />
      <div class="row">
        <div class="col-6">
          <input type="submit" class="btn btn-primary" />
        </div>
        <div class="col-6">
          <a class="btn  pull-right" (click)="close(null)">
            Close
          </a>
        </div>
      </div>
    </form>
  </div>
  </app-card>
  <div mat-dialog-actions></div>
  