<div class="container-fluid">
  <div class="row">
    <div class="col">
      <select name="select" class="form-control form-control-default" placeholder="Sort By" (change)="selectHandler($event)">
        <option *ngFor="let opt of sortValues" value="{{opt.value}}">{{opt.name}}</option>
      </select>
    </div>
  </div>
  <div class="row" style="margin-top: 2%">
    <div class="col">
      <label class="d-flex align-items-center">
        <ui-switch [(ngModel)]="toggel" class="js-single" color="#4680ff" switchColor="#fff" size="small"
          (change)="handleToggel()"></ui-switch>
        <h5 *ngIf="sortType==='1'" style="margin-left: 5%;">Ascending</h5>
        <h5 *ngIf="sortType==='2'" style="margin-left: 5%;">Descending</h5>
      </label>
    </div>
  </div>

</div>
<hr>