.users {
    display: flex;
    flex-direction: column;
  }
  
  .users > * {
    width: 100%;
  }
  
  .users form {
    margin-bottom: 20px;
  }
  
  .users form > * {
    margin: 5px 0;
  }
 
  
  .mat-row, .mat-header-row {
    width: 150vw; //PERSONALLY I HAD 45 COLUMNS
    word-wrap: break-word !important;
  }

  .mat-table {
    overflow-x: scroll;
    
  }
  table {
    width: 100%;
   
	}
	.mat-cell {
        padding: 10px 10px 10px 2;
        text-align: center
	  }.mat-header-cell{
      text-align: center;
      padding: 10px 10px 10px 2;
		}
		
   p{
    display: inline-block;
   } 