<app-filter [filterOptions]="filterOptions" (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>
  <button class="btn btn-primary btn-sm" [routerLink]="['/Setting/Users/add']">Add</button>

  <br />
  <div class="users">
    <form class="users">
      <div class="row">
        <mat-form-field>
          <input
            matInput
            placeholder="Search"
            [(ngModel)]="SearchKey"
            name="SearchKey"
            (keyup)="keyUpapplyFilter($event.target.value)"
            (keydown)="keyDownfilter($event.target.value)"
          />
        </mat-form-field>
      </div>
    </form>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.id }}</p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.name }}</p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.email }}</p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="Phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.phone }}</p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type </mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.type }}</p></mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="Country">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Country </mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.countryName }}</p></mat-cell
        ><!--********************-->
      </ng-container>

      <ng-container matColumnDef="Company">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.company.name }}</p></mat-cell
        ><!--********************-->
      </ng-container>

      <ng-container matColumnDef="Stage">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Stage </mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.stageId }}</p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="IsAdmin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Is Admin</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.isAdmin }}</p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="IsVerified">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Is Verified</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.isVerified }}</p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="RegisterationDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Registeration Date</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.registerationDate | date }}</p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Job Title </mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>{{ values.jobTitle }}</p></mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions </mat-header-cell>
        <mat-cell *matCellDef="let values">
          <button class="btn-success btn-sm ng-star-inserted" (click)="navto(values)">
            Update
          </button>
          &nbsp;
          <button class="btn-danger  btn-sm ng-star-inserted" (click)="Del(values.id)">
            Delete
          </button>
          &nbsp;
          <!-- <mat-checkbox
            class="btn-block"
            labelPosition="before"
            [(ngModel)]="checked"
            (change)="setadmin(row)"
          >
          </mat-checkbox> -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="length"
      (page)="pageChange($event)"
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</app-card>
