.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .mat-form-field{
    width: 100%;
  }
  .heading {
    font-size: 20px;
    padding: 0 0 10px 0;
    /* border-bottom: 1px solid #eee; */
    font-weight: bold;
}