<form class="example-form">
  <div class="row"> <div class="col-12">
    <div class="heading">Change Password</div>
  </div></div>
  <div class="row">
    <div class="col-12">
        <mat-form-field>
            <input matInput placeholder="Enter your password" minlength="8" [(ngModel)]="pass.passowrd" name="passowrd"
              [type]="hide ? 'password' : 'text'" >
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint>At least 8 characters</mat-hint>
          </mat-form-field>
    </div>
  </div>
<div class="row">
  <div class="col-12">
      <mat-form-field>
          <input matInput placeholder="Confirm password" [(ngModel)]="pass.confirm" name="confirm"
            [type]="hide2 ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
  </div>
</div>
  <span *ngIf="Invalid"  style="color: red;font-size: 10px"> Password Does Not Match <br> </span>
  <span *ngIf="Invalid2"  style="color: red;font-size: 10px"> Password lengh must be at least 8 characters </span>
<br>
  <button type="submit"  class="btn btn-primary btn-sm" (click)="Save(pass)">Save</button>
</form>