<app-card>
  <div>
    <button class="btn btn-primary pull-right" (click)="Add()">Create</button>
  </div>
  <br />
  <br />
  <br />
  <div>
    <table mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="Slug">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Slug</th>
        <td mat-cell *matCellDef="let element">{{ element.slug }}</td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.published; else unpublished">
            <button (click)="Publish(element.id)" class="btn btn-success mx-2  btn-sm mat-flat-button">
              Publish
            </button>
          </ng-container>
          <ng-template #unpublished>
            <button (click)="UnPublish(element.id)" class="btn btn-success mx-2  btn-sm mat-flat-button">
              UnPublish
            </button>
          </ng-template>
          <button (click)="onOpenSEO(element)" class="btn btn-success mx-2  btn-sm mat-flat-button">
            SEO
          </button>
          <button (click)="copylink(element)" class="btn btn-success mx-2  btn-sm mat-flat-button">
            View Link

          </button>

          <button (click)="Edit(element)" class="btn btn-success mx-2 btn-sm mat-flat-button">
            Edit
          </button>
          <button (click)="Delete(element.id)" class="btn btn-danger mx-2 btn-sm mat-flat-button">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="length"
      (page)="pageChange($event)"
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</app-card>
