<mat-table [dataSource]="Company" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.companyId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.companyName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Link">
    <mat-header-cell *matHeaderCellDef> Links </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-cell [matchCellHeight]="item" *ngFor="let item of element.links">
        <a href="{{item}}" target="_Blank"  style="float:right;"> {{item}}
        </a>

      </mat-cell>
    </mat-cell>
  </ng-container>




  <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
<!--       <button class="btn btn-primary btn-sm" (click)="addscientificname(element)"> Add </button>
 -->      <button class="btn btn-primary btn-sm" (click)="IgnoreResult(element)"> Ignore </button>

    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="length" [pageSize]="10" showFirstLastButtons>
</mat-paginator>