<div style="overflow-x: auto;" *ngIf="signedAgreementsDataSource?.data">
  <table #tableSA mat-table matSort [dataSource]="signedAgreementsDataSource">


    <!-- Distributor name Column -->
    <ng-container matColumnDef="distributorName">
      <th mat-header-cell *matHeaderCellDef>Distributor name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.distributor.company.name }}
        <!-- {{dataSource.filteredData.indexOf(element)}} -->
      </td>
    </ng-container>

    <!-- manufacture name Column -->
    <ng-container matColumnDef="manufactureName">
      <th mat-header-cell *matHeaderCellDef>Manufacture Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.manufacture.company.name }}
      </td>
    </ng-container>

    <!-- Distributor person name Column -->
    <ng-container matColumnDef="signedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Signed Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.signedDate | date:'shortDate'}}
      </td>
    </ng-container>


    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">


        <button class="btn btn-primary btn-sm" (click)="openBottomSheet(element)">
          Log
        </button>

        <button class="btn btn-primary btn-sm" (click)="openBottomSheet(element)">
          Open Profile
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="signedAgreementsDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: signedAgreementsDisplayedColumns"></tr>
  </table>
  <mat-paginator [length]="signedAgreementTotalItems" showFirstLastButtons (page)="pageChangeSA($event)">
  </mat-paginator>
</div>


<div class="no-data-container" [hidden]="signedAgreementsDataSource?.data">
  <img src="assets/no-data.svg" alt="No data">
  <p>Oops! Nothing is here</p>
</div>
