<app-card>
   <form class="form-material" #Form3="ngForm" (ngSubmit)="submit(Form3)">
      <div class="row">
         <div class="col">
            <h5 class="marginHeader">Title</h5>

            <input type="text" matInput class="form-control" [(ngModel)]="bulkForm.productName" name="productName">
         </div>
         <div class="col">
            <h5 class="marginHeader">Sub Title</h5>
            <input type="text" matInput class="form-control" [(ngModel)]="bulkForm.productSubtitle"
               name="productSubtitle">
         </div>
      </div>
      <br>
      <hr>
      <div class="row" style="margin-top: 3%">
         <div class='col-sm-6'>

            <h5 class="marginHeader">Manufacturer (*)</h5>
            <input matInput placeholder="Manufacturer" class="form-control" name="manufacturerName"
               [matAutocomplete]="autoCompleteManufacturer" (ngModelChange)="handleTextChanging($event)"
               [(ngModel)]="bulkForm.manufacturerName" required  #manufacturer="ngModel">

            <mat-autocomplete #autoCompleteManufacturer="matAutocomplete" [displayWith]="displayFnManufacturer">
               <mat-option *ngFor="let manu of manufacturerFilter | async" [value]="manu">
                  {{manu.name}}
               </mat-option>
            </mat-autocomplete>
            <div *ngIf="Form3.submitted && Form3.invalid" class="invalid-feedback">
               <div *ngIf="manufacturer?.errors?.required">manufacturer is required</div>
             </div>
         </div>
         <div class='col-sm-6'>

            <h5 class="marginHeader">Speciality </h5>
            <input matInput placeholder="Speciality" class="form-control" name="specialty"
               [matAutocomplete]="autoCompleteSpeciality" [(ngModel)]="bulkForm.specialty"
               (ngModelChange)="specialitiesFilter = _filterSpeciality(bulkForm.specialty) ;">

            <mat-autocomplete #autoCompleteSpeciality="matAutocomplete" [displayWith]="displayFnSpicality">
               <mat-option *ngFor="let specialty of specialitiesFilter | async" [value]="specialty">
                  {{specialty.speciality}}
               </mat-option>
            </mat-autocomplete>

         </div>
      </div>
      <br>
      <hr>
      <div class="row">
         <div class='col-sm-6'>
            <h5 class="marginHeader">Scientific Name </h5>

            <mat-form-field class="example-chip-list">
               <mat-chip-list #chipListScientificName>
                  <mat-chip *ngFor="let scientificName of seletedscientificNames; let i = index;"
                     [selectable]="selectable" [removable]="removable" (removed)="removescientificNames(i)">
                     {{scientificName.nameDisplay}}
                     <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input [(ngModel)]="bulkForm.scientificName" name="scientificName"
                     (ngModelChange)="filteredscientificNames = _filterscientificNames(bulkForm.scientificName)"
                     [matAutocomplete]="autoCompletescientificNames" [matChipInputFor]="chipListScientificName">
               </mat-chip-list>
               <mat-autocomplete #autoCompletescientificNames="matAutocomplete"
                  (optionSelected)="AddSelectedscientificNames($event)">
                  <mat-option *ngFor="let scientificName of filteredscientificNames | async" [value]="scientificName">
                     {{scientificName.nameDisplay}}
                  </mat-option>
               </mat-autocomplete>
            </mat-form-field>


         </div>
         <div class='col-sm-6'>
            <h5 class="marginHeader">Made In</h5>
            <input matInput placeholder="country" class="form-control" name="madeIn"
               [matAutocomplete]="autoCompleteCountry" [(ngModel)]="bulkForm.madeIn"
               (ngModelChange)="countriesFilteration = _filterCountry(bulkForm.madeIn)">
            <mat-autocomplete #autoCompleteCountry="matAutocomplete" [displayWith]="displayFnCounty">
               <mat-option *ngFor="let country of countriesFilteration | async" [value]="country">
                  {{country.country}}
               </mat-option>
            </mat-autocomplete>

         </div>

      </div>
      <br>
      <hr>
      <div class="row">
         <div class='col-sm-6'>
            <h5 class="marginHeader">Selling Points</h5>
            <mat-form-field class="example-chip-list">
               <mat-chip-list #chipListSellingPoints>
                  <mat-chip *ngFor="let selling of seletedSellingPoints; let i = index;" [selectable]="selectable"
                     [removable]="removable" (removed)="removeSellingPoints(i)">
                     {{selling.name}}
                     <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input [(ngModel)]="bulkForm.sellingPoints" name="sellingPoints"
                     (ngModelChange)="filteredSellingPoints = _filterSellingPoints(bulkForm.sellingPoints)"
                     [matAutocomplete]="autoCompleteSellingPoints" [matChipInputFor]="chipListSellingPoints"
                     #sellingpointinput>
               </mat-chip-list>
               <mat-autocomplete #autoCompleteSellingPoints="matAutocomplete"
                  (optionSelected)="AddSelectedSellingPoints($event)">
                  <mat-option *ngFor="let selling of filteredSellingPoints | async" [value]="selling">
                     {{selling.name}}
                  </mat-option>
               </mat-autocomplete>
            </mat-form-field>

         </div>
         <div class="col-sm-6">
            <h5 class="marginHeader">Buyers </h5>
            <mat-form-field class="example-chip-list">
               <mat-chip-list #chipListBuyers>
                  <mat-chip *ngFor="let buyers of seletedBuyers; let i = index;" [selectable]="selectable"
                     [removable]="removable" (removed)="removeBuyers(i)">
                     {{buyers.name}}
                     <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input [(ngModel)]="bulkForm.buyers" name="buyers"
                     (ngModelChange)="filteredBuyers = _filterBuyers(bulkForm.buyers)"
                     [matAutocomplete]="autoCompleteBuyers" [matChipInputFor]="chipListBuyers">
               </mat-chip-list>
               <mat-autocomplete #autoCompleteBuyers="matAutocomplete" (optionSelected)="AddSelectedBuyers($event)">
                  <mat-option *ngFor="let buyers of filteredBuyers | async" [value]="buyers">
                     {{buyers.name}}
                  </mat-option>
               </mat-autocomplete>
            </mat-form-field>

         </div>
      </div>
      <br>
      <hr>
      <div class="row">
         <div class='col-sm-6'>
            <h5 class="marginHeader">Base Image</h5>
            <label class="custom-file">
               <input type="file" class="custom-file-input" (change)="handleBaseImageChange($event)"
                  onclick="this.value= null">
               <span class="custom-file-control"></span>
            </label>


         </div>
         <div class='col-sm-6'>
            <h5 class="marginHeader">Image</h5>
            <label class="custom-file mb-3">
               <input type="file" multiple class="custom-file-input" onclick="this.value= null"
                  (change)="handleImageChange($event)">
               <span class="custom-file-control"></span>
            </label>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6">
            <div *ngIf="baseImagePreview?.length>0" class="imgDiv">
               <label role="button" class="badge badge-danger" (click)="hideBaseImage()" class="close">X</label>
               <img [src]="baseImagePreview" (error)="handleBaseImgError()" class="img" style="max-width: 200px">
            </div>
         </div>
         <div class="col-sm-6" *ngIf="imagePreview?.length>0">
            <div style="display: inline-block" *ngFor="let item of imagePreview; let i = index">
               <div class="imgDiv">
                  <label role="button" class="badge badge-danger" (click)="hideimage(i)" class="close">X</label>
                  <img [src]="item.url" (error)="handleImageError(i)" class="img" style="max-width: 200px"> &nbsp;&nbsp;
               </div>
            </div>

         </div>

      </div>
      <hr>
      <div class="row">
         <div class='col-sm-6'>
            <h5 class="marginHeader">Logo</h5>
            <label class="custom-file">
               <input type="file" class="custom-file-input" (change)="handleLogoImageChange($event)"
                  onclick="this.value= null">
               <span class="custom-file-control"></span>
            </label>


         </div>
         <div class='col-sm-6'>
            <h5 class="marginHeader">Catalog</h5>
            <label class="custom-file">
               <input type="file" class="custom-file-input" (change)="handleCatalogChange($event)"
                  onclick="this.value= null">
               <span class="custom-file-control"></span>
            </label>


         </div>
      </div>

      <div class="row">
         <div class="col-sm-6">
            <div *ngIf="logoPreview?.length>0" class="imgDiv">
               <label role="button" class="badge badge-danger" (click)="hidelogo()" class="close">X</label>
               <img [src]="logoPreview" class="img" style="max-width: 200px">
            </div>
         </div>
         <div class="col-sm-6">
            <div *ngIf="catalogPreview?.length>0" class="imgDiv">
               <label role="button" class="badge badge-danger" (click)="hideCatalog()" class="close">X</label>
               <a href="{{catalogPreview}}" target="_blank" (error)="handleCatalogError()" class="img"
                  style="max-width: 200px">
                  {{catalogPreview}}
               </a>
            </div>
         </div>

      </div>
      <br>
      <hr>
      <div class="row">

         <div class="col" style="max-height: 150px">
            <h5 class="marginHeader">Description </h5>

            <quill-editor name="description" [(ngModel)]="bulkForm.description">
            </quill-editor>

         </div>

      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
      <a (click)="moreoptions()" id="smbutton">
         Additional Details
      </a>
      <hr>
      <div class="row">
         <div class="col"></div>
      </div>
      <div class="row" *ngIf="showmore">


         <label style="font-weight: bold; font-size: 14px"> speciality :
            <span style="font-weight: normal; font-size: 13px">{{showspecilaity}}</span></label>&nbsp;&nbsp;&nbsp;
         <label  style="font-weight: bold; font-size: 14px"> ScientificName
            :
            <span style="font-weight: normal; font-size: 13px">{{showscientificname}} </span> <br></label>
         <label *ngFor="let item of bulkForm?.productLink" style="font-weight: bold; font-size: 14px"> Productlink :
            <span style="font-weight: normal; font-size: 13px">{{item}}</span><br> </label> <br>
         <label *ngFor="let item of  bulkForm?.refererLink" style="font-weight: bold; font-size: 14px"> refererLink :
            <span style="font-weight: normal; font-size: 13px">{{item}}</span></label>
         <label *ngIf="bulkForm?.subSpecifications" style="font-weight: bold; font-size: 15px"> subSpecifications :
            <textarea disabled style="font-weight: normal; font-size: 13px; resize: none; overflow-y: scroll;"
               cols="125" rows="1">
               {{bulkForm.subSpecifications}}</textarea>
         </label>


      </div>
      <br>

      <div class="row">
         <div class="col pull-right">
            <button class="btn btn-primary pull-left" type="submit">Import</button>

         </div>
         <div class="col pull-left">
            <a class="btn btn-primary pull-right" (click)="Cancel()">Cancel</a></div>

      </div>

   </form>
</app-card>