<div class="spinner-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<div class="row overflow-x-auto">
  <table mat-table #sugTable [dataSource]="dataSource" matSort *ngIf="!isLoading && (dataSource?.data && dataSource?.data?.length > 0)">
    <ng-container matColumnDef="name" style="min-width: 300px">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.valueItem }}</td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell *matCellDef="let element">{{ element.company?.name }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{ element?.createdAt  | date:'shortDate'}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let element">

        <a mat-icon-button matTooltip="Merge" color="primary" (click)="ReplaceSuggested(element)">
          <mat-icon>call_merge</mat-icon>
        </a>

        <a mat-icon-button matTooltip="Approve" color="primary" (click)="OpenAddUpdate(element)" >
          <mat-icon>done</mat-icon>
        </a>

        <a mat-icon-button matTooltip="Delete" color="warn" (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </a>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row"></tr>
  </table>
  <mat-paginator [hidden]="isLoading || dataSource?.data?.length == 0" [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)">
  </mat-paginator>
</div>


<div class="no-data-container" [hidden]="isLoading || dataSource?.data && dataSource?.data?.length">
  <img src="assets/no-data.svg" alt="No data">
  <p>Oops! Nothing is here</p>
</div>
