<app-card>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let values">{{ values.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let values">{{ values.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let values">{{ values.type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Value">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
      <mat-cell *matCellDef="let values">{{ values.value }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Order">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Order</mat-header-cell>
      <mat-cell *matCellDef="let values"><!-- {{ values.value }} --></mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Status</mat-header-cell
      >
      <mat-cell *matCellDef="let values">{{ values.approved }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Company">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Company Name</mat-header-cell
      >
      <mat-cell *matCellDef="let values">{{ values.company?.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Actions</mat-header-cell
      >
      <mat-cell *matCellDef="let values"
        ><button
          class="btn-success btn-sm ng-star-inserted"
          (click)="Approve(values)"
        >
          Approve</button
        ></mat-cell
      >
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="10"
    showFirstLastButtons
  ></mat-paginator>
</app-card>
