<h1 mat-dialog-title>Action Log</h1>
<div mat-dialog-content>
  <table mat-table #table [dataSource]="dataSource" class="w-100">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="process">
      <th mat-header-cell *matHeaderCellDef>Process</th>
      <td mat-cell *matCellDef="let element">
        {{ element.process.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.completed && state === 'edit'; else viewDate">
          <mat-form-field appearance="outline" floatLabel="false">
            <input matInput [matDatepicker]="picker" [formControl]="nextActionForm.date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-container>
        <ng-template #viewDate>{{ element.date }}</ng-template>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>

      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.isNext && state === 'edit'; else viewType">
          <mat-form-field>
            <mat-select [formControl]="nextActionForm.type">
              <mat-option *ngFor="let type of actionType$ | async" [value]="type.id">
                {{ type.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-template #viewType>{{ element.type.name }}</ng-template>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.completed && state === 'edit'; else viewName">
          <mat-form-field>
            <mat-select [formControl]="nextActionForm.name">
              <mat-option *ngFor="let name of actionName$ | async" [value]="name">
                {{ name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-template #viewName>{{ element.name }}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.completed">
          <ng-container [ngSwitch]="state">
            <ng-container *ngSwitchCase="'view'">
              <button class="btn btn-primary btn-sm" (click)="toggleState()">Edit</button>
            </ng-container>
            <ng-container *ngSwitchCase="'edit'">
              <button class="btn btn-primary btn-sm mx-1" (click)="onSave()">Save</button>
              <button class="btn btn-danger btn-sm mx-1" (click)="toggleState()">Cancel</button>
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
