<app-filter [filterOptions]="filterOptions" (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>
    <button mat-raised-button color="primary" (click)="removeSelectedRows()">
        Remove Selected Rows
      </button>
  <table mat-table #table class="w-100" [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="ScientificName">
      <th mat-header-cell *matHeaderCellDef>ScientificName</th>
      <td mat-cell *matCellDef="let row"> {{row.scientificName}} </td>
    </ng-container>
    <ng-container matColumnDef="Company">
      <th mat-header-cell *matHeaderCellDef>Company</th>
      <td mat-cell *matCellDef="let row"> {{row.companyName}}</td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row"> 
        <button class="btn btn-danger btn-sm" (click)="Delete(row)">Delete</button> &nbsp;
    </ng-container>

    <tr style="text-align: center;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="10" [length]="length" showFirstLastButtons (page)="pageChange($event)">
  </mat-paginator>
</app-card>