<form id="thisForm" #product="ngForm" (ngSubmit)="submit(product)">
  <mat-dialog-content>

    <h2 mat-dialog-title class="text-center">{{basic_title}} Product</h2>
    <hr />

    <!-- TITLE and SUBTITLE -->
    <div class="row my-3">
      <div class="col-sm-6">
        <mat-form-field>
          <input 
            matInput 
            name="productTitle" 
            type="text" 
            placeholder="Title"
            [(ngModel)]="productForm.productTitle"
            #productTitle="ngModel" 
            required />
          <mat-error *ngIf="product.invalid && productTitle?.errors?.required">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field>
          <input 
            matInput
            name="productSubTitle" 
            type="text" 
            placeholder="Subtitle"
            [(ngModel)]="productForm.productSubTitle"
            #productSubTitle="ngModel" 
            required />
          <mat-error *ngIf="product.invalid && productSubTitle?.errors?.required">
            Subtitle is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Manufacturer & SCI Name -->
    <div class="row my-3">
      <div class="col-sm-6">
        <mat-form-field>
          <input 
            matInput 
            placeholder="Manufacturer" 
            name="manufacturer"
            [matAutocomplete]="autoCompleteManufacturer" 
            [(ngModel)]="productForm.manufacturer" 
            #manufacturer="ngModel"
            (ngModelChange)="_filterManufacturer(productForm.manufacturer)" required/>

          <mat-autocomplete #autoCompleteManufacturer="matAutocomplete" [displayWith]="displayFnManufacturer"
            (optionSelected)="getCatalog(productForm.manufacturer.id)">
            <mat-option *ngFor="let manu of manufacturerFilter" [value]="manu">
              {{ manu.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="product.invalid && manufacturer?.errors?.required">
            Manufacturer is required
          </mat-error>
        </mat-form-field>
      </div>


      <!-- Scientific Name (*) -->
      <div class="col-sm-6">
        <mat-form-field>
          <input 
            matInput 
            placeholder="Scientific name"
            name="scientificNameName"
            [matAutocomplete]="autoCompletescientificNames" 
            [(ngModel)]="productForm.scientificNames"
            #scientificinput="ngModel"
            (ngModelChange)="filterscientificNames(productForm.scientificNames)" required />

          <mat-autocomplete #autoCompletescientificNames="matAutocomplete" [displayWith]="displayFnSciName"
            (optionSelected)="AddSelectedscientificNames($event)">
            <mat-option *ngFor="let scientificNames of filteredscientificNames" [value]="scientificNames">
              {{ scientificNames.name }}
            </mat-option>
          </mat-autocomplete>
        
          <mat-error >
            Scientific name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>


    <!-- PUBLISH and COUNTRY -->
    <div class="row my-3">
      <div class='col-sm-6'>
        <mat-form-field>
          <input 
            matInput 
            placeholder="Made in"
            name="madeIn" 
            [matAutocomplete]="autoCompleteCountry"
            [(ngModel)]="productForm.madeIn" 
            (ngModelChange)="countriesFilteration = _filterCountry(productForm.madeIn)"
            #madeIn="ngModel" required />

          <mat-autocomplete #autoCompleteCountry="matAutocomplete" [displayWith]="displayFnCounty">
            <mat-option *ngFor="let country of countriesFilteration | async" [value]="country">
              {{country.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="product.invalid && madeIn?.errors?.required">
            Country is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-checkbox [(ngModel)]="productForm.published" name="published">
          Publish
        </mat-checkbox>
      </div>
    </div>


    <hr />


    <!-- Buyers and Selling Points -->
    <div class="row my-3">
      <div class="col-sm-6">
        <!-- <h5 class="marginHeader">Selling Points</h5> -->
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListSellingPoints>
            <mat-chip *ngFor="let selling of seletedSellingPoints; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeSellingPoints(i)">
              {{ selling.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input 
              [(ngModel)]="productForm.sellingPoints" 
              name="sellingPoints" 
              placeholder="Selling Points"
              (ngModelChange)="filteredSellingPoints = _filterSellingPoints(productForm.sellingPoints)" 
              [matAutocomplete]="autoCompleteSellingPoints" 
              [matChipInputFor]="chipListSellingPoints"
              #sellingpointinput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteSellingPoints="matAutocomplete"
            (optionSelected)="AddSelectedSellingPoints($event)">
            <mat-option *ngFor="let selling of filteredSellingPoints | async" [value]="selling">
              {{ selling.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <!-- <h5 class="marginHeader">Buyers (*)</h5> -->
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListBuyers>
            <mat-chip 
              *ngFor="let buyers of seletedBuyers; let i = index" 
              [selectable]="selectable"
              [removable]="removable" 
              (removed)="removeBuyers(i)">
              {{ buyers.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input 
              [(ngModel)]="productForm.buyer" 
              name="buyer"
              placeholder="Buyers"
              (ngModelChange)="filteredBuyers = _filterBuyers(productForm.buyer)" 
              [matAutocomplete]="autoCompleteBuyers"
              [matChipInputFor]="chipListBuyers" #buyersInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteBuyers="matAutocomplete" (optionSelected)="AddSelectedBuyers($event)">
            <mat-option *ngFor="let buyers of filteredBuyers | async" [value]="buyers">
              {{ buyers.name }}
            </mat-option>
          </mat-autocomplete>
          <!-- <mat-error *ngIf="product.invalid && seletedBuyers.length === 0">
            Buyers is required
          </mat-error> -->
        </mat-form-field>

      </div>
    </div>


    <hr />

    <!-- BASE IMAGE -->
    <div class="row my-3">
      <div class="col-sm-6">
        <h5 class="marginHeader">Base Image (*)</h5>
        <label class="custom-file">
          <input type="file" class="custom-file-input" name="subImage"
            [ngClass]="{ 'is-invalid': product.submitted && product.invalid }" (change)="handleBaseImageChange($event)"
            onclick="this.value= null" required />
          <span class="custom-file-control"></span>
        </label>
      </div>
      <div class="col-sm-6">
        <h5 class="marginHeader">Image</h5>
        <label class="custom-file mb-3">
          <input type="file" multiple class="custom-file-input" onclick="this.value= null"
            (change)="handleImageChange($event)" />
          <span class="custom-file-control"></span>
        </label>
      </div>
    </div>


    <div class="row my-3">
      <div class="col-sm-6">
        <div *ngIf="baseImagePreview.length > 0" class="imgDiv">
          <label role="button" class="badge badge-danger" (click)="hideBaseImage()" class="close">X</label>
          <img [src]="baseImagePreview[0]" (error)="handleBaseImgError()" class="img" style="max-width: 100%" />
        </div>
      </div>
      <div class="col-sm-6" *ngIf="imagePreview.length > 0">
        <div style="display: inline-block" *ngFor="let item of imagePreview; let i = index">
          <div class="imgDiv">
            <label role="button" class="badge badge-danger" (click)="hideimage(i)" class="close">X</label>
            <img [src]="item.url" (error)="handleImageError(i)" class="img" style="max-width: 100%" />
          </div>
        </div>
      </div>
    </div>

    <hr />


    <!-- Catalog -->
    <div class="row my-3">
      <div class="col-sm-6">
        <h5>Catalog </h5>
        <br />
        <div class="row">
          <div class="col" *ngIf="showCatType">
            <mat-form-field>
              <mat-select placeholder="Catalog" [(ngModel)]="productForm.productRangeId" name="productRangeId">
                <mat-option value=0 >None</mat-option>
                <mat-option *ngFor="let item of catalogs" [value]="item.id">
                  {{item.name}}
                </mat-option>
              </mat-select>
              <!-- <mat-hint *ngIf="productForm.catalogName" align="end">
                <a [href]="catalogs[productForm.productRangeId].id" target="_blank"> View File</a>
              </mat-hint> -->
            </mat-form-field>
          </div>

          <div class="col" *ngIf="!showCatType">
            <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="handleCatalogChange($event)" />
            <mat-form-field  class="pointer">
              <input matInput [placeholder]="uploadedFileName" disabled type="text" (click)="csvInput.click()">
              <mat-icon matSuffix color="primary" (click)="csvInput.click()" >cloud_upload</mat-icon>
              <mat-hint *ngIf="productForm.catalogName" align="end">
                <a [href]="this.productForm.catalogName" target="_blank"> View File</a>
              </mat-hint>
            </mat-form-field>
          </div>

        </div>

        <div class="row" *ngIf="catalogs && catalogs?.length">
          <div class="col">
            <a  mat-flat-button color="primary" (click)="showCat()">Or {{showCatType ? 'Deploy Your Own?' : 'Select from list'}}</a>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-6" *ngIf="!showCatType">
        <div class="row">
          
          <div class="col imgDiv" *ngIf="isImageToDisplay && catalogImagePreview[0].length">
            <h5>Image Preview </h5>
            <label role="button" class="badge badge-danger" (click)="hideCatalogImage()" class="close">
              <i class="material-icons">
                close
              </i>
            </label>
            <img [src]="catalogImagePreview[0]" class="img" style="max-width: 100%" />
          </div>
        </div>
      </div> -->
    </div>





    <hr />


    <div class="row my-3">
      <div class="col">
        <h5 class="marginHeader">Description</h5>
        <div class="quill-editor-edit custom-scroll">
          <quill-editor name="description" [(ngModel)]="productForm.description">
          </quill-editor>
        </div>
      </div>
    </div>

    <div class="row my-3">
      <div class="col">
        <h5 class="marginHeader">Comments by Aumet</h5>
        <div class="quill-editor-edit custom-scroll">
          <quill-editor name="aumetComment" [(ngModel)]="productForm.aumetComment"> </quill-editor>
        </div>
      </div>
    </div>


  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="onCancel()" tabindex="-1">Close</button>
    <button type="submit" mat-raised-button color="primary" class="mx-1" cdkFocusInitial>
      <span *ngIf="this.submitLoader" class="spinner-border spinner-border-sm" role="status"></span>
      <span *ngIf="this.submitLoader" class="load-text"> Loading...</span>
      <span *ngIf="!this.submitLoader" class="btn-text">{{basic_title}}</span> 
    </button>
  </mat-dialog-actions>

</form>