<div class="container-fluid">
  <tag-input
    [ngClass]="'tag-select'"
    theme="bootstrap"
    (onAdd)="handleAdd($event)"
    (onRemove)="handleRemove($event)"
    [onlyFromAutocomplete]="true"
    [(ngModel)]="mainData.value"
    [secondaryPlaceholder]="mainData.title"
  >
    <tag-input-dropdown
    [showDropdownIfEmpty]="true"
      [autocompleteItems]="mainData.list"
      [keepOpen]="false"
    ></tag-input-dropdown>
  </tag-input>
</div>
<hr />
