mat-form-field {
    width: 100% !important;
}
.mat-input-element {
    width: 100% !important;  
}
table {
    width: 100%;
    overflow: auto;
}

td,
th {
    padding: 10px 10px 10px 0;
    min-width: 120px;
    text-align: center !important;
    justify-content: center !important;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
}

.mat-cell {
    padding: 10px 10px 10px 0;
    text-align: center;
    justify-content:center;
}

.mat-column-Select {
    padding: 10px 10px 10px 0;
}

.mat-elevation-z8 {
    overflow-x: auto;
}

.spinner-container {
    mat-spinner {
      margin: 20% auto;
    }
  }
  

