<app-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="crawlerForm">
        <div class="material-container">
            <div class="row my-3">

                <div class="col-sm-6">
                    <mat-form-field>
                        <input [formControl]="manufacturerCtrl" type="text" placeholder="Manufacturer" matInput [matAutocomplete]="manufacturerAuto">
                        <mat-autocomplete autoActiveFirstOption #manufacturerAuto="matAutocomplete" [displayWith]="displayFnManufacturer">
                            <mat-option *ngFor="let item of manufacturers$ | async; let index = index" [value]="item">
                                {{ item.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput placeholder="Company Website" formControlName="companyWebSite" type="text">
                    </mat-form-field>
                </div>
            </div>


            <div class="row my-3">

                <div class="col-sm-6">
                    <mat-label class="aum-label small">Scientific Name</mat-label>
                    <tag-input secondaryPlaceholder="Add Scientific Name.." placeholder="Scientific Name" formControlName="scientficNameIDs" [identifyBy]="'id'" [displayBy]="'name'">
                        <tag-input-dropdown [autocompleteObservable]='requestAutocompleteItems' [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
                    </tag-input>
                </div>

                <div class="col-sm-6">
                    <mat-label class="aum-label small">Country</mat-label>
                    <tag-input secondaryPlaceholder="Add Country.." placeholder="Country" formControlName="countryIDs" [identifyBy]="'id'" [displayBy]="'name'">
                        <tag-input-dropdown [autocompleteItems]="countries"  [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
                    </tag-input>
                </div>
            </div>


            <div class="row my-3">

                <div class="col-sm-4">
                    <mat-label class="aum-label small">Medical Line</mat-label>
                    <tag-input [onlyFromAutocomplete]="true" secondaryPlaceholder="Add Medical Line.." placeholder="Medical Line" formControlName="medicalLineIds" [identifyBy]="'id'" [displayBy]="'name'">
                        <tag-input-dropdown [autocompleteItems]="medicalLineList" [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
                    </tag-input>
                </div>

                <div class="col-sm-4">
                    <mat-label class="aum-label small">Speciality</mat-label>
                    <tag-input [onlyFromAutocomplete]="true" secondaryPlaceholder="Add Speciality.." placeholder="Speciality" formControlName="mainSpecialityCtrl" [identifyBy]="'id'" [displayBy]="'name'">
                        <tag-input-dropdown  [autocompleteObservable]='requestSpecialityAutocompleteItems'  [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
                    </tag-input>
                </div>

                <!--  -->
                <div class="col-sm-4">
                    <mat-label class="aum-label small">Sub Speciality</mat-label>
                    <tag-input [onlyFromAutocomplete]="true"  secondaryPlaceholder="Add Sub Speciality.." placeholder="Sub Speciality" formControlName="specialityIds" [identifyBy]="'id'" [displayBy]="'name'">
                        <tag-input-dropdown [autocompleteObservable]='requestSubSpecialityAutocompleteItems' [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
                    </tag-input>
                </div>

            </div>


            <div class="row mt-5">

                <div class="col-sm-4">
                    <mat-form-field>
                        <mat-select formControlName="isApproved" placeholder="Is Approved" (selectionChange)="onSelectApprovedChange($event)">
                          <mat-option value='null'>Both</mat-option>
                          <mat-option *ngFor="let item of optionList" [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <mat-select formControlName="checked" placeholder="Is Checked" (selectionChange)="onSelectCheckedChange($event)">
                          <mat-option  value='null'>Both</mat-option>
                          <mat-option *ngFor="let item of optionList" [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker>
                    </ngx-mat-drp>
                </div>
            </div>




            <div class="form-group form-default float-right mt-2">
                <input type="submit" value="submit" class="btn btn-primary">
            </div>
        </div>

    </form>
</app-card>

<app-card >

    <div class="spinner-container">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>

    <div class="row mat-elevation-z8">

        <table #table mat-table [dataSource]="dataSource" matSort *ngIf="!isLoading && (dataSource?.data && dataSource?.data?.length > 0)">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>


            <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Company Name
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.companyName}}
                </td>
            </ng-container>


            <ng-container matColumnDef="taggedTexts">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Tagged Texts
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.taggedTexts}}
                </td>
            </ng-container>


            <ng-container matColumnDef="scientificName">

                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Name
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.scientificName}}
                </td>
            </ng-container>


            <ng-container matColumnDef="medicalLineName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Medical Line
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.medicalLineName}}
                </td>
            </ng-container>


            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef>
                    Link
                </th>
                <td mat-cell *matCellDef="let row">
                    <a *ngIf="row?.links?.length <= 1" style="color: blue !important;" href="{{row.links? row.links[0] : ''}}" target="_blank">
                        {{row.links? row.links[0] : ''}}</a>

                    <a *ngIf="row?.links?.length > 1" style="color: blue !important;" (click)="openDialog(row.links)">See
                        more</a>
                </td>
            </ng-container>


            <ng-container matColumnDef="scientificNameId">
                <th mat-header-cell *matHeaderCellDef>
                    ID
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.scientificNameID}}
                </td>
            </ng-container>


            <ng-container matColumnDef="mainSpeciality">
                <th mat-header-cell *matHeaderCellDef>
                    Main Specialities
                </th>
                <td mat-cell *matCellDef="let row">
                   {{row.mainSpeciality[0]?.parentName}}
                </td>
            </ng-container>


            <ng-container matColumnDef="childSpeciality">
                <th mat-header-cell *matHeaderCellDef>
                    Child Specialities
                </th>
                <td mat-cell *matCellDef="let row">
                   {{row.mainSpeciality[0]?.name}}
                </td>
            </ng-container>


            <ng-container matColumnDef="isApproved">
                <th mat-header-cell *matHeaderCellDef>
                    Is Approved
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [checked]="row.isApproved" (click)="$event.stopPropagation();" (change)="OnApprovedClick($event, row)"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="checked">
                <th mat-header-cell *matHeaderCellDef>
                    Is checked
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [checked]="row.isChecked" (click)="$event.stopPropagation();" (change)="OnCheckedClick($event, row)"></mat-checkbox>
                </td>
            </ng-container>


            <ng-container matColumnDef="countryName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Country
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.countryName}}
                </td>
            </ng-container>


            <ng-container matColumnDef="language">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Language
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.language}}
                </td>
            </ng-container>


            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef>
                    Alternatives
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.note}}
                </td>
            </ng-container>


            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Created at
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.createdAt | date}}
                </td>
            </ng-container>
 
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>


        <mat-paginator showFirstLastButtons [hidden]="isLoading || length == 0 " [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"  [length]="length" (page)="pageChange($event)"></mat-paginator>
    </div>

    <div class="no-data-container" [hidden]="isLoading || dataSource?.data && dataSource?.data?.length">
        <img src="assets/no-data.svg" alt="No data">
        <p>Oops! Nothing is here</p>
    </div>
    
</app-card>