<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <p *ngFor="let item of data">
        <a href="{{item}}" target="_blank">{{item}}</a>
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
</div>