<app-filter [filterOptions]="filterOptions" (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>
  <ngb-tabset (tabChange)="actionTabChange($event)">

    <ngb-tab title="Inquiry" id="1">
      <ng-template ngbTabContent>
        <div class="">

          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="row" style="overflow-x: auto">
            <table mat-table #table [dataSource]="inquirySource" matSort *ngIf="!isLoading && (inquirySource?.data && inquirySource?.data?.length > 0)">

              <!-- ! ACTIONS Column -->
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Actions
                </th>

                <td mat-cell *matCellDef="let element">

                  <a mat-icon-button matTooltip="Freeze" color="primary" (click)="updateInquiryStatus(element, 4)">
                    <!-- <span mat-line>Reload</span> -->
                    <mat-icon>not_interested</mat-icon>
                  </a>
  
                  <a mat-icon-button matTooltip="Called" color="primary" (click)="updateInquiryStatus(element, 5)">
                    <!-- <span mat-line>Reload</span> -->
                    <mat-icon>replay</mat-icon>
                  </a>
                </td>
              </ng-container>


              <!-- ! Manufacturer Column -->
              <ng-container matColumnDef="manufacturerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
                <td mat-cell *matCellDef="let element" (click)="displayManufacturer(element)" style="cursor: pointer;">{{ element.manufacturerName }}</td>
              </ng-container>

              <!-- ! Distributor Column -->
              <ng-container matColumnDef="distributorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributor</th>
                <td mat-cell *matCellDef="let element" (click)="displayDistributor(element)" style="cursor: pointer;">{{ element.distributorName }}</td>
              </ng-container>

              <!-- ! Source Column -->
              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
                <td mat-cell *matCellDef="let element">{{ element?.source}}</td>
              </ng-container>

              <!-- ! Manufacturer Website Column -->
              <ng-container matColumnDef="manufacturerWebsite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Website</th>
                <td mat-cell *matCellDef="let element">{{ element?.manufacturerWebsite ? element?.manufacturerWebsite : '-'}}</td>
              </ng-container>

              <!-- ! Country Column -->
              <ng-container matColumnDef="Country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                
                <td mat-cell *matCellDef="let element">                  
                  <img width=24
                  matTooltipPosition="above"
                  matTooltip="{{ element?.country.countryName }}"
                  [src]="element.country.countryFlagPath"
                  />
                </td>
              </ng-container>

              <!-- ! Last Stage Column -->
              <ng-container matColumnDef="LastStage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last stage</th>
                <td mat-cell *matCellDef="let element">{{ element?.lastActionText}}</td>
              </ng-container>

              <!-- ! Last Stage Date Column -->
              <ng-container matColumnDef="LastStageDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Stage Date</th>
                <td mat-cell *matCellDef="let element">{{ element?.lastActionDate | date:'shortDate'}}</td>
              </ng-container>


              <!-- ! Next Stage Column -->
              <ng-container matColumnDef="NextStage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Next Stage</th>
                <td mat-cell *matCellDef="let element">{{ element?.nextActionText}}</td>
              </ng-container>

              
              <!-- ! Next Stage Date Column -->
              <ng-container matColumnDef="NextStageDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Next Stage Date</th>
                <td mat-cell *matCellDef="let element">{{ element?.nextActionDate | date:'shortDate'}}</td>
              </ng-container>


              <!-- ! Inquiry Source -->
              <ng-container matColumnDef="inquirySource">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Inquiry Source
                </th>
                <td mat-cell *matCellDef="let element" >
                  <button mat-flat-button (click)="openDialog(element,1)">
                    View All
                  </button>
                </td>
              </ng-container>

              <!-- ! Inquiry Messages -->
              <ng-container matColumnDef="messages">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Messages
                </th>
                <td mat-cell *matCellDef="let element" >
                  <button mat-flat-button (click)="openDialog(element,7)">
                    View All
                  </button>
                </td>
              </ng-container>

              <!-- ! All scientific names Column -->
              <ng-container matColumnDef="ManufacturerScientificNameCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  All Scientific Name
                </th>
                <td mat-cell *matCellDef="let element" >
                  <!-- {{ element.manufacturerScientificNameCount }} -->
                  <button 
                    mat-flat-button
                    [matBadge]="element.manufacturerScientificNameCount" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,2)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! All Specialties Column -->
              <ng-container matColumnDef="ManufacturerSpecialtyCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  All specialities
                </th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{ element.manufacturerSpecialtyCount }} -->
                  <button 
                    mat-flat-button
                    [matBadge]="element.manufacturerSpecialtyCount" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,3)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! All Medical lines Column -->
              <ng-container matColumnDef="ManufacturerMedicalLineCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  All Medical Line
                </th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{ element.manufacturerMedicalLineCount }} -->
                  <button 
                    mat-flat-button
                    [matBadge]="element.manufacturerMedicalLineCount" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,4)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! Name Column -->
              <!-- <ng-container matColumnDef="PhoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                <td mat-cell *matCellDef="let element">{{ element?.companyPhone}}</td>
              </ng-container> -->
              <ng-container matColumnDef="ManufacturerUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  User
                </th>
                <td mat-cell *matCellDef="let element" >
                  <!-- {{ element.manufacturerMedicalLineCount }} -->
                  <button 
                    mat-flat-button
                    *ngIf="element.users"
                    [matBadge]="element.users.length" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,5)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! Email Column -->
              <!-- <ng-container matColumnDef="PhoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                <td mat-cell *matCellDef="let element">{{ element?.companyPhone}}</td>
              </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>

            <mat-paginator *ngIf="!isLoading && inquirySource?.data?.length" [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)">
            </mat-paginator>
          </div>

          <div class="no-data-container" [hidden]="isLoading || inquirySource?.data && inquirySource?.data?.length">
            <img src="assets/no-data.svg" alt="No data">
            <p>Oops! Nothing is here</p>
          </div>
          
        </div>
      </ng-template>
    </ngb-tab>

    
    <ngb-tab title="Email Needed" id="2">
      <ng-template ngbTabContent>
        <div class="">

          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="row" style="overflow-x: auto">
            <table mat-table #table [dataSource]="inquirySource" matSort *ngIf="!isLoading && (inquirySource?.data && inquirySource?.data?.length > 0)">

              <!-- ! ACTIONS Column -->
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Actions
                </th>
                <td mat-cell *matCellDef="let element">

                  <a mat-icon-button matTooltip="Add Email" color="primary" (click)="openDialog(element, 6)">
                    <!-- <span mat-line>Reload</span> -->
                    <mat-icon>mark_email_read</mat-icon>
                  </a>

                  <a mat-icon-button matTooltip="Freeze" color="primary" (click)="updateInquiryStatus(element, 4)">
                    <!-- <span mat-line>Reload</span> -->
                    <mat-icon>not_interested</mat-icon>
                  </a>

                </td>
              </ng-container>


              <!-- ! Manufacturer Column -->
              <ng-container matColumnDef="manufacturerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
                <td mat-cell *matCellDef="let element" (click)="displayManufacturer(element)" style="cursor: pointer;">{{ element.manufacturerName }}</td>
              </ng-container>

              <!-- ! Distributor Column -->
              <ng-container matColumnDef="distributorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributor</th>
                <td mat-cell *matCellDef="let element" (click)="displayDistributor(element)" style="cursor: pointer;">{{ element.distributorName }}</td>
              </ng-container>

              <!-- ! Source Column -->
              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
                <td mat-cell *matCellDef="let element">{{ element?.source}}</td>
              </ng-container>


              <!-- ! Manufacturer Website Column -->
              <ng-container matColumnDef="manufacturerWebsite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Website</th>
                <td mat-cell *matCellDef="let element">{{ element?.manufacturerWebsite ? element?.manufacturerWebsite : '-'}}</td>
              </ng-container>

              <!-- ! Country Column -->
              <ng-container matColumnDef="Country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                
                <td mat-cell *matCellDef="let element">                  
                  <img width=24
                  matTooltipPosition="above"
                  matTooltip="{{ element?.country.countryName }}"
                  [src]="element.country.countryFlagPath"
                  />
                </td>
              </ng-container>

              <!-- ! Inquiry Messages -->
              <ng-container matColumnDef="messages">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Messages
                </th>
                <td mat-cell *matCellDef="let element" >
                  <button mat-flat-button (click)="openDialog(element,7)">
                    View All
                  </button>
                </td>
              </ng-container>


              <!-- ! Last Stage Column -->
              <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
                <td mat-cell *matCellDef="let element">{{ element?.reason}}</td>
              </ng-container>

              <!-- ! Added Date -->
              <ng-container matColumnDef="statusDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Added Date</th>
                <td mat-cell *matCellDef="let element">{{ element?.statusDate | date:'shortDate'}}</td>
              </ng-container>


               <!-- ! Inquiry Source -->
               <ng-container matColumnDef="inquirySource">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Inquiry Source
                </th>
                <td mat-cell *matCellDef="let element" >
                  <!-- {{ element.scientificNameCount }}
                  
                  [matBadge]="element.scientificNameCount" 
                  matBadgePosition="after" 
                  matBadgeColor="warn" 
                -->
                  <button mat-flat-button (click)="openDialog(element,1)">
                    View All
                  </button>
                </td>
              </ng-container>

              <!-- ! All scientific names Column -->
              <ng-container matColumnDef="ManufacturerScientificNameCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  All Scientific Name
                </th>
                <td mat-cell *matCellDef="let element" >
                  <!-- {{ element.manufacturerScientificNameCount }} -->
                  <button 
                    mat-flat-button
                    [matBadge]="element.manufacturerScientificNameCount" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,2)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! All Specialties Column -->
              <ng-container matColumnDef="ManufacturerSpecialtyCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  All specialities
                </th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{ element.manufacturerSpecialtyCount }} -->
                  <button 
                    mat-flat-button
                    [matBadge]="element.manufacturerSpecialtyCount" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,3)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! All Medical lines Column -->
              <ng-container matColumnDef="ManufacturerMedicalLineCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  All Medical Line
                </th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{ element.manufacturerMedicalLineCount }} -->
                  <button 
                    mat-flat-button
                    [matBadge]="element.manufacturerMedicalLineCount" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,4)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! Name and Email Column -->
              <!-- <ng-container matColumnDef="PhoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                <td mat-cell *matCellDef="let element">{{ element?.companyPhone}}</td>
              </ng-container> -->
              <ng-container matColumnDef="ManufacturerUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  User
                </th>
                <td mat-cell *matCellDef="let element" >
                  <!-- {{ element.manufacturerMedicalLineCount }} -->
                  <button 
                    mat-flat-button
                    *ngIf="element.users"
                    [matBadge]="element.users.length" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,5)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>
            <mat-paginator *ngIf="!isLoading && inquirySource?.data?.length" [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)">
            </mat-paginator>
          </div>

          <div class="no-data-container" [hidden]="isLoading || inquirySource?.data && inquirySource?.data?.length">
            <img src="assets/no-data.svg" alt="No data">
            <p>Oops! Nothing is here</p>
          </div>

        </div>
      </ng-template>
    </ngb-tab>

    
    <ngb-tab title="Stopped" id="3">
      <ng-template ngbTabContent>
        <div class="">

          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="row" style="overflow-x: auto">
            <table mat-table #table [dataSource]="inquirySource" matSort *ngIf="!isLoading && (inquirySource?.data && inquirySource?.data?.length > 0)">

              <!-- ! Manufacturer Column -->
              <ng-container matColumnDef="manufacturerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
                <td mat-cell *matCellDef="let element" (click)="displayManufacturer(element)" style="cursor: pointer;">{{ element.manufacturerName }}</td>
              </ng-container>

              <!-- ! Distributor Column -->
              <ng-container matColumnDef="distributorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributor</th>
                <td mat-cell *matCellDef="let element" (click)="displayDistributor(element)" style="cursor: pointer;">{{ element.distributorName }}</td>
              </ng-container>

              <!-- ! Source Column -->
              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
                <td mat-cell *matCellDef="let element">{{ element?.source}}</td>
              </ng-container>


              <!-- ! Manufacturer Website Column -->
              <ng-container matColumnDef="manufacturerWebsite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Website</th>
                <td mat-cell *matCellDef="let element">{{ element?.manufacturerWebsite ? element?.manufacturerWebsite : '-'}}</td>
              </ng-container>

              <!-- ! Country Column -->
              <ng-container matColumnDef="Country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                
                <td mat-cell *matCellDef="let element">                  
                  <img width=24
                  matTooltipPosition="above"
                  matTooltip="{{ element?.country.countryName }}"
                  [src]="element.country.countryFlagPath"
                  />
                </td>
              </ng-container>

              <!-- ! Inquiry Messages -->
              <ng-container matColumnDef="messages">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Messages
                </th>
                <td mat-cell *matCellDef="let element" >
                  <button mat-flat-button (click)="openDialog(element,7)">
                    View All
                  </button>
                </td>
              </ng-container>

              
              <!-- ! Stopped stage Column -->
              <ng-container matColumnDef="lastActionText">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Stopped stage</th>
                <td mat-cell *matCellDef="let element">{{ element?.lastActionText}}</td>
              </ng-container>

              <!-- ! Stopped Date Column -->
              <ng-container matColumnDef="statusDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Stopped Date</th>
                <td mat-cell *matCellDef="let element">{{ element?.statusDate | date:'shortDate'}}</td>
              </ng-container>


              <!-- ! Reason Column -->
              <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
                <td mat-cell *matCellDef="let element">{{ element?.reason}}</td>
              </ng-container>

              
              <!-- ! Next Stage Date Column -->
              <ng-container matColumnDef="NextStageDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Next Stage Date</th>
                <td mat-cell *matCellDef="let element">{{ element?.nextActionDate | date:'shortDate'}}</td>
              </ng-container>


              <!-- ! Inquiry Source -->
              <ng-container matColumnDef="inquirySource">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Inquiry Source
                </th>
                <td mat-cell *matCellDef="let element" >
                  <!-- {{ element.scientificNameCount }}
                  
                  [matBadge]="element.scientificNameCount" 
                  matBadgePosition="after" 
                  matBadgeColor="warn" 
                -->
                  <button mat-flat-button (click)="openDialog(element,1)">
                    View All
                  </button>
                </td>
              </ng-container>

              <!-- ! All scientific names Column -->
              <ng-container matColumnDef="ManufacturerScientificNameCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  All Scientific Name
                </th>
                <td mat-cell *matCellDef="let element" >
                  <!-- {{ element.manufacturerScientificNameCount }} -->
                  <button 
                    mat-flat-button
                    [matBadge]="element.manufacturerScientificNameCount" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,2)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! All Specialties Column -->
              <ng-container matColumnDef="ManufacturerSpecialtyCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  All specialities
                </th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{ element.manufacturerSpecialtyCount }} -->
                  <button 
                    mat-flat-button
                    [matBadge]="element.manufacturerSpecialtyCount" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,3)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! All Medical lines Column -->
              <ng-container matColumnDef="ManufacturerMedicalLineCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  All Medical Line
                </th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{ element.manufacturerMedicalLineCount }} -->
                  <button 
                    mat-flat-button
                    [matBadge]="element.manufacturerMedicalLineCount" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,4)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! Name Column -->
              <!-- <ng-container matColumnDef="PhoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                <td mat-cell *matCellDef="let element">{{ element?.companyPhone}}</td>
              </ng-container> -->
              <ng-container matColumnDef="ManufacturerUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  User
                </th>
                <td mat-cell *matCellDef="let element" >
                  <!-- {{ element.manufacturerMedicalLineCount }} -->
                  <button 
                    mat-flat-button
                    *ngIf="element.users"
                    [matBadge]="element.users.length" 
                    matBadgePosition="after" 
                    matBadgeColor="warn" 
                    (click)="openDialog(element,5)"
                    >
                      View All
                  </button>
                </td>
              </ng-container>

              <!-- ! Email Column -->
              <!-- <ng-container matColumnDef="PhoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                <td mat-cell *matCellDef="let element">{{ element?.companyPhone}}</td>
              </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>
            <mat-paginator *ngIf="!isLoading && inquirySource?.data?.length" [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)">
            </mat-paginator>
          </div>

          <div class="no-data-container" [hidden]="isLoading || inquirySource?.data && inquirySource?.data?.length">
            <img src="assets/no-data.svg" alt="No data">
            <p>Oops! Nothing is here</p>
          </div>

        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</app-card>