table {
  width: 100%;
}
.mat-cell {
  padding: 10px 10px 10px 5px;
  // text-align: center;
  flex: auto;
  justify-content: center;
}
.mat-header-cell {
  // text-align: center;
  padding: 10px 10px 10px 0;
  flex: auto;
  justify-content: center;
}
.mat-flat-button {
  border-radius: 24px;
  line-height: 30px;
  font-size: 13px;
}

.spinner-container {
  mat-spinner {
    margin: 20% auto;
  }
}
