<h2 mat-dialog-title>{{title}} Company</h2>

<form #company="ngForm" (ngSubmit)="submit(company)">
  <div mat-dialog-content>

    <div class="row">
      <div class="col-sm-6">
        <h5 class="marginHeader">Company Logo</h5>
        <label class="custom-file mb-3">
          <input type="file" class="custom-file-input" onclick="this.value= null"
            (change)="handleBaseImageChange($event)" name="Logo" />
          <span class="custom-file-control"></span>
        </label>
      </div>
      <div class="col-sm-6">
        <div class="imgDiv" *ngIf="imagePreview[0]">
          <label role="button" class="badge badge-danger" (click)="hideBaseImage()" class="close">X</label>
          <img [src]="imagePreview[0]" style="max-width: 50%" />
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-6">
        <h5 class="marginHeader">Company Name</h5>
        <input matInput type="text" placeholder="Company Name" name="CompanyName" class="form-control" #cName="ngModel"
          required [(ngModel)]="compForm.CompanyName" />
        <div *ngIf="company.submitted && company.invalid" class="invalid-feedback">
          <div *ngIf="cName?.errors?.required">
            Company Name is required
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h5 class="marginHeader">Country</h5>
        <mat-form-field>
          <mat-select [(ngModel)]="compForm.country" name="country" #cntry="ngModel" required>
            <mat-option *ngFor="let Cname of countries" [value]="Cname.id">{{ Cname.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="company.submitted && company.invalid" class="invalid-feedback">
          <div *ngIf="cntry?.errors?.required">
            Country is required
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-6">
        <h5 class="marginHeader">Website URL</h5>
        <input matInput type="text" placeholder="Website URL" name="WebsiteUrl" class="form-control"
          [(ngModel)]="compForm.WebsiteUrl" />
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-sm-12">
        <h5 class="marginHeader">Description</h5>
        <div class="input-group">
          <quill-editor name="Description" [(ngModel)]="compForm.Description">
          </quill-editor>
        </div>
      </div>
    </div>
 

  </div>
  <hr />
  <div mat-dialog-actions align="end">
    <button type="submit" mat-raised-button color="warn" class="mx-1" type="submit" [disabled]="Disabled" cdkFocusInitial>Submit</button>
    <button type="reset" mat-raised-button color="primary" mat-dialog-close (click)="close(null)"
      tabindex="-1">Close</button>
  </div>

</form>