<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Welcome'">
        <!--  -->


        <div class="page-body">
            <div class="row">
          
              <!-- amount start -->
              <div class="col-md-6 col-xl-4">
                <div class="card amount-card o-hidden">
                  <div class="card-block">
                    <h2 class="f-w-400">$23,567</h2>
                    <p class="text-muted f-w-600 f-16"><span class="text-c-blue">Amount</span> Processed</p>
                  </div>
                  <div id="amount-processed" style="height:50px"></div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="card amount-card o-hidden">
                  <div class="card-block">
                    <h2 class="f-w-400">$14,552</h2>
                    <p class="text-muted f-w-600 f-16"><span class="text-c-green">Amount</span> Spent</p>
                  </div>
                  <div id="amount-spent" style="height:50px"></div>
                </div>
              </div>
              <div class="col-md-12 col-xl-4">
                <div class="card amount-card o-hidden">
                  <div class="card-block">
                    <h2 class="f-w-400">$31,156</h2>
                    <p class="text-muted f-w-600 f-16"><span class="text-c-yellow">Profit</span> Processed
                    </p>
                  </div>
                  <div id="profit-processed" style="height:50px"></div>
                </div>
              </div>
              <!-- amount end -->
          
              <!-- page statustic card start -->
              <div class="col-xl-3 col-md-6">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="text-c-yellow">$30200</h4>
                        <h6 class="text-muted m-b-0">All Earnings</h6>
                      </div>
                      <div class="col-4 text-right">
                        <i class="feather icon-bar-chart-2 f-28"></i>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-c-yellow">
                    <div class="row align-items-center">
                      <div class="col-9">
                        <p class="text-white m-b-0">% change</p>
                      </div>
                      <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="text-c-green">290+</h4>
                        <h6 class="text-muted m-b-0">Page Views</h6>
                      </div>
                      <div class="col-4 text-right">
                        <i class="feather icon-file-text f-28"></i>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                      <div class="col-9">
                        <p class="text-white m-b-0">% change</p>
                      </div>
                      <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="text-c-red">145</h4>
                        <h6 class="text-muted m-b-0">Task</h6>
                      </div>
                      <div class="col-4 text-right">
                        <i class="feather icon-calendar f-28"></i>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-c-red">
                    <div class="row align-items-center">
                      <div class="col-9">
                        <p class="text-white m-b-0">% change</p>
                      </div>
                      <div class="col-3 text-right">
                        <i class="feather icon-trending-down text-white f-16"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="text-c-blue">500</h4>
                        <h6 class="text-muted m-b-0">Downloads</h6>
                      </div>
                      <div class="col-4 text-right">
                        <i class="feather icon-thumbs-down f-28"></i>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-c-blue">
                    <div class="row align-items-center">
                      <div class="col-9">
                        <p class="text-white m-b-0">% change</p>
                      </div>
                      <div class="col-3 text-right">
                        <i class="feather icon-trending-down text-white f-16"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- page statustic card end -->
          
              <div class="col-xl-8 col-md-12">
                <app-card [title]="'Sales Analytics'" [headerClass]="'borderless'">
                  <div id="sales-analytics" style="height: 360px;"></div>
                </app-card>
              </div>
              <div class="col-xl-4 col-md-12">
                <div class="card">
                  <div class="card-block">
                    <h3>20500</h3>
                    <p class="text-muted">Site Analysis</p>
                    <div id="seo-anlytics1" style="height:50px"></div>
                  </div>
                </div>
                <div class="card bg-c-blue text-white widget-visitor-card">
                  <div class="card-block-small text-center">
                    <h2>5,678</h2>
                    <h6>Daily Visitor</h6>
                    <i class="feather icon-file-text"></i>
                  </div>
                </div>
                <div class="card bg-c-yellow text-white widget-visitor-card">
                  <div class="card-block-small text-center">
                    <h2>5,678</h2>
                    <h6>Last Month Visitor</h6>
                    <i class="feather icon-award"></i>
                  </div>
                </div>
              </div>
          
              <!-- seo start -->
              <div class="col-xl-6 col-md-12">
                <app-card [title]="'Allocation'">
                  <div class="row">
                    <div class="col-sm-8">
                      <div id="allocation-map" style="height:250px"></div>
                    </div>
                    <div class="col-sm-4">
                      <div id="allocation-chart" style="height:250px"></div>
                    </div>
                  </div>
                </app-card>
              </div>
              <div class="col-xl-6 col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center">
                      <div class="col-6">
                        <h3>$16,756</h3>
                        <h6 class="text-muted m-b-0">Visits<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
                      </div>
                      <div class="col-6">
                        <div id="seo-chart1" style="height:50px"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center">
                      <div class="col-6">
                        <h3>49.54%</h3>
                        <h6 class="text-muted m-b-0">Bounce Rate<i class="fa fa-caret-up text-c-green m-l-10"></i></h6>
                      </div>
                      <div class="col-6">
                        <div id="seo-chart2" style="height:50px"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center">
                      <div class="col-6">
                        <h3>16,256</h3>
                        <h6 class="text-muted m-b-0">Products<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
                      </div>
                      <div class="col-6">
                        <div id="seo-chart3" style="height:50px"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- seo end -->
          
            </div>
          </div>
        <!--  -->
      </app-card>
    </div>
  </div>
</div>
