.width-95 {
    width: 95%;
  }
  
  .width-100 {
    width: 100%;
  }
  
  .table-responsive {
    overflow-x: unset;
  }
  
  .conversation-image {
    position: relative;
  }
  
  .online-offline {
    height: 9.5px;
    width: 9.5px;
    // background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: -10px;
  }
  .online {
    background-color: green;
  }
  .offline {
    background-color: red;
  }
  .mh-600{
    max-height: 600px;
  }

  .scroll{
    overflow: scroll;
  }