<app-card [title]="'Chat'">
  <div class="row mh-600">
    <div class="col-lg-6 col-md-6 scroll">
      <div class="table-responsive conversations-panel">
        <table class="table table-hover">
          <tbody>
            <ng-container *ngFor="let conversation of conversations">
              <tr class="pointer" (click)="selectConversation(conversation?.ID)">
                <td>
                  <div class="row justify-content-between width-95">
                    <div class="conversations-image col-lg">
                      <img
                        [src]="conversation?._users?.profile_image || 'https://ptetutorials.com/images/user-profile.png'"
                        alt="user image" class="img-radius img-40 align-top m-r-15 "
                        style="position: absolute;left: 10px;" />
                      <img
                        [src]="conversation?._users?.profile_image || 'https://ptetutorials.com/images/user-profile.png'"
                        alt="user image" class="img-radius img-40 align-top m-r-15 "
                        style="    position: absolute;left: 30px; " />

                    </div>
                    <div class="col-auto">
                      <span>{{conversation?.SentAt | date: "shortTime"}}</span>
                    </div>
                  </div>

                  <div class="d-inline-block" style="top: 15px; position: relative;">
                    <h6>{{conversation?.GroupName}}</h6>
                  </div>
                  <div class="ml-3 mt-2 text-muted" style="top: 5px; position: relative;">
                    {{conversation?.message | slice:0:20 }} ....
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-lg-6 col-md-6">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</app-card>