<app-card>
  <div class="row justify-content-between">
    <div class="col-3">
    </div>
    <div class="col-auto mr-2">
      <button mat-raised-button color="primary" (click)="onCreateCountry()">New</button>
    </div>
  </div>
  <ng-container>
    <table mat-table #table class="w-100" [dataSource]="dataSource">
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let row">{{ row?.country.name }}</td>
      </ng-container>
      <ng-container matColumnDef="Flag">
        <th mat-header-cell *matHeaderCellDef>Flag</th>
        <td mat-cell *matCellDef="let row"><img  style="width: 75px; border-radius: 5%; padding: 10px 0;"
          src="{{ row?.flag }}" /></td>
      </ng-container>
      <ng-container matColumnDef="NumberofStories">
        <th mat-header-cell *matHeaderCellDef>Number Of Stories</th>
        <td mat-cell *matCellDef="let row">{{ row?.stories?.length }}</td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row" class="actions-column">
        <span *ngIf="row.published"><button mat-flat-button class="btn btn-primary btn-sm" (click)="Unpublished(row.id)">Unpublished</button></span>
        <span *ngIf="!row.published"><button mat-flat-button class="btn btn-primary btn-sm"(click)="published(row.id)">Publish</button></span>

        <button mat-flat-button class="mx-1 mat-button-small" color="primary" (click)="onEditCountry(row.id)">
          Edit
        </button>   <button mat-flat-button class="mx-1 mat-button-small" color="primary" (click)="copylink(row)">
          View Link
        </button>
           <button mat-flat-button class="mx-1 mat-button-small" color="warn" (click)="onDelete(row.id)">Delete</button>
           <button mat-flat-button class="mx-1 mat-button-small" color="accent" (click)="onOpenSEO(row)">SEO</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
  <mat-paginator [pageSize]="10" [length]="length" showFirstLastButtons (page)="pageChange($event)">
  </mat-paginator>

</app-card>
