<div
  class="container-fluid search"
  (mouseover)="openCollapse()"
  (mouseleave)="closeCollapse()"
>
  <div class="row">
    <div class="col">
      <form class="form-material">
        <div class="material-group">
          <div class="form-group form-primary">
            <input
              type="text"
              name="footer-email"
              class="form-control"
              [(ngModel)]="mainSearch.text"
              autocomplete="off"
            />
            <span class="form-bar"></span>
            <label class="float-label">{{ mainSearch.value }}</label>
          </div>
          <button
            class="btn btn-primary"
            style="padding: 8px 19px;"
            (click)="search()"
          >
            Search
          </button>
        </div>
      </form>
    </div>
  </div>

  <div
    class="row"
    *ngIf="isCollapsed"
    style="text-align: center; margin-bottom: 1%;"
  >
    <div class="col" style="margin: auto;">
      <button
        class="btn btn-primary btn-sm searchoption"
        *ngFor="let cat of mainCategories"
        value="{{ cat.id }}"
        name="{{ cat.value }}"
        api="{{ cat.api }}"
        style="margin-right: 5px;"
        (click)="handleButton($event)"
      >
        {{ cat.value }}
      </button>
    </div>
  </div>
</div>
