.search {
  border-bottom: 1px solid blue;
  width: 100%;
}
.form-material .form-control:focus ~ .float-label,
.form-material .form-control:valid ~ .float-label {
  top: -14px;
  font-size: 20px;
}
.btn-sm,
.btn-group-sm > .btn {
  font-size: 20px;
  margin: 2px;
}

.searchoption {
  background-color: #77a0e4;
  border-color: #77a0e4;
}
