<app-card>
  <div class="row justify-content-between">
    <div class="col-3">
    </div>
    <div class="col-auto mr-2">
      <button mat-raised-button color="primary" (click)="onCreateArticle()">New</button>
    </div>
  </div>
  <ng-container>
    <table mat-table #table class="w-100" [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let row">{{ row?.category.name }}</td>
      </ng-container>
      <ng-container matColumnDef="Related">
        <th mat-header-cell *matHeaderCellDef>Related</th>
        <td mat-cell *matCellDef="let row"><app-table-chips *ngIf="row.relatedArticls" [items]="row?.relatedArticls"></app-table-chips></td>
      </ng-container>
      <ng-container matColumnDef="published" >
        <th mat-header-cell *matHeaderCellDef>Published</th>
        <td mat-cell *matCellDef="let row"><app-checked-icon [boolean]="row.published"></app-checked-icon></td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row" class="actions-column">
          <button mat-flat-button class="mx-1 mat-button-small" color="primary" (click)="onEditArticle(row.id)">
            Edit
          </button>
          <button mat-flat-button class="mx-1 mat-button-small" color="warn" (click)="onDelete(row.id)">Delete</button>
          <button mat-flat-button class="mx-1 mat-button-small" color="accent" (click)="onOpenSEO(row)">SEO</button>
          <button
            mat-flat-button
            class="mx-1 mat-button-small mat-button-green"
            (click)="onPublish(row.id)"
            *ngIf="!row.published"
          >
            Publish
          </button>
          <button
            mat-flat-button
            class="mx-1 mat-button-small mat-button-green"
            (click)="onUnPublish(row.id)"
            *ngIf="row.published"
          >
            UnPublish
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
    [length]="length"
    (page)="pageChange($event)"
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="10"
    showFirstLastButtons
    ></mat-paginator>
  </ng-container>
</app-card>
