<app-filter
  *ngIf="pageType === 'scientific name'"
  [filterOptions]="filterOptions"
  (dataFromFilters)="handleDataFromFilters($event)"
></app-filter>

<app-card>

  <app-card>
    <div class="row justify-content-between">
      <div class="col-10">
        <form [formGroup]="Searchform" (ngSubmit)="searchSubmit()">
          <div class="col-12">
            <tag-input [addOnPaste]="true" secondaryPlaceholder="Search By Id or Name" placeholder="Search By Id or Name" formControlName="idOrName" [identifyBy]="'id'" [displayBy]="'name'">
              <tag-input-dropdown [focusFirstElement]="false" [autocompleteObservable]='requestAutocompleteItems' [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
            </tag-input>
          </div>
        </form>
      </div>

      <div class="col-2">
        <button (click)="OpenAddUpdate()" mat-stroked-button class="m-1 pull-right" matTooltip="Add Scientific Name">
          <mat-icon>add</mat-icon> Scientific Name
        </button>
      </div>
    </div>
  </app-card>


  <div class="spinner-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>


  <div class="row overflow-x-auto">
    <table mat-table [dataSource]="dataSourceArray" multiTemplateDataRows matSort [hidden]="isLoading || dataSourceArray?.length == 0">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      
      <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Scientific Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="approved">
        <th mat-header-cell *matHeaderCellDef>Approved</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.isApproved" (click)="$event.stopPropagation();" (change)="OnApprovedClick($event, element)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef>Checked</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.isChecked" (click)="$event.stopPropagation();" (change)="OnCheckedClick($event, element)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
          <img width=24 onerror="this.src='assets/images/scientific.png'" [src]="element.imagePath" />
        </td>
      </ng-container>

      

      <ng-container matColumnDef="medicalLine">
        <th mat-header-cell *matHeaderCellDef>Medical Line</th>
        <td mat-cell *matCellDef="let element">
          {{ element.medicalLine?.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="speciality">
        <th mat-header-cell *matHeaderCellDef>Speciality</th>
        <td mat-cell *matCellDef="let element">
          {{ element.mainSpeciality.parent.name}}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="subspeciality">
        <th mat-header-cell *matHeaderCellDef>Sub Speciality</th>
        <td mat-cell *matCellDef="let element">
          {{ element.mainSpeciality.child[0].name }}
        </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>

        <td mat-cell *matCellDef="let element" class="text-center">
          <a
            mat-icon-button
            matTooltip="Edit"
            color="primary"
            (click)="$event.stopPropagation();OpenAddUpdate(element)"
          >
            <mat-icon>edit</mat-icon>
          </a>

          <a
            mat-icon-button
            matTooltip="Merge"
            color="primary"
            (click)="$event.stopPropagation();MergeScient(element)"
          >
            <mat-icon>call_merge</mat-icon>
          </a>

          <a
            mat-icon-button
            matTooltip="Delete"
            color="warn"
            (click)="$event.stopPropagation();onDelete(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedRows.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            
            <app-quick-edit *ngIf="element == expandedElement" [sciData]="element" (onSubmitEvent)="onUpdateItem($event)"></app-quick-edit>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedRows"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedRows;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="element != expandedElement ? expandedElement = element : expandedElement = ''">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <mat-paginator [hidden]="isLoading || dataSourceArray?.length == 0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 50, 100]" [length]="totalItems" showFirstLastButtons ></mat-paginator>
  </div>

  <div class="no-data-container" [hidden]="isLoading || (dataSourceArray && dataSourceArray.length)">
    <p>Oops! Nothing is here. Try search with a different keywords</p>
    <img src="assets/no-data.svg" alt="Oops! Nothing is here.">
  </div>

</app-card>
