table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
  padding: 10px 10px 10px 0;
}


tr.example-element-row:hover{
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;

}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef; // ;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  background: #f1f1f1;
}



mat-form-field {
  width: 100%;
}

.spinner-container {
  mat-spinner {
    margin: 20% auto;
  }
}


.overflow-x-auto {
  overflow-x: auto;
}


// .mat-accordion .mat-header-row {
//   padding-left: 1.5rem;
//   padding-right: 2rem;
//   border-bottom: none;
// }
// mat-form-field {
//   width: 100%;
// }
// .mat-expansion-panel-header.mat-row {
//   border-bottom: none;
// }

// .mat-table {
//   background: #fff;
//   width: 100%;
// }

// .bg-grey {
//   background-color: rgba(255, 255, 255, 0.897) !important;
// }

// .dark-header { 
//   background-color: rgb(233, 233, 233) !important;
// }


// //copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
// $mat-header-row-height: 56px;
// $mat-row-height: 48px;
// $mat-row-horizontal-padding: 24px;

// .mat-table {
//   display: block;
// }

// .mat-header-row {
//   min-height: $mat-header-row-height;
// }

// .mat-row {
//   min-height: $mat-row-height;
// }

// .mat-row, .mat-header-row {
//   display: flex;
//   border-bottom-width: 1px;
//   border-bottom-style: solid;
//   align-items: center;
//   padding: 0 $mat-row-horizontal-padding;
//   box-sizing: border-box;

//   // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
//   // element that will stretch the row the correct height. See:
//   // https://connect.microsoft.com/IE/feedback/details/802625
//   &::after {
//     display: inline-block;
//     min-height: inherit;
//     content: '';
//   }
// }

// .mat-cell, .mat-header-cell {
//   flex: 1;
//   overflow: hidden;
//   word-wrap: break-word;
//   align-self: center;
//   text-align: center;
//   justify-content:center;
//   padding: 10px 10px 10px 0;
// }

// .example-container {
//   display: flex;
//   flex-direction: rows;
// }


// .example-container > * {
//   width: 100%;
// }

// .ng2-tag-input__text-input {
//   background-color: rgb(241, 241, 241) !important;
// }