<div class="container-fluid">
  <label class="d-flex align-items-center">
    <ui-switch value="{{mainData.toggel}}" class="js-single" color="#4680ff" switchColor="#fff" size="medium" (change)="handleToggel($event)"></ui-switch>
    <h5 style="margin-left: 5%;">{{mainData.title}}</h5>
  </label>
</div>
<hr>