<h4 mat-dialog-title>Delete {{ data.title }}</h4>
<div mat-dialog-content class="my-3">
  <div class="container">
    <span>Are you sure you want to delete the {{ data.title }} with ID: {{ data.id }}</span>
  </div>
</div>
<div mat-dialog-actions class="pull-right">
  <button mat-flat-button color="primary" class="mx-1" (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="warn" class="mx-1" (click)="onDelete()">Delete</button>
</div>
