<app-card>
  <form #Manu="ngForm" (ngSubmit)="submit(Manu)">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="marginHeader">Suggested Scientific Name</h5>
        <mat-form-field>
          <input type="text" matInput disabled [(ngModel)]="Sci1" name="Sci1" />
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <h5 class="marginHeader">Scientific Name</h5>
        <mat-form-field>
          <input type="text" placeholder="Scientific Name" (ngModelChange)="handleScientificChanging($event)" matInput
            [(ngModel)]="Sci2" name="Sci2" [matAutocomplete]="auto" required />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayScientific">
            <mat-option *ngFor="let option of Scientifics" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-6">
        <input type="submit" class="btn btn-primary" />
      </div>
      <div class="col-sm-6">
        <a class="btn  pull-right" (click)="close(null)">
          Close
        </a>
      </div>
    </div>
  </form>
</app-card>