<div class="modal-header">
  <h4 class="modal-title">
    <h2>{{ dialogData?.name }}</h2>
    <span>{{ dialogData?.type }}</span>
  </h4>
  <button mat-icon-button matTooltip="Close" (click)="close(null)">
    <mat-icon>close</mat-icon>
  </button>
</div>


<div class="modal-body">
  <div class="page-body">


    <div class="row my-3">
      <div class="col-md-12">
        
        <a target="_blank" [href]="bolink" mat-flat-button class="pull-right m-1 ">
          Open Business Opp
        </a>

        <a target="_blank" [href]="profilelink" mat-flat-button class="pull-right m-1 ">
          View Profile
        </a>

        <a target="_blank" href="{{openProfileLink}}/{{dialogData.slug}}" mat-flat-button class="pull-right m-1">
          Open Public View
        </a>

      </div>
    </div>


    <div class="row my-3">
      <div class="col-lg-12">
        <div class="md-tabs md-card-tabs">
          <ngb-tabset>

            <ngb-tab title="Personal Info">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="row">
                    <div class="col-sm-6 ">
                      <div class="card">
                        <div class="card-body">
                          <div class="customTableDesign">
                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Is Crawled</th>
                                    <th>Website</th>
                                    <th>Modification Date</th>
                                    <th>Registration Date</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Id">{{dialogData.companyID}}</td>
                                    <td data-label=" Name">{{dialogData.name}}</td>
                                    <td data-label="Country"> <img src="assets/images/flags24/{{
                            dialogData.country.countryCode.toUpperCase()
                          }}.png" />
                                    </td>
                                    <td data-label="Is Crawled">{{dialogData.isCrawled}}</td>
                                    <td data-label="Website">{{dialogData.website}}</td>
                                    <td data-label="Modification Date">{{dialogData.updatedAt | date:'shortDate'}}</td>
                                    <td data-label="Registration Date">
                                      {{dialogData.registrationDate | date:'shortDate'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 ">
                      <div class="card">
                        <div class="card-body">
                          <div class="customTableDesign">
                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Annual Sales</th>
                                    <th>Is Registered</th>
                                    <th>Is Client</th>
                                    <th>Number of Interest</th>
                                    <th>Number of Signed Agreements</th>
                                    <th>Number of Business Opp</th>
                                    <th>Number of Users</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Annual Sales">{{dialogData.annualSales}}</td>
                                    <td data-label="Is Registered">{{dialogData.isRegistered}}</td>
                                    <td data-label="Is Client"> {{dialogData.isClient}}</td>
                                    <td data-label="Number of Interest">{{dialogData.numInterests}}
                                    </td>
                                    <td data-label="Number of Signed Agreements">{{dialogData.numSignedAgreements}}
                                    </td>
                                    <td data-label="Number of Inquiries">{{dialogData.numBussinessOp}}</td>
                                    <td data-label="Number of Users">{{dialogData.numUsers }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-12">
                      <mat-accordion>
                        <mat-expansion-panel class="card" (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <div class="card-header"> Description </div>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="card-body user-desc">
                            <div class="view-desc" *ngIf="editAbout">
                              <div [innerHTML]="dialogData?.description"></div>
                            </div>
                            <div class="edit-desc" *ngIf="!editAbout">
                              <div class="col-md-12">
                                <div class="input-group">
                                  <quill-editor [(ngModel)]="dialogData.description" [options]="editorConfig">
                                  </quill-editor>
                                </div>
                              </div>
                              <div class="text-center col-sm-12">
                                <a (click)="savedescription()"
                                  class="btn btn-primary ripple light m-r-20 m-t-40">Save</a>
                                <a href="javascript:;" id="edit-cancel-btn" class="btn btn-default m-t-40 ripple"
                                  (click)="toggleEditAbout()">Cancel</a>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Users">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">

                  <app-card>
                    <div class="row justify-content-between">
                      <div class="col-10">
                        <!-- <h5>Users</h5> -->
                      </div>
                      <div class="col-2">
                        <button (click)="openAddUser(dialogData)" mat-stroked-button class="m-1 pull-right" matTooltip="Add User">
                          <mat-icon>add</mat-icon> User
                        </button>
                      </div>
                    </div>

                    <div class="row overflow-x-auto">
                      <table mat-table [dataSource]="dialogData?.users" *ngIf="dialogData?.users && dialogData?.users?.length > 0">
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> Id </th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="firstName">
                          <th mat-header-cell *matHeaderCellDef> First Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="lastName">
                          <th mat-header-cell *matHeaderCellDef> Last Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef> email </th>
                          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="currentStage">
                          <th mat-header-cell *matHeaderCellDef> Stage </th>
                          <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="phone">
                          <th mat-header-cell *matHeaderCellDef> Phone </th>
                          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="Action">
                          <th mat-header-cell *matHeaderCellDef> Action </th>
                          <td mat-cell *matCellDef="let element">
                            <button class="btn btn-primary btn-sm" (click)="EditUser(element, dialogData)"> Edit</button>
                            &nbsp;
                            <button class="btn btn-success btn-sm mr-1" (click)="onActivate(element.id)"
                              *ngIf="!element.isActive">
                              Activate
                            </button>
                            <button class="btn btn-warning btn-sm mr-1" (click)="onDeactivate(element.id)"
                              *ngIf="element.isActive">
                              Deactivate
                            </button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedusresColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedusresColumns;"></tr>
                      </table>

                    </div>

                    <div class="no-data-container" [hidden]="dialogData?.users && dialogData?.users?.length">
                      <img src="assets/no-data.svg" alt="No data">
                      <p>Oops! Nothing is here</p>
                    </div>

                  </app-card>

                </div>
              </ng-template>
            </ngb-tab>


            <ngb-tab title="Files">
              <ng-template ngbTabContent>

                <div [@fadeInOutTranslate]>
                  <app-card>

                    <div class="row overflow-x-auto">
                      <table  mat-table [dataSource]="dialogData[0]?.files" *ngIf="(dialogData[0]?.files && dialogData[0]?.files?.length > 0)">
                        <ng-container matColumnDef="Id">
                          <th mat-header-cell *matHeaderCellDef>
                            Id
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.id }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                          <th mat-header-cell *matHeaderCellDef>
                            Name
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.name}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Type">
                          <th mat-header-cell *matHeaderCellDef>
                            Type
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.type}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="Path">
                          <th mat-header-cell *matHeaderCellDef>
                            Action
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <a class="fa fa-eye" target="_blank" [href]="element.path"></a>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="filesDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="
                              let row;
                              columns: filesDisplayedColumns
                            "></tr>
                      </table>
                    </div>

                    <div class="no-data-container" [hidden]="dialogData[0]?.files && dialogData[0]?.files?.length">
                      <img src="assets/no-data.svg" alt="No data">
                      <p>Oops! Nothing is here</p>
                    </div>
                  </app-card>
                </div>

              </ng-template>
            </ngb-tab>

            <ngb-tab title="Interests">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate]>

                  <app-card>
                    <div class="row justify-content-between">
                      <div class="col-10">
                        <!-- <h5>Interests</h5> -->
                      </div>
                      <div class="col-2">
                        <button (click)="openAddInterests(dialogData)" mat-stroked-button class="m-1 pull-right" matTooltip="Add Interest">
                          <mat-icon>add</mat-icon> Interests
                        </button>
                      </div>
                    </div>

                    <div class="row overflow-x-auto">

                      <table mat-table [dataSource]="dialogData?.distributorInterests" *ngIf="dialogData?.distributorInterests && dialogData?.distributorInterests.length > 0">
                        <ng-container matColumnDef="Id">
                          <th mat-header-cell *matHeaderCellDef> Id </th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="ScientificName">
                          <th mat-header-cell *matHeaderCellDef> Scientific Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.scientificName.name}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="MedicalLine">
                          <th mat-header-cell *matHeaderCellDef> Medical Line </th>
                          <td mat-cell *matCellDef="let element"> {{element.medicalLine.name}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="Speciality">
                          <th mat-header-cell *matHeaderCellDef> Speciality </th>
                          <td mat-cell *matCellDef="let element"> {{element.specialty.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                          <th mat-header-cell *matHeaderCellDef> Action </th>
                          <td mat-cell *matCellDef="let element">
                            <button class="btn btn-primary btn-sm" (click)="EditInterest(element,dialogData)"> Edit</button>
                            &nbsp;
                            <button class="btn btn-danger btn-sm" (click)="DeleteInterest(element.id)"> Delete</button>
                          </td>
                        </ng-container>
  
                        <tr mat-header-row *matHeaderRowDef="displayedInterestColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedInterestColumns;"></tr>
                      </table>
                    </div>

                  <div class="no-data-container" [hidden]="dialogData?.distributorInterests && dialogData?.distributorInterests?.length">
                      <img src="assets/no-data.svg" alt="No data">
                      <p>Oops! Nothing is here</p>
                    </div>
                  </app-card>
                  
                  
                </div>
              </ng-template>
            </ngb-tab>


            <ngb-tab title="Experiences">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] >


                  <app-card>

                    <div class="row justify-content-between">
                      <div class="col-10">
                        <!-- <h5>Experiences</h5> -->
                      </div>
                      <div class="col-2">
                        <button (click)="openAddExperience(dialogData)" mat-stroked-button class="m-1 pull-right" matTooltip="Add Experience">
                          <mat-icon>add</mat-icon> Experiences
                        </button>
                      </div>
                    </div>

                    <div class="row overflow-x-auto">

                      <table mat-table [dataSource]="dialogData?.distributorExperiences" *ngIf="dialogData?.distributorExperiences && dialogData?.distributorExperiences.length > 0">
                        <ng-container matColumnDef="Id">
                          <th mat-header-cell *matHeaderCellDef> Id </th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="ScientificName">
                          <th mat-header-cell *matHeaderCellDef> Scientific Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.scientificName.name}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="MedicalLine">
                          <th mat-header-cell *matHeaderCellDef> Medical Line </th>
                          <td mat-cell *matCellDef="let element"> {{element.medicalLine.name}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="Speciality">
                          <th mat-header-cell *matHeaderCellDef> Speciality </th>
                          <td mat-cell *matCellDef="let element"> {{element.specialty.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                          <th mat-header-cell *matHeaderCellDef> Action </th>
                          <td mat-cell *matCellDef="let element">
                            <button class="btn btn-primary btn-sm" (click)="EditExperiences(element, dialogData)"> Edit</button>
                            &nbsp;
                            <button class="btn btn-danger btn-sm" (click)="DeleteExperiences(element.id)"> Delete</button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedExperienceColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedExperienceColumns;"></tr>
                      </table>
                    </div>


                    <div class="no-data-container" [hidden]="dialogData?.distributorExperiences && dialogData?.distributorExperiences?.length">
                      <img src="assets/no-data.svg" alt="No data">
                      <p>Oops! Nothing is here</p>
                    </div>
                  </app-card>

                </div>
              </ng-template>
            </ngb-tab>


            <ngb-tab title="Actions">




              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="row justify-content-md-center">
                  
                  <div class="col-sm-6">
                    <ngb-tabset>
                      <ngb-tab id="1" title="Comments">
                        <ng-template ngbTabContent>

                          <app-card class="my-3">
                            <div [@fadeInOutTranslate] >
                              <form #ad="ngForm" (ngSubmit)="onAddComment(ad)" class="normal-form">
                                <div class="container">
                                  <div class="row">
                                    <mat-form-field class="col-md-12">
                                      <textarea matInput placeholder="Comment" name="comment" #cmnt="ngModel" required [(ngModel)]="comment"></textarea>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <button type="submit" mat-flat-button color="warn" class="btn-block">
                                  Update
                                </button>
                              </form>
                            </div>
                          </app-card>


                        </ng-template>
                      </ngb-tab>
                      <ngb-tab id="3" title="Crawler">
                        <ng-template ngbTabContent>

                          <app-card class="my-3">
                            <div [@fadeInOutTranslate] >
                              <form #ad="ngForm" (ngSubmit)="onAddCrawler(ad)" class="normal-form">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <mat-form-field class="col-md-6">
                                        <input matInput placeholder="Website" name="Website" #webst="ngModel" required [(ngModel)]="Website">
                                      </mat-form-field>
                                      <mat-form-field class="col-md-6">
                                        <input matInput placeholder="Domain" name="Domain" #dmn="ngModel" required [(ngModel)]="Domain">
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                                <button type="submit"  mat-flat-button color="warn" class="btn-block">
                                  Update
                                </button>
                              </form>
                            </div>
                          </app-card>

                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
                  </div>


                </div>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>