table {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

th,
td {
  min-width: 150px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
.w-fit {
  width: fit-content;
}

.selectable {
  .mat-standard-chip {
    cursor: pointer;
  }
}
.overflow-x-auto {
  overflow-x: auto;
}
table {
  width: 100%;
}
.mat-cell {
  padding: 10px 10px 10px;
  text-align: center;
}
.mat-header-cell {
  text-align: center;
  padding: 10px 10px 10px;
}

.spinner-container {
  mat-spinner {
    margin: 20% auto;
  }
}
