<app-filter *ngIf="pageType == 'scientific name'" [filterOptions]="filterOptions"
  (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>
  <ngb-tabset (tabChange)="actionTabChange($event)">
    <ngb-tab title="Scientific Name" id="1">
      <ng-template ngbTabContent>
        
        <div>
          <app-card>
            <div class="row justify-content-between">
              <form id="thisForm" #Searchform="ngForm" (ngSubmit)="searchSubmit(Searchform)">
                <div class="col-12">
                  <div class="row">
                    <div class="col-5">
                      <mat-form-field class="w-100">
                        <input matInput type="number" ngModel id="id" name="id" placeholder="Id" />
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="w-100">
                        <input matInput id="name" ngModel name="name" placeholder="Name" />
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <button type="submit" mat-flat-button color="primary" class="my-2">
                        <mat-icon>search</mat-icon>  Search
                      </button>
                      <!-- <a (click)="clearForm(Searchform)"  class="btn btn-small btn-warning">
                      Clear
                    </a> -->
                    </div>
                  </div>
                </div>
              </form>
              <div class="col-auto mr-2">
                <button (click)="OpenAddUpdate(0)" mat-stroked-button class="m-1 pull-right" matTooltip="Add Scientific Name">
                  <mat-icon>add</mat-icon> Scientific Name
                </button>
              </div>
            </div>
          </app-card>

          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="row overflow-x-auto">
            <table #table mat-table matSort [dataSource]="dataSource" *ngIf="!isLoading && (dataSource?.data && dataSource?.data?.length > 0)">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>
              <ng-container matColumnDef="scientificName" style="min-width: 300px">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Scientific Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="medicalLine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Medical Line</th>
                <td mat-cell *matCellDef="let element">{{ element.medicalLine.name }}</td>
              </ng-container>
              <ng-container matColumnDef="relatedScientificName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Related Terms</th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{element.rt | json}} -->

                  <!-- <button *ngIf="element.rt.length > 0">{{element.rt.length}}</button> -->
                  <button *ngIf="element.rt && element.rt.length > 0; else viewAllRelated" mat-flat-button
                    [matBadge]="element.rt.length" matBadgePosition="after" matBadgeColor="warn"
                    (click)="viewAll(element.rt,'Related Scientific Name')">
                    View All
                  </button>
                  <ng-template #viewAllRelated>
                    <span style="text-align: center;"> N/A</span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="narrowerScientificName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Narrow Terms</th>
                <td mat-cell *matCellDef="let element">
                  <button *ngIf="element.nt && element.nt.length > 0; else viewAllNarrow" mat-flat-button
                    [matBadge]="element.nt.length" matBadgePosition="after" matBadgeColor="warn"
                    (click)="viewAll(element.nt,'Narrower Scientific Name')">
                    View All
                  </button>
                  <ng-template #viewAllNarrow>
                    <span style="text-align: center;"> N/A</span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="broaderScientificName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Broader Terms</th>
                <td mat-cell *matCellDef="let element">
                  <button *ngIf="element.bt && element.bt.length > 0; else viewAllBorder" mat-flat-button
                    [matBadge]="element.bt.length" matBadgePosition="after" matBadgeColor="warn"
                    (click)="viewAll(element.bt,'Broader Scientific Name')">
                    View All
                  </button>
                  <ng-template #viewAllBorder>
                    <span style="text-align: center;"> N/A</span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="speciality">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Specialities </th>
                <td mat-cell *matCellDef="let element">
                  <button *ngIf="element.specialities &&  element.specialities.length > 0; else viewAllSpeciality"
                    mat-flat-button color="primary" [matBadge]="element.specialities.length" matBadgePosition="after"
                    matBadgeColor="warn" (click)="viewAll(element.specialities,'Specialities')">
                    <!-- <mat-icon>remove_red_eye</mat-icon>  -->
                    View All
                  </button>

                  <ng-template #viewAllSpeciality>
                    <span style="text-align: center;"> N/A</span>
                  </ng-template>
                </td>
              </ng-container>


              <ng-container matColumnDef="distributornumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Distributors (Interest)</th>
                <td mat-cell *matCellDef="let element">

                  <button mat-mini-fab matTooltip="Distributors Interests" color="warn" (click)="showlist(element.id)">
                    {{ element.distributorCount }}
                  </button>
                </td>
              </ng-container>


              <ng-container matColumnDef="manufacturernumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer number</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-mini-fab matTooltip="Manufacturer number" color="warn" (click)="showlist(element.id)">
                    {{ element.manufacturerCount }}
                  </button>
                </td>
              </ng-container>


              <ng-container matColumnDef="CreatedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                <td mat-cell *matCellDef="let element">{{ element.approvedBy ? element.approvedBy : '-' }}</td>
              </ng-container>

              <ng-container matColumnDef="productnumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Product number</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-mini-fab matTooltip="Product number" color="warn" (click)="showlist(element.id)">
                    {{ element.productCount }}
                  </button>
                </td>
              </ng-container>


              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.createdAt | date:'shortDate' }}
                </td>
              </ng-container>


              <ng-container matColumnDef="marketanalysis">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Market Analysis</th>
                <td mat-cell *matCellDef="let element">{{ element.marketAnalysis }}</td>
              </ng-container>


              <ng-container matColumnDef="createdby">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                <td mat-cell *matCellDef="let element">{{ element?.createdBy }}</td>
              </ng-container>


              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>

                <td mat-cell *matCellDef="let element">
                  <a mat-icon-button matTooltip="Edit" color="primary" (click)="OpenAddUpdate(element)">
                    <mat-icon>edit</mat-icon>
                  </a>

                  <a mat-icon-button matTooltip="Approve" color="primary" 
                    (click)="onApprove(element.id)" *ngIf="!element.isApproved">
                    <mat-icon>done</mat-icon>
                  </a>

                  <a mat-icon-button matTooltip="Un Approve" color="primary"  
                    (click)="onUnApprove(element.id)" *ngIf="element.isApproved">
                    <mat-icon>cancel</mat-icon>
                  </a>

                  <a mat-icon-button matTooltip="Merge" color="primary" (click)="MergeScient(element)">
                    <mat-icon>call_merge</mat-icon>
                  </a>

                  <a mat-icon-button matTooltip="Delete" color="warn" (click)="onDelete(element.id)">
                    <mat-icon>delete</mat-icon>
                  </a>

                </td>
              </ng-container>

              <ng-container matColumnDef="viewpicture">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>View Picture</th>
                <td mat-cell *matCellDef="let element">
                  <img width=24 matTooltipPosition="above" onerror="this.src='assets/images/scientific.png'"
                    [src]="element.imagePath" />
                </td>

              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row"></tr>
            </table>
            <mat-paginator [hidden]="isLoading || dataSource?.data?.length == 0" [pageSize]="pageSize" [length]="totalItems" showFirstLastButtons (page)="pageChange($event)">
            </mat-paginator>
          </div>

        </div>


        <div class="no-data-container" [hidden]="isLoading || dataSource?.data && dataSource?.data?.length">
          <p>Oops! Nothing is here. Try search with a different keywords</p>
          <img src="assets/no-data.svg" alt="No data">
        </div>

      </ng-template>
    </ngb-tab>
    <ngb-tab title="Scientific Name Suggestions" id="2">
      <ng-template ngbTabContent>
        <div>
          <app-suggested-scientific-name></app-suggested-scientific-name>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</app-card>