<app-filter [filterOptions]="filterOptions" (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>


  <button class="btn btn-primary btn-sm  pull-right" mat-raised-button (click)="Add()">
    Add
  </button>


  <br />
  <br />
  <div class="interest">


    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let values" style=" display: inline-block;">{{ values.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="UserName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</mat-header-cell>
        <mat-cell (click)="viewCompany(values.company.token, values.company.id)" *matCellDef="let values"
          style=" display: inline-block;">{{ values.company?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="source">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Source</mat-header-cell>
        <mat-cell *matCellDef="let values" style=" display: inline-block;">{{ values.source }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
        <mat-cell *matCellDef="let values" style=" display: inline-block;">{{
          values.creationDate | date
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ScientificName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Scientific Name</mat-header-cell>
        <mat-cell *matCellDef="let values" style=" display: inline-block;">{{
          values.interestScientificName?.scientificName
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Speciality">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Speciality</mat-header-cell>
        <mat-cell *matCellDef="let values">{{values.interestScientificName?.speciality}}<img src="https://s3-us-west-2.amazonaws.com/aumet-data/icons/specialities/{{
              values.interestScientificName?.specialityIconImg
            }}" class="latest-posts-img" width="40px" /></mat-cell>
      </ng-container>

      <ng-container matColumnDef="MedicalLine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Medical Line</mat-header-cell>
        <mat-cell *matCellDef="let values" style=" display: inline-block;">
          {{ values.interestScientificName?.medicalLine }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="TargetedPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Targeted Price</mat-header-cell>
        <mat-cell *matCellDef="let values" style=" display: inline-block;">{{ values.targetPrice }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="AnnualTarget">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Annual Target</mat-header-cell>
        <mat-cell *matCellDef="let values" style=" display: inline-block;">{{ values.annualTarget }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="TargetedRegion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Targeted Region</mat-header-cell>
        <mat-cell *matCellDef="let values" style=" display: inline-block;">
          <p>
            <span *ngFor="let item of values.region"> {{ item.name }} ,</span>
          </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Comments" style=" display: inline-block;">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Comments</mat-header-cell>
        <mat-cell (click)="ViewComments(values)" style="color:blueviolet" *matCellDef="let values">View Comments
          ({{values.numberOFComments}})</mat-cell>
      </ng-container>

      <ng-container matColumnDef="InitialOrder">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Initial Order</mat-header-cell>
        <mat-cell *matCellDef="let values" style=" display: inline-block;">{{ values.initialOrder }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
        <mat-cell *matCellDef="let values" style="font-size: 3px">&nbsp;<button class="btn btn-primary btn-sm"
            (click)="addComment(values)">
            Comment</button>&nbsp;<button class="btn btn-success btn-sm " (click)="Update(values)">
            Update
          </button>&nbsp;<button class="btn btn-danger btn-sm " (click)="DeleteInt(values)">
            Delete
          </button></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [length]="length" (page)="pageChange($event)" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"
      showFirstLastButtons></mat-paginator>
  </div>
</app-card>