<ngb-tabset (tabChange)="actionTabChange($event)">
  <ngb-tab title="Distributor" id='1'>
    <ng-template ngbTabContent>
      <mat-table [dataSource]="Dist" matSort class="mat-elevation-z8">
      
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let values">{{ values.name}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="Country">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
          <mat-cell *matCellDef="let values">{{values.countryName}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
          <mat-cell *matCellDef="let values"><a type="button" class="btn btn-primary" (click)="viewDist(values.token, values.id)">view</a></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsD"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsD"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Manufacturer" id='2'>
      <ng-template ngbTabContent>
        <mat-table [dataSource]="Manu" matSort class="mat-elevation-z8">
      
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let values">{{ values.name}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="Country">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
            <mat-cell *matCellDef="let values">{{values.countryName}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let values"><a type="button" class="btn btn-primary" (click)="viewManu(values.token, values.id)">view</a></mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumnsM"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsM"></mat-row>
        </mat-table>
      </ng-template>
    </ngb-tab>
</ngb-tabset>
<div class="row">
  <div class="col-sm-12">
  <a class="btn  pull-right" (click)="close(null)">
    Close
  </a>
</div>
</div>
