  <form #ad="ngForm" (ngSubmit)="submit(ad)">
   
      <mat-form-field class="col-md-12">
          <textarea matInput name="AddedBy" [(ngModel)]="cForm.AddedBy" placeholder="Added By"></textarea>
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <textarea matInput name="Text" [(ngModel)]="cForm.Text" placeholder="Comment"></textarea>
        </mat-form-field>
      
      <hr />
      <div class="row">
        <div class="col-6">
          <input type="submit" class="btn btn-primary" />
        </div>
        <div class="col-6">
          <a class="btn  pull-right" (click)="close(null)">
            Close
          </a>
        </div>
      </div>
    
  </form>
