<app-card>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="subtitle">
      <th mat-header-cell *matHeaderCellDef> Subtitle </th>
      <td mat-cell *matCellDef="let element"> {{element.subtitle}} </td>
    </ng-container>
  
    <ng-container matColumnDef="URl">
      <th mat-header-cell *matHeaderCellDef> URl </th>
      <td mat-cell *matCellDef="let element"> {{element.URl}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table></app-card>