<div class="container-fluid">
  <div class="row" *ngFor="let chk of mainData.list">
    <div class="checkbox-fade fade-in-default">
      <label>
        <input type="checkbox" value="{{chk.value}}" (change)="handleCheckBox($event)">
        <span class="cr">
          <i class="cr-icon icofont icofont-ui-check txt-default"></i>
        </span>
        <span>{{chk.name}}</span>
      </label>
    </div>
  </div>
</div>
<hr>