<app-card>
  <div class="interest">
    <div class="row"><div class="col-sm-6">
        <button
        class="btn btn-primary btn-sm"
        mat-raised-button
        (click)="AddEmail()"
      >
        Add New Email</button
      >
    </div></div>
    <br >
    <mat-table [dataSource]="emailSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="actions">&nbsp;&nbsp;
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
        <mat-cell *matCellDef="let values">&nbsp;&nbsp;<button
          class="btn btn-primary btn-sm"
          mat-raised-button
          (click)="EditEmail(values)"
        >
          Edit</button
        >&nbsp;<button
        class="btn btn-primary btn-sm"
        mat-raised-button
        (click)="Del(values)"
      >
        Edit</button
      ></mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values.title }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="keys">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Keys</mat-header-cell
        >
        <mat-cell
          *matCellDef="let values"
          >{{ values.keys }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="ccEmail">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >CC Email</mat-header-cell
        >
        <mat-cell *matCellDef="let values">{{ values.ccEmails }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>
        <mat-cell *matCellDef="let values">{{values.note}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
        [pageSize]="pageSize"
        [length]="length"
        showFirstLastButtons
        (page)="pageChange($event)"
      >
      </mat-paginator>
    </div>
  </app-card>
