<form #ad="ngForm" class="container">
  <div class="row">
    <div class="col-12">
      <h2 mat-dialog-title>Add New Video</h2>
      <label
        role="button"
        class="badge close rounded-circle"
        (click)="close('close')"
        >X</label
      >
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-dialog-content class="mat-typography">
          <!-- First Row -->
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select name="Type" [(ngModel)]="Type" required>
                  <mat-option [value]="1">
                    Distributor
                  </mat-option>
                  <mat-option [value]="2">
                    Manufacturor
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input
                  matInput
                  type="text"
                  name="Title"
                  [(ngModel)]="Title"
                  required
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Video Link</mat-label>
                <input
                  matInput
                  type="text"
                  name="Link"
                  [(ngModel)]="Link"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <!-- Third Row -->
          <div class="row py-4">
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Sort</mat-label>
                <input
                  matInput
                  type="number"
                  maxlength="5"
                  [(ngModel)]="Sort"
                  name="Sort"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Season Number</mat-label>
                <input
                  matInput
                  type="number"
                  maxlength="100"
                  [(ngModel)]="Season"
                  name="Season"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
            <!-- <mat-checkbox name="Published" [(ngModel)]="Published"
                >Published</mat-checkbox
              > -->
              <mat-form-field>
                  <mat-label>Speaker Name</mat-label>

                  <mat-select
                  name="coun"
                  [(ngModel)]="Createdby"
                >
                  <mat-option *ngFor="let user of userlist" [value]="user.value">
                    {{ user.name }}
                  </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
          </div>
          <!-- Second Row -->
          <div class="row">
              <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Duration</mat-label>
                    <input
                      matInput
                      type="text"
                      maxlength="100"
                      [(ngModel)]="duration"
                      name="duration"
                    />
                  </mat-form-field>
                </div>
            <div class="col-sm-7">
              <mat-form-field class="w-100">
                <mat-label>Description</mat-label>
                <!--
     <mat-form-field class="w-75">
            <textarea matInput cdkAutosizeMinRows="2" cdkTextareaAutosize cdkAutosizeMaxRows="5"
              [(ngModel)]="assign.AumetComment" name="Subject" placeholder="Aumet Comment"></textarea>
          </mat-form-field>
-->
                <textarea
                  matInput
                  type="textarea"
                  name="Description"
                  cdkAutosizeMinRows="1"
                  cdkTextareaAutosize
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="Description"
                  placeholder="Description"
                  required
                >
                </textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row"></div>

          <!-- 4th Row -->

          <div class="row">
            <div class="col-sm-6">
              <h5 class="marginHeader">Image</h5>
              <label class="custom-file mb-3">
                <input
                  type="file"
                  class="custom-file-input"
                  onclick="this.value= null"
                  (change)="handleBaseImageChange($event)"
                  name="iconImg"
                  required
                />
                <span class="custom-file-control"></span>
              </label>
            </div>
            <div class="col-sm-6">
              <div class="imgDiv" *ngIf="imagePreview[0]">
                <label
                  role="button"
                  class="badge badge-danger"
                  (click)="hideBaseImage()"
                  class="close"
                  >X</label
                >
                <img [src]="imagePreview[0]" style="max-width: 50%" />
              </div>
            </div>
          </div>
        </mat-dialog-content>
      </div>
    </div>
  </div>
  <!-- Actions -->
  <div class="row py-1">
    <div class="col-6">
      <button (click)="submit()" class="btn btn-success" [disabled]="disabled">
        Submit
      </button>
    </div>
    <div class="col-6">
      <button (click)="close('close')" class="btn btn-danger">Cancel</button>
    </div>
  </div>
  <!--   <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="submit()" cdkFocusInitial>Submit</button> -->
</form>
