.mat-dialog-content{
  overflow: auto;
}
.mat-dialog-title{
  display: inline-block;
}
.rounded-circle{
  border: 1px solid dimgrey;
}
.rounded-circle:hover{
  background-color:dimgrey;
  color:white;
}
