<li class="ripple light">
  <a href="javascript:" (click)="_toggleMain()">
    <i class="feather icon-message-square"></i>
    <span class="badge bg-c-green">3</span>
  </a>
</li>
<!-- Sidebar chat start -->
<button mat-button (click)="createConversation()">Create</button>
<div [@slideInOut]="showMain" id="sidebar" class="users p-chat-user showChat" [ngClass]="showMain">
  <div class="had-container">
    <div class="p-fixed users-main">
      <div class="user-box">
        <div class="chat-search-box">
          <span class="back_friendlist" (click)="_toggleMain()">
            <i class="feather icon-x"></i>
          </span>
          <div class="right-icon-control">
            <form class="form-material" action="javascript:">
              <div class="form-group form-primary">
                <input type="text" name="search-text" class="form-control" id="search-friends" required="" />
                <span class="form-bar"></span>
                <label class="float-label"><i class="feather icon-search m-r-10"></i>Search Friend</label>
              </div>
            </form>
          </div>
        </div>
        <div class="main-friend-list">
          <perfect-scrollbar [style.max-width]="'280px'" [style.max-height]="'calc(100vh - 92px)'" [config]="config">
            <ng-container *ngFor="let conversation of conversation$ | async">
              <div
                class="media userlist-box ripple"
                data-username="Josephin Doe"
                placement="left"
                ngbTooltip="Josephin Doe"
                (click)="_toggleInner()"
              >
                <a class="media-left" href="javascript:">
                  <img class="media-object img-radius img-radius" [src]="conversation.image" alt="Josephin Doe" />
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">{{ conversation.full_name }}</div>
                </div>
              </div></ng-container
            >
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sidebar inner chat start-->
<div [@slideInOut]="showInner" class="showChat_inner">
  <div class="media chat-inner-header">
    <a class="back_chatBox"> <i class="feather icon-more" (click)="_toggleInner()"></i> Josephin Doe </a>
  </div>
  <div class="main-friend-chat">
    <perfect-scrollbar [style.max-width]="'280px'" [style.max-height]="'calc(100vh - 150px)'" [config]="config">
      <div class="media chat-messages">
        <a class="media-left photo-table" href="javascript:">
          <img
            class="media-object img-radius img-radius m-t-5"
            src="assets/images/avatar-2.jpg"
            alt="Generic placeholder image"
          />
        </a>
        <div class="media-body chat-menu-content">
          <div class="">
            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
          </div>
          <p class="chat-time">8:20 a.m.</p>
        </div>
      </div>
      <div class="media chat-messages">
        <div class="media-body chat-menu-reply">
          <div class="">
            <p class="chat-cont">Ohh! very nice</p>
          </div>
          <p class="chat-time">8:22 a.m.</p>
        </div>
      </div>
      <div class="media chat-messages">
        <a class="media-left photo-table" href="javascript:">
          <img
            class="media-object img-radius img-radius m-t-5"
            src="assets/images/avatar-2.jpg"
            alt="Generic placeholder image"
          />
        </a>
        <div class="media-body chat-menu-content">
          <div class="">
            <p class="chat-cont">can you come with me?</p>
          </div>
          <p class="chat-time">8:20 a.m.</p>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="chat-reply-box">
    <div class="right-icon-control">
      <form class="form-material">
        <div class="form-group form-primary">
          <input type="text" name="footer-email" class="form-control" required="" />
          <span class="form-bar"></span>
          <label class="float-label"> <i class="feather icon-search m-r-10"></i>Share Your Thoughts </label>
        </div>
      </form>
      <div class="form-icon ">
        <button class="btn btn-success btn-icon  waves-effect ripple light">
          <i class="feather icon-message-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Sidebar inner chat end-->
