<ngb-tabset >
  <ngb-tab title="Distributor List">
    <ng-template ngbTabContent>
        <app-table [DataSource]="List" [displaysize]="[10,20]" [tableColumns]="displayedColumns"  ></app-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="ManuFacutrer List">
    <ng-template ngbTabContent>
        <app-table [DataSource]="ListManu" [displaysize]="[10,20]" [tableColumns]="displayedManuColumns"  ></app-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Product List">
    <ng-template ngbTabContent>
        <app-table [DataSource]="ListProd" [displaysize]="[10,20]" [tableColumns]="displayedProdColumns"  ></app-table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>