<app-card>
  <h2 mat-dialog-title>Add Dynamic Page</h2>
  <form #client="ngForm" (ngSubmit)="submit(client)">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="marginHeader">Type</h5>
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select name="Type" [(ngModel)]="Type" [(value)]="Type" #type="ngModel" required>
            <mat-option [value]="1">
              Manufacturer
            </mat-option>
            <mat-option [value]="2">
              Product
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="client.submitted && client.invalid" class="invalid-feedback">
            <div *ngIf="type?.errors?.required">
             Type is required
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <h5 class="marginHeader">Title</h5>
        <mat-form-field>
          <input matInput type="text" placeholder="Enter Title" name="Title" [(ngModel)]="Title" #title="ngModel"
            required />
        </mat-form-field>
        <div *ngIf="client.submitted && client.invalid" class="invalid-feedback">
            <div *ngIf="title?.errors?.required">
                Title is required
            </div>
          </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
  
      <div class="col-sm-4">
        <h5 class="marginHeader">Description</h5>
        <mat-form-field>
          <input matInput type="text" placeholder="Enter Description" name="Description" [(ngModel)]="Description" />
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-checkbox name="Published" [(ngModel)]="Published">Published</mat-checkbox>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-4">
        <h5 class="marginHeader">Countries</h5>
        <mat-form-field class="example-chip-list">
          <mat-label>Countries</mat-label>
          <mat-chip-list #chipListCountries>
            <mat-chip *ngFor="let selling of selectedCountries; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeRegionsPoints(i)">
              {{ selling?.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="countrys" name="countrys"
              (ngModelChange)="countriesFilteration = _filterRegions(countrys)" [matAutocomplete]="autoCompleteCountry"
              [matChipInputFor]="chipListCountries" />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteCountry="matAutocomplete" (optionSelected)="AddSelectedCountry($event)">
            <mat-option *ngFor="let selling of countriesFilteration | async" [value]="selling">
              {{ selling?.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <h5 class="marginHeader">Medical Lines</h5>
        <mat-form-field class="example-chip-list">
          <mat-label>Medical Lines</mat-label>
          <mat-chip-list #medicalCHipList>
            <mat-chip *ngFor="let selling of selectedMedical; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeMedicalPoints(i)">
              {{ selling?.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="medical" name="medical" (ngModelChange)="medicalsFilteration = _filterMedical(medical)"
              [matAutocomplete]="autoCompleteMedicals" [matChipInputFor]="medicalCHipList" />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteMedicals="matAutocomplete" (optionSelected)="AddSelectedMedical($event)">
            <mat-option *ngFor="let selling of medicalsFilteration | async" [value]="selling">
              {{ selling?.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <h5 class="marginHeader">Scientific Name</h5>
        <mat-form-field class="example-chip-list">
          <mat-label>Scientific Name</mat-label>

          <mat-chip-list #chipListScientificName>
            <mat-chip *ngFor="
                let scientificName of seletedscientificNames;
                let i = index
              " [selectable]="selectable" [removable]="removable" (removed)="removescientificNames(i)">
              {{ scientificName?.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="scientificNamess" #scientificnameInput name="scientificNamess"  (ngModelChange)="
                filteredscientificNames = _filterscientificNames(
                  scientificNamess
                )
              " [matAutocomplete]="autoCompletescientificNames" [matChipInputFor]="chipListScientificName" />
          </mat-chip-list>
          <mat-autocomplete #autoCompletescientificNames="matAutocomplete"
            (optionSelected)="AddSelectedscientificNames($event)">
            <mat-option *ngFor="let scientificNames of filteredscientificNames | async" [value]="scientificNames">
              {{ scientificNames.scientificName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <br />
    <br />
    <div class="row">
      <div class="col-sm-6">
        <input type="submit" class="btn btn-primary" />
      </div>
      <div class="col-sm-6">
        <a (click)="onCancel()" class="btn btn-danger">Close</a>
      </div>
    </div>
  </form>
</app-card>