<div>
  <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container *ngFor="let column of tableColumns; index as i" [cdkColumnDef]="column">

          <ng-container *ngIf="column !== 'action' && column !=='actions' && column !=='logo' ">

              <th mat-header-cell *matHeaderCellDef>{{column}}
              </th>

              <td mat-cell *matCellDef="let element"> {{getValue(element,column)}}

              </td>

          </ng-container>

          <ng-container *ngIf=" column === 'action' ">

              <th mat-header-cell *matHeaderCellDef>Actions</th>

              <td style="width: 20%" mat-cell *matCellDef="let element">

                  <button  class="btn btn-primary " style="padding: 5px 10px;font-size: 10px;">
                     <i class="fa fa-edit" placement="left"></i>Edit </button> &nbsp;
                  <button style="padding: 5px 10px; font-size: 10px;" 
                   class="btn btn-success btn-sm"> <i class="fa fa-pencil" placement="left"></i>Assign </button>&nbsp;
                  
                  <button style="padding: 5px 10px;font-size: 10px;" (click)="$event.stopPropagation()" class="btn btn-danger btn-sm">
                   <i class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'" 
                   [popoverMessage]="'are you sure to Ignore?'" placement="left" 
                   (confirm)="deleteRow(element.ID)" ngbTooltip="Delete"></i> Ignore </button>

              </td>
 
          </ng-container>
          <ng-container *ngIf=" column === 'actions' ">

              <th mat-header-cell *matHeaderCellDef>Actions</th>

              <td style="width: 20%" mat-cell *matCellDef="let element">

                 
                  <button (click)="$event.stopPropagation()" style="padding: 5px 10px; font-size: 10px;" 
                   class="btn btn-success btn-sm"> <i class="fa fa-pencil" placement="left"></i>Send Reminder </button>&nbsp;

                 
                  <button (click)="$event.stopPropagation()" style="padding: 5px 10px; font-size: 10px;" 
                   class="btn btn-primary btn-sm"> <i class="fa fa-bars" placement="left"></i>FeedBack</button>&nbsp;
                  
                  <button style="padding: 5px 10px;font-size: 10px;" (click)="$event.stopPropagation()" class="btn btn-danger btn-sm">
                   <i class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'" 
                   [popoverMessage]="'are you sure to Ignore?'" placement="left" 
                   (confirm)="deleteRow(element.ID)" ngbTooltip="Delete"></i> Drop </button>

              </td>

          </ng-container>
          <ng-template #RankWithFormula>
                <ng-container  matColumnDef="RankWithFormula">
                    <th mat-header-cell *matHeaderCellDef>Rank </th>
                    <td mat-cell *matCellDef="let element">
                       <label matTooltip="{{element.formula}}"> {{element.rank}}</label>
                    </td>
                  </ng-container>
            </ng-template>
          <ng-container *ngIf=" column === 'logo' ">

            <th mat-header-cell *matHeaderCellDef>{{column}}
            </th>

            <td mat-cell *matCellDef="let element"> <img src="assets/images/distributor-logo-icn.svg"  alt=""> 
            </td>

          </ng-container>


          <ng-container *ngIf=" column === 'useredit' ">

            <th mat-header-cell *matHeaderCellDef>Actions
            </th>

            <td mat-cell *matCellDef="let element"> 
                    <button (click)="EditUser(element)" style="padding: 5px 10px; font-size: 10px;" 
                    class="btn btn-primary btn-sm"> <i class="fa fa-bars" placement="left"></i>FeedBack</button>&nbsp;
            </td>

          </ng-container>


      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: tableColumns; let rowIndex = index" (click)="updateRow(row)"></tr>

  </table>

  <mat-paginator #paginator [pageSizeOptions]="displaysize" [showFirstLastButtons]="true"></mat-paginator>

</div>