<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip 
      *ngFor="let item of option.list; let i = index" [selectable]="selectable"
      [removable]="removable" (removed)="remove(i)">
      {{item}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input [placeholder]="option.placeholder"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>