<app-card>
  <div class="Contact">
    <form #AA="ngForm">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-select placeholder="Country" [(ngModel)]="adding.country" name="country" required>
              <mat-option *ngFor="let country of countries" [value]="country">
                {{ country.country }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-4">
          <mat-form-field>
            <input matInput placeholder="WebSite" name="webSite" [(ngModel)]="adding.webSite" />
          </mat-form-field>
        </div>

        <div class="col-sm-4">
          <mat-form-field>
            <input matInput placeholder="comment" name="comment" [(ngModel)]="adding.comment" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <input matInput placeholder="Contact Name" name="contactName" [(ngModel)]="adding.contactName" />
          </mat-form-field>
        </div>

        <div class="col-sm-4">
          <mat-form-field>
            <input matInput placeholder="Phone Number" name="phoneNumber" [(ngModel)]="adding.phoneNumber" />
          </mat-form-field>
        </div>

        <div class="col-sm-4">
          <mat-form-field>
            <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="adding.email" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <input matInput placeholder="Address" name="address" [(ngModel)]="adding.address" />
          </mat-form-field>
        </div>

        <div class="col-sm-4">
          <button mat-raised-button color="accent" (click)="AddUpdate(AA)">
            Update
          </button>
        </div>
      </div>
    </form>
  </div>
</app-card>

<app-card>
  <div class="Contact">
    <form class="Contact">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <textarea matInput placeholder="Search" [(ngModel)]="SearchKey" name="SearchKey"
              (keyup)="Filter($event)"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div style="overflow-x:auto  ">
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let values">{{ values.id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="contactName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Contact Name</mat-header-cell>
          <mat-cell *matCellDef="let values">
            <div *ngIf="values.contactName">{{ values.contactName }}</div>
            <div *ngIf="!values.contactName">{{ values.firstName }} {{values.lastName}}</div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="companyName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</mat-header-cell>
          <mat-cell *matCellDef="let values">{{ values.companyName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let values">{{ values.email }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
          <mat-cell *matCellDef="let values">{{ values.phoneNumber }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Country">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
          <mat-cell *matCellDef="let values">{{ values.country }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="webSite">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Website</mat-header-cell>
          <mat-cell *matCellDef="let values">{{ values.webSite }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="source">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Source</mat-header-cell>
          <mat-cell *matCellDef="let values">{{ values.comment }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
          <mat-cell *matCellDef="let values">{{ values.source }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="displaymajors(row)"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="length" [pageSize]="10" showFirstLastButtons
        (page)="pageChange($event);"></mat-paginator>
    </div>
  </div>
</app-card>