.Contact {
    display: flex;
    flex-direction: column;
  }
  
  .Contact > * {
    width: 100%;
  }
  
  .Contact form {
    margin-bottom: 20px;
  }
  
  .Contact form > * {
    margin: 5px 0;
  }
  table {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  	text-align: center;
	}
	.mat-cell {
		padding: 10px 10px 10px 0;
	  }
  .mat-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100px !important;
    width: 100px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
 
  table {
    width: 100%;
    
  }
  
  .mat-cell {
    padding: 10px 10px 10px 0;
    text-align: center
  }.mat-header-cell{
  text-align: center
  }
  