<app-card>
  <mat-tab-group (selectedTabChange)="actionTabChange($event)">
    <!-- <mat-tab label="Product Search">
      <br>
      <form #ad="ngForm"
        (ngSubmit)="submit(ad)">
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Crietiera</mat-label>
              <mat-select [(ngModel)]="searchobject.Type"
                (selectionChange)="enable($event)"
                name="Type"
                [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="1">ScientificName</mat-option>
                <mat-option value="2">Manufacturer</mat-option>
                <mat-option value="3">Both</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="example-full-width">
              <input matInput
                placeholder="Name"
                name="Name"
                [(ngModel)]="searchobject.Name">
            </mat-form-field>
          </div>
        </div>
        <div class="row"
          *ngIf="both || isLink">
          <div class="col-6">
            <mat-form-field class="example-chip-list">
              <mat-label>Companies</mat-label>

              <mat-chip-list #chipListCompanies>
                <mat-chip *ngFor="
                          let comp of selectedCompanies; let i = index"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeCompanies(i)">
                  {{ comp?.name }}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [(ngModel)]="scientificnamesearch.Companies"
                  #companyinput
                  name="Companies"
                  (ngModelChange)="
                    filteredCompanies = _filterCompanies(scientificnamesearch.Companies)"
                  [matAutocomplete]="autoCompleteCompanies"
                  [matChipInputFor]="chipListCompanies" />
              </mat-chip-list>
              <mat-autocomplete #autoCompleteCompanies="matAutocomplete"
                (optionSelected)="AddSelectedCompanies($event)">
                <mat-option *ngFor="let company of filteredCompanies | async"
                  [value]="company">
                  {{ company.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


          </div>
        </div>
        <div class="row"
          *ngIf="!disabled">
          <div class="col-6"
            *ngIf="!both">
            <mat-radio-group name="Operator"
              [disabled]="disabled"
              (ngModelChange)="clearSlop()"
              [(ngModel)]="searchobject.Operator">
              <mat-radio-button value="and">And</mat-radio-button>
              <mat-radio-button value="or">Or</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-6">

            <mat-form-field class="example-full-width">
              <input type="number"
                matInput
                placeholder="slop"
                [disabled]="disabled"
                (ngModelChange)="clearOperator()"
                [(ngModel)]="searchobject.slop"
                name="slop">
            </mat-form-field>

          </div>
        </div>

        <button class="btn btn-primary btn-sm"
          type="submit">Submit</button>
      </form>

      <div style="overflow: auto">
        <mat-table [dataSource]="dataSource"
          class="mat-elevation-z8">
          
          <ng-container matColumnDef="companyid">
            <mat-header-cell *matHeaderCellDef> Company id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element._source.companyId}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element._source.companyName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef> link </mat-header-cell>
            <mat-cell *matCellDef="let element"><a [href]=" sanitize(element._source.link)"
                target="_blank">Link</a>
            </mat-cell>
          </ng-container>

          
          <ng-container matColumnDef="isproduct">
            <mat-header-cell *matHeaderCellDef> isproduct </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element._source.isProduct}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="emails">
            <mat-header-cell *matHeaderCellDef> emails </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-chip-list>
                <mat-chip *ngFor="let item of element._source.emails"> {{item}}</mat-chip>

              </mat-chip-list>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> phone </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ul *ngFor="let item of element._source.phones">
                <li>{{item}}</li><br>
              </ul>
            </mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="length"
          [pageSize]="10"
          showFirstLastButtons
          (page)="pageChange($event)">
        </mat-paginator>

      </div>


    </mat-tab>
    <mat-tab label="Search">
      <br>
      <form>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Crietiera</mat-label>
              <mat-select [(ngModel)]="scientificnamesearch.ScientifitType"
                (selectionChange)="changesearch($event)"
                name="ScientifitType"
                [(value)]="selectedsearch">
                <mat-option>None</mat-option>
                <mat-option value="1">ScientificName</mat-option>
                <mat-option value="2">Speciality</mat-option>
                <mat-option value="3">Medicalline</mat-option>
                <mat-option value="4">Company</mat-option>
                <mat-option value="5">Company And MedicalLine</mat-option>


              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6"
            *ngIf="hideMedcail">
            <mat-form-field class="example-chip-list">
              <mat-label>Medical Lines</mat-label>
              <mat-chip-list #medicalCHipList>
                <mat-chip *ngFor="let selling of selectedMedical; let i = index"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeMedicalPoints(i)">
                  {{ selling?.name }}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [(ngModel)]="scientificnamesearch.medicalline"
                  name="medical"
                  #medicalinput
                  (ngModelChange)="medicalsFilteration = _filterMedical(scientificnamesearch.medicalline)"
                  [matAutocomplete]="autoCompleteMedicals"
                  [matChipInputFor]="medicalCHipList" />
              </mat-chip-list>
              <mat-autocomplete #autoCompleteMedicals="matAutocomplete"
                (optionSelected)="AddSelectedMedical($event)">
                <mat-option *ngFor="let selling of medicalsFilteration | async"
                  [value]="selling">
                  {{ selling?.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-sm-6"
            *ngIf="hidescientific">
            <mat-form-field class="example-chip-list">
              <mat-label>Scientific Name</mat-label>

              <mat-chip-list #chipListScientificName>
                <mat-chip *ngFor="
                    let scientificName of seletedscientificNames; let i = index"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removescientificNames(i)">
                  {{ scientificName?.name }}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [(ngModel)]="scientificnamesearch.scientificname"
                  #scientificinput
                  name="scientificNamess"
                  (ngModelChange)="
                    filteredscientificNames = _filterscientificNames(scientificnamesearch.scientificname)"
                  [matAutocomplete]="autoCompletescientificNames"
                  [matChipInputFor]="chipListScientificName" />
              </mat-chip-list>
              <mat-autocomplete #autoCompletescientificNames="matAutocomplete"
                (optionSelected)="AddSelectedscientificNames($event)">
                <mat-option *ngFor="let scientificNames of filteredscientificNames | async"
                  [value]="scientificNames">
                  {{ scientificNames.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>



          <div class="col-sm-6"
            *ngIf="hidespeciality">
            <mat-form-field class="example-chip-list">
              <mat-label>Speciality</mat-label>

              <mat-chip-list #chipListspeciality>
                <mat-chip *ngFor="
                      let speciality of selectedspecialities; let i = index"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removespcialities(i)">
                  {{ speciality?.name }}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [(ngModel)]="scientificnamesearch.speciality"
                  #specialityinput
                  name="speciality"
                  (ngModelChange)="
                      filteredspecialities = _filterspeciality(scientificnamesearch.speciality)"
                  [matAutocomplete]="autoCompletespeciality"
                  [matChipInputFor]="chipListspeciality" />
              </mat-chip-list>
              <mat-autocomplete #autoCompletespeciality="matAutocomplete"
                (optionSelected)="AddSelectedSpecialities($event)">
                <mat-option *ngFor="let speciality of filteredspecialities | async"
                  [value]="speciality">
                  {{ speciality.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-sm-6"
            *ngIf="hideCompany">
            <mat-form-field class="example-chip-list">
              <mat-label>Companies</mat-label>

              <mat-chip-list #chipListCompanies>
                <mat-chip *ngFor="
                      let comp of selectedCompanies; let i = index"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeCompanies(i)">
                  {{ comp?.name }}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [(ngModel)]="scientificnamesearch.Companies"
                  #companyinput
                  name="Companies"
                  (ngModelChange)="
                filteredCompanies = _filterCompanies(scientificnamesearch.Companies)"
                  [matAutocomplete]="autoCompleteCompanies"
                  [matChipInputFor]="chipListCompanies" />
              </mat-chip-list>
              <mat-autocomplete #autoCompleteCompanies="matAutocomplete"
                (optionSelected)="AddSelectedCompanies($event)">
                <mat-option *ngFor="let company of filteredCompanies | async"
                  [value]="company">
                  {{ company.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>


        </div>
        <div class="row">
          <div class="col-sm-6"
            *ngIf="hideCompanyandmedical">
            <mat-form-field class="example-chip-list">
              <mat-label>Medical Lines</mat-label>
              <mat-chip-list #medicalCHipLists>
                <mat-chip *ngFor="let selling of selectedMedical; let i = index"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeMedicalPoints(i)">
                  {{ selling?.name }}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [(ngModel)]="scientificnamesearch.medicalline"
                  name="medical"
                  #medicalinput
                  (ngModelChange)="medicalsFilteration = _filterMedical(scientificnamesearch.medicalline)"
                  [matAutocomplete]="autoCompleteMedical"
                  [matChipInputFor]="medicalCHipLists" />
              </mat-chip-list>
              <mat-autocomplete #autoCompleteMedical="matAutocomplete"
                (optionSelected)="AddSelectedMedical($event)">
                <mat-option *ngFor="let selling of medicalsFilteration | async"
                  [value]="selling">
                  {{ selling?.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6"
            *ngIf="hidescientific">
            <mat-checkbox name="Parent"
              [(ngModel)]="Parent"> Include Alternative</mat-checkbox>
          </div>
        </div>
        <button class="btn btn-primary fa-pull-right"
          (click)="searchscientificnames(scientificnamesearch)">Submit</button>
      </form>

      <div style="overflow: auto"
        *ngIf="!hideCompany">
        <mat-table [dataSource]="SeconddataSource"
          class="mat-elevation-z8">
          <ng-container matColumnDef="scientificName">
            <mat-header-cell *matHeaderCellDef>scientificName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.scientificName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="speciality">
            <mat-header-cell *matHeaderCellDef> speciality </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.speciality}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="numberofcompanies">
            <mat-header-cell *matHeaderCellDef> Companies </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-cell [matchCellHeight]="item"
                *ngFor="let item of element.companiesLists">


                {{item.companyName}}
                <button class="btn btn-primary btn-sm"
                  (click)="addtocompanyscientificname(element,item)"> Add</button>

                <button class="btn btn-primary btn-sm"
                  (click)="openaction(item)"> View Link</button>

              </mat-cell>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="seconddisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: seconddisplayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
          [length]="length2"
          [pageSize]="10"
          showFirstLastButtons
          [pageSizeOptions]="[10,20,50,100]"
          (page)="SecondpageChange($event)">
        </mat-paginator>

      </div>

      <div style="overflow: auto"
        *ngIf="hideCompany">
        <mat-table [dataSource]="ByCompanydataSource"
          class="mat-elevation-z8">
          
          <ng-container matColumnDef="scientificName">
            <mat-header-cell *matHeaderCellDef>scientificName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.scientificName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="speciality">
            <mat-header-cell *matHeaderCellDef> speciality </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.speciality}} </mat-cell>
          </ng-container>



          <ng-container matColumnDef="numberofcompanies">
            <mat-header-cell *matHeaderCellDef> Companies </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-cell [matchCellHeight]="item"
                *ngFor="let item of element.companiesLists">

                <div *ngIf="item.companyId == selectedCompaniesIds[0]">
                  {{item.companyName}}
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-primary btn-sm"
                        (click)="openaction(item)"> View Link</button>

                    </div>
                    <div class="col">
                      <button class="btn btn-primary btn-sm"
                        (click)="addtocompanyscientificname(element,item)">
                        Add</button>

                    </div>
                  </div>

                </div>

                <div *ngIf="item.companyId == selectedCompaniesIds[0]">
                  {{item.companyName}}
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-primary btn-sm"
                        (click)="openaction(item)"> View Link</button>

                    </div>
                    <div class="col">
                      <button class="btn btn-primary btn-sm"
                        (click)="addtocompanyscientificname(element,item)">
                        Add</button>

                    </div>
                  </div>

                </div>

              </mat-cell>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              
              
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="seconddisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: seconddisplayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
          [length]="length2"
          [pageSize]="10"
          showFirstLastButtons
          (page)="SecondpageChange($event)">
        </mat-paginator>

      </div>

    </mat-tab>
    <mat-tab label="Update Crawler">
      <br>
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Add</mat-label>
            <mat-select [(ngModel)]="AddType"
              (selectionChange)="changeAdd($event)"
              name="ScientifitType"
              [(value)]="selectedAdd">
              <mat-option>None</mat-option>
              <mat-option value="1">ScientificName</mat-option>
              <mat-option value="2">Company</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="addscientificnameform">
        <form (ngSubmit)="SaveScientificName()">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="example-chip-list">
                <mat-label>Scientific Name</mat-label>

                <mat-chip-list #chipListScientificName>
                  <mat-chip *ngFor="let scientificName of seletedscientificNames; let i = index"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="removescientificNames(i)">
                    {{ scientificName?.name }}
                    <mat-icon matChipRemove
                      *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input [(ngModel)]="scientificnamesearch.scientificname"
                    #scientificinput
                    name="scientificNamess"
                    (ngModelChange)="
              filteredscientificNames = _filterscientificNames(scientificnamesearch.scientificname)"
                    [matAutocomplete]="autoCompletescientificNames"
                    [matChipInputFor]="chipListScientificName" />
                </mat-chip-list>
                <mat-autocomplete #autoCompletescientificNames="matAutocomplete"
                  (optionSelected)="AddSelectedscientificNames($event)">
                  <mat-option *ngFor="let scientificNames of filteredscientificNames | async"
                    [value]="scientificNames">
                    {{ scientificNames.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-chip-list">
                <mat-label>Speciality</mat-label>

                <mat-chip-list #chipListspeciality>
                  <mat-chip *ngFor="
                        let speciality of selectedspecialities; let i = index"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="removespcialities(i)">
                    {{ speciality?.name }}
                    <mat-icon matChipRemove
                      *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input [(ngModel)]="scientificnamesearch.speciality"
                    #specialityinput
                    name="speciality"
                    (ngModelChange)="
                        filteredspecialities = _filterspeciality(scientificnamesearch.speciality)"
                    [matAutocomplete]="autoCompletespeciality"
                    [matChipInputFor]="chipListspeciality" />
                </mat-chip-list>
                <mat-autocomplete #autoCompletespeciality="matAutocomplete"
                  (optionSelected)="AddSelectedSpecialities($event)">
                  <mat-option *ngFor="let speciality of filteredspecialities | async"
                    [value]="speciality">
                    {{ speciality.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-chip-list">
                <mat-label>Medical Lines</mat-label>
                <mat-chip-list #medicalCHipList>
                  <mat-chip *ngFor="let selling of selectedMedical; let i = index"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="removeMedicalPoints(i)">
                    {{ selling?.name }}
                    <mat-icon matChipRemove
                      *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input [(ngModel)]="scientificnamesearch.medicalline"
                    name="medical"
                    #medicalinput
                    (ngModelChange)="medicalsFilteration = _filterMedical(scientificnamesearch.medicalline)"
                    [matAutocomplete]="autoCompleteMedicals"
                    [matChipInputFor]="medicalCHipList" />
                </mat-chip-list>
                <mat-autocomplete #autoCompleteMedicals="matAutocomplete"
                  (optionSelected)="AddSelectedMedical($event)">
                  <mat-option *ngFor="let selling of medicalsFilteration | async"
                    [value]="selling">
                    {{ selling?.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-sm">Submit</button>
            </div>
          </div>
        </form>

      </div>
      <div *ngIf="addcompanyform">
        <form #myform="ngForm"
          (ngSubmit)="SaveCompany(myform)">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="example-chip-list">
                <mat-label>Company</mat-label>
                <input matInput
                  class="form-control"
                  name="manufacturerName"
                  [matAutocomplete]="autoCompleteManufacturer"
                  (ngModelChange)="handleTextChanging($event)"
                  [(ngModel)]="myform.manufacturerName">

                <mat-autocomplete #autoCompleteManufacturer="matAutocomplete"
                  (optionSelected)="geturl($event)"
                  [displayWith]="displayFnManufacturer">
                  <mat-option *ngFor="let manu of manufacturerFilter | async"
                    [value]="manu">
                    {{manu.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput
                  [(ngModel)]="CompanyURL"
                  name="CompanyURL"
                  placeholder="Company URL">
              </mat-form-field>
            </div>

          </div>
          <div class="row">

            <div class="col-6">
              <button class="btn btn-primary btn-sm">Submit</button>
            </div>
          </div>
        </form>
      </div>

    </mat-tab>
    <mat-tab label="Contacts">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="example-chip-list">
            <mat-label>Companies</mat-label>

            <mat-chip-list #chipListCompanies>
              <mat-chip *ngFor="
                        let comp of selectedCompanies; let i = index"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeCompanies(i)">
                {{ comp?.name }}
                <mat-icon matChipRemove
                  *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input [(ngModel)]="scientificnamesearch.Companies"
                #companyinput
                name="Companies"
                (ngModelChange)="
                  filteredCompanies = _filterCompanies(scientificnamesearch.Companies)"
                [matAutocomplete]="autoCompleteCompanies"
                [matChipInputFor]="chipListCompanies" />
            </mat-chip-list>
            <mat-autocomplete #autoCompleteCompanies="matAutocomplete"
              (optionSelected)="AddSelectedCompanies($event)">
              <mat-option *ngFor="let company of filteredCompanies | async"
                [value]="company">
                {{ company.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-6">
          <button class="btn btn-sm btn-success"
            (click)="GetContacts()">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-table [dataSource]="ContactDataSource"
            class="mat-elevation-z8">
            
            <ng-container matColumnDef="Email">
              <mat-header-cell *matHeaderCellDef>Email </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-cell [matchCellHeight]="item"
                  *ngFor="let item of element.Email.buckets">

                  <input id="Email"
                    [value]='item.key'
                    type="radio"
                    name="Email"
                    [(ngModel)]="EmailSelected">
                  {{item.key}}

                </mat-cell>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Phone">
              <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-cell [matchCellHeight]="item"
                  *ngFor="let item of element.Phone.buckets">

                  <input id="Phone"
                    [value]='item.key'
                    type="radio"
                    name="Phone"
                    [(ngModel)]="PhoneSelected">
                  {{item.key}}

                </mat-cell>


                
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-button
                  class="btn btn-primary btn-sm"
                  (click)="AddContact()">Add As Contact</button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="ContactdisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ContactdisplayedColumns;"></mat-row>
          </mat-table>
        </div>

      </div>
    </mat-tab> -->
    <mat-tab label="Search">
      <br>
      <form #tt="ngForm"
        (ngSubmit)="submitnewserach(tt)">
        <div class="row">

          <div class="col-6">
            <mat-form-field class="example-full-width">
              <input matInput
                placeholder="Name"
                name="Name"
                [(ngModel)]="searchobject.Name">
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field class="example-chip-list">
              <mat-label>Companies</mat-label>

              <mat-chip-list #chipListCompanies>
                <mat-chip *ngFor="
                          let comp of selectedCompanies; let i = index"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeCompanies(i)">
                  {{ comp?.name }}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [(ngModel)]="scientificnamesearch.Companies"
                  #companyinput
                  name="Companies"
                  (ngModelChange)="
                    filteredCompanies = _filterCompanies(scientificnamesearch.Companies)"
                  [matAutocomplete]="autoCompleteCompanies"
                  [matChipInputFor]="chipListCompanies" />
              </mat-chip-list>
              <mat-autocomplete #autoCompleteCompanies="matAutocomplete"
                (optionSelected)="AddSelectedCompanies($event)">
                <mat-option *ngFor="let company of filteredCompanies | async"
                  [value]="company">
                  {{ company.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipListmusturl
                aria-label="Must Url">
                <mat-chip *ngFor="let item of MustUrls"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeMustUrls(item)">
                  {{item.name}}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Must (in Url)"
                  [matChipInputFor]="chipListmusturl"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addMustUrls($event)">
              </mat-chip-list>
            </mat-form-field>

          </div>

        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList
                aria-label="And Not selection">
                <mat-chip *ngFor="let item of wildcards"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(item)">
                  {{item.name}}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="And Not (in Url)"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>

          </div>
          <div class="col-6">
            <mat-form-field class="example-chip-list">
              <mat-chip-list #shouldlist
                aria-label="Should Selection">
                <mat-chip *ngFor="let item of shouldcards"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeShould(item)">
                  {{item.name}}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Should (in Text)"
                  [matChipInputFor]="shouldlist"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addshould($event)">
              </mat-chip-list>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipListurl
                aria-label="And Not URl selection">
                <mat-chip *ngFor="let item of URLwildcards"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeMustURl(item)">
                  {{item.name}}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="And Not (in Text)"
                  [matChipInputFor]="chipListurl"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addUrlWild($event)">
              </mat-chip-list>
            </mat-form-field>

          </div>
          <div class="col-6">
            <mat-form-field class="example-chip-list">
              <mat-chip-list #shouldlisturl
                aria-label="Should Url Selection">
                <mat-chip *ngFor="let item of URLshouldcards"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeShouldUrl(item)">
                  {{item.name}}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Should (in URL)"
                  [matChipInputFor]="shouldlisturl"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addshouldURl($event)">
              </mat-chip-list>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="example-chip-list">
              <mat-chip-list #mustlisturl
                aria-label="Should Url Selection">
                <mat-chip *ngFor="let item of URLMustcards"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removemustUrl(item)">
                  {{item.name}}
                  <mat-icon matChipRemove
                    *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Must (in URL)"
                  [matChipInputFor]="mustlisturl"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addmustURl($event)">
              </mat-chip-list>
            </mat-form-field>

          </div>
        </div>
        <button class="btn btn-primary btn-sm"
          type="submit">Submit</button>
      </form>

      <div style="overflow: auto">
        <mat-table [dataSource]="NewSearchdataSource"
          class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef> link </mat-header-cell>
            <mat-cell *matCellDef="let element"><span>{{element?.key}}</span>
              <a *ngFor="let item of element?.result"
                target="_blank"
                href="{{item?.key}}">{{item?.key}}</a>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="NewSerachdisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: NewSerachdisplayedColumns;"></mat-row>
        </mat-table>
        <!--  <mat-paginator [length]="NewSearchlength" [pageSize]="10" showFirstLastButtons (page)="pageChange($event)">
        </mat-paginator> -->

      </div>


    </mat-tab>
  </mat-tab-group>
</app-card>
