.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  table {
    width: 100%;
   
	}
	.mat-cell {
        padding: 10px 10px 10px 5px;
        text-align: center;
        height:auto;

	  }.mat-header-cell{
			text-align: center;
			padding: 10px 10px 10px 0;
width: auto;

    }
    mat-form-field {
      width: 100%;
    }
    .example-chip-list{
      width: 100%;

    }
 
    .mat-table {

      
      .mat-cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .mat-cell {
          min-height: 60px;
          width: 100%;
          border-bottom: 1px solid grey;
    
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }