.s{
    position: absolute !important;
    top: 60px !important;
    left: 0px !important;
    z-index: 10 !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    white-space: normal !important;
    // display: inline-block !important;
    visibility: visible !important;
    background: rgb(255, 255, 255) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
    border-image: initial !important;
    border-radius: 4px !important;
    padding: 24px !important;
}