<div class="container-fluid">
  <input type="text" class="form-control form-control-lg" placeholder="" (focus)="showPicker()" [(ngModel)]="inputValue"
    placeholder="{{mainData.title}}">

  <div class="s" [ngStyle]="{display:show}">
    <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
    </ngb-datepicker>
    <ng-template #t let-date="date" let-focused="focused">
      <span class="custom-range" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>
  </div>
</div>

<hr>