<!-- <div mat-dialog-content>
  <app-card>
    <form #email="ngForm" (ngSubmit)="submit(email)">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="marginHeader">Email Title</h5>
          <input
            matInput
            type="text"
            placeholder="Email Title"
            name="Title"
            class="form-control"
            #title="ngModel"
            required
            [(ngModel)]="Title"
          />
          <div
            *ngIf="email.submitted && email.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="title?.errors?.required">
              Email Title is required
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <h5 class="marginHeader">Email Body</h5>
          <quill-editor name="Body" [(ngModel)]="Body"> </quill-editor>
        </div>
      </div>
      <br />
      <br />
      <br />
      <hr />

      <div class="row">
        <div class="col-sm-6">
          <h5 class="marginHeader">Email Keys</h5>
          <input
            matInput
            type="text"
            placeholder="Email Keys"
            name="Keys"
            class="form-control"
            #key="ngModel"
            required
            [(ngModel)]="Keys"
          />
          <div
            *ngIf="email.submitted && email.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="key?.errors?.required">
              Email Keys is required
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h5 class="marginHeader">CC Emails</h5>
          <input
            matInput
            type="text"
            placeholder="CC Emails"
            name="CCEmails"
            class="form-control"
            #CC="ngModel"
            required
            [(ngModel)]="CCEmails"
          />
          <div
            *ngIf="email.submitted && email.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="CC?.errors?.required">
              CC Emails is required
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <h5 class="marginHeader">Note</h5>
          <input
            matInput
            type="text"
            placeholder="Note"
            name="Note"
            class="form-control"
            #note="ngModel"
            required
            [(ngModel)]="Note"
          />
          <div
            *ngIf="email.submitted && email.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="note?.errors?.required">
              Note is required
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h5 class="marginHeader">Is System Email</h5>
          <input type="checkbox" name="SystemEmail" [(ngModel)]="SystemEmail" />
        </div>
      </div>

      <div class="row">
            <div class="col-6">
              <input type="submit" class="btn btn-primary" />
            </div>
            <div class="col-6">
              <a class="btn  pull-right" (click)="close(null)">
                Close
              </a>
            </div>
          </div>
    </form>
  </app-card>
</div>
<div mat-dialog-actions>
 
</div>
 -->