<app-filter [filterOptions]="filters"></app-filter>

<app-card [title]="'Follow Up'">
  <div class="overflow-x-auto mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="CompanyType">
        <th mat-header-cell *matHeaderCellDef>Company Type</th>
        <td mat-cell *matCellDef="let element">{{ element.company.type }}</td>
      </ng-container>
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">
          <img [src]="getCountryFlag(element.company.country.code)" />
        </td>
      </ng-container>

      <ng-container matColumnDef="CompanyName">
        <th mat-header-cell *matHeaderCellDef>Company Name</th>
        <td mat-cell *matCellDef="let element">{{ element.company.name }}</td>
      </ng-container>

      <ng-container matColumnDef="User">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element" class="pointer" (click)="viewUser(element.user)">
          {{ element.user.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stage">
        <th mat-header-cell *matHeaderCellDef>Stage</th>
        <td mat-cell *matCellDef="let element">
          {{ element.company.stage }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Process">
        <th mat-header-cell *matHeaderCellDef>Process</th>
        <td mat-cell *matCellDef="let element">
          {{ element.company.process }}
        </td>
      </ng-container>

      <ng-container matColumnDef="LastActionName">
        <th mat-header-cell *matHeaderCellDef>Last Action Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.last_action.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="LastActionDate">
        <th mat-header-cell *matHeaderCellDef>Last Action Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.last_action.date }}
        </td>
      </ng-container>
      <ng-container matColumnDef="NextActionName">
        <th mat-header-cell *matHeaderCellDef>Next Action Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.next_action.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="NextActionDate">
        <th mat-header-cell *matHeaderCellDef>NextActionDate</th>
        <td mat-cell *matCellDef="let element">
          {{ element.next_action.date }}
        </td>
      </ng-container>
      <ng-container matColumnDef="AssignedAdmin">
        <th mat-header-cell *matHeaderCellDef>Admin</th>
        <td mat-cell *matCellDef="let element">
          {{ element.relatedTo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-danger btn-sm mx-1">Remarket</button>
          <button class="btn btn-primary btn-sm mx-1" (click)="viewLog(element.company)">View Log</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</app-card>
