    <div class="">
    <table mat-table [dataSource]="list" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef=   "let row">{{row.title}}</td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let row">{{row.company}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="productMadeIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Made In </th>
        <td mat-cell *matCellDef="let row"> {{row.productMadeIn}} </td>
      </ng-container>
     
      <!-- Color Column -->
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="opendialog(row)">
      </tr>
    </table>
  