<h1 mat-dialog-title>Merge Manufacturers</h1>
<hr />
<form #Manu="ngForm" (ngSubmit)="submit(Manu)">

  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input type="text" matInput placeholder="Source (Old: To be deleted)" disabled [(ngModel)]="company1" name="company1" />
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field>
          <input type="text" placeholder="Destination (New)" (ngModelChange)="handleTextChanging($event)" matInput
            [(ngModel)]="company2" name="company2" [matAutocomplete]="auto" #Comp="ngModel" required />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCompany">
            <mat-option *ngFor="let option of ofCompany" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-error
          class="ng-select-error-message"
          *ngIf="Manu.submitted && Manu.invalid">
          Source Company is required.
        </mat-error>
      </div>
    </div>
  </div>

  <!-- <hr /> -->

  <div mat-dialog-actions align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="close(null)"
      tabindex="-1">Close</button>
    <button type="submit" mat-raised-button color="primary" class="mx-1" type="submit" cdkFocusInitial>Submit</button>
  </div>

</form>