<h2 mat-dialog-title>Add/Edit Country</h2>
<label role="button" class="badge close" (click)="onCancel()">X</label>
<ngb-tabset>
  <ngb-tab title="Country and Statistic">
    <ng-template ngbTabContent>
      <br />
      <form #fake="ngForm"  (ngSubmit)="submit(fake)">
      <div class="row">
        <div class="col-sm-6">


          <mat-form-field>
            <mat-select name="items" [(ngModel)]="items" placeholder="Select a country"
              (selectionChange)="countryChangeAction(items.id)" placeholder="Countries" required>
              <mat-option *ngFor="let tem of cntries" [value]="tem">
                {{ tem.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>


        </div>

        <div class="col-sm-3">
          <h5 class="marginHeader">Flag</h5>
          <label class="custom-file mb-3">
            <input type="file" class="custom-file-input" onclick="this.value= null" (change)="fileEvent($event)"
              name="Flag" />
            <span class="custom-file-control"></span>
          </label>
        </div>
        <div class="col-sm-3">
          <div class="imgDiv" *ngIf="imagePreview[0]">
            <label role="button" class="badge badge-danger" (click)="hideBaseImage()" class="close">X</label>
            <img [src]="imagePreview[0]" style="max-width: 50%" />
          </div>
        </div>
      </div>

      <!-- Second Row
      -->
      <div class="row">
        <div class="col-sm-6">

          <mat-form-field class="w-100">
            <mat-label>Title</mat-label>

            <textarea matInput type="textarea" name="Title" cdkAutosizeMinRows="2" cdkTextareaAutosize
              cdkAutosizeMaxRows="6" [(ngModel)]="countryForm.Title" placeholder="Title" required>
            </textarea>
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <h5 class="marginHeader">Map</h5>
          <label class="custom-file mb-3">
            <input type="file" class="custom-file-input" onclick="this.value= null" (change)="secondfileEvent($event)"
              name="Map" />
            <span class="custom-file-control"></span>
          </label>
        </div>
        <div class="col-sm-3">
          <div class="imgDiv" *ngIf="imagePreviewMap[0]">
            <label role="button" class="badge badge-danger" (click)="hideBaseImageMap()" class="close">X</label>
            <img [src]="imagePreviewMap[0]" style="max-width: 50%" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <mat-form-field class="w-100">
            <mat-label>Description</mat-label>

            <textarea matInput type="textarea" name="Description" cdkAutosizeMinRows="2" cdkTextareaAutosize
              cdkAutosizeMaxRows="6" [(ngModel)]="countryForm.Description" placeholder="Description" required>
                </textarea>
          </mat-form-field>
        </div>

      </div>
      <!-- Third Row -->
      <!--       <div class="row" *ngFor="let item of statisticPanel; let i = index">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Statistic {{ i + 1 }} </mat-panel-title>
              <mat-panel-description>
                {{ item.NumberOfDist }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <form #edit="ngForm">
              <mat-form-field>
                <mat-label>GDP</mat-label>
                <input matInput type="number" max="24" name="GDP" [(ngModel)]="GDP" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Population</mat-label>
                <input
                  matInput
                  type="text"
                  name="Population"
                  [(ngModel)]="Population"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Number Of Hospital</mat-label>
                <input
                  matInput
                  type="number"
                  name="NumberOfhos"
                  [(ngModel)]="NumberOfhos"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Number Of Hospital Beds</mat-label>
                <input
                  matInput
                  type="number"
                  name="numberofhospitalbeds"
                  [(ngModel)]="numberofhospitalbeds"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Number Of Distributors</mat-label>
                <input
                  matInput
                  type="number"
                  name="numberofdistributors"
                  [(ngModel)]="numberofdistributors"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Number of Specialities</mat-label>
                <input
                  matInput
                  type="number"
                  name="Specialities"
                  [(ngModel)]="Specialities"
                />
              </mat-form-field>

              <div>
                <button
                  class="btn btn-primary"
                  (click)="editStatistic(edit.value)"
                >
                  Submit Statistic Editing
                </button>
              </div>
              <div>
                <button class="btn btn-danger" (click)="DeleteStatistic(i)">
                  Delete
                </button>
              </div>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div> -->
      <br />
      <hr />

      <div class="row">
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>GDP</mat-label>
            <input matInput type="text" name="GDP" [(ngModel)]="countryForm.GDP" />
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Population</mat-label>
            <input matInput type="text" name="Population" [(ngModel)]="countryForm.Population" />
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Number Of Hospital</mat-label>
            <input matInput type="number" name="Noofhospitals" [(ngModel)]="countryForm.Noofhospitals" />
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Number Of Hospital Beds</mat-label>
            <input matInput type="number" name="Numberofhospitalbeds" [(ngModel)]="countryForm.Numberofhospitalbeds" />
          </mat-form-field>
        </div>
      </div>
      <br />

    
        <div class="row">
          <div class="col-sm-6">
            <button class="btn btn-success" type="submit">
              Submit
            </button>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-tab>

  <ngb-tab [disabled]="disbalestories" title="Stories">
    <ng-template ngbTabContent>
      <!-- <div class="row" *ngFor="let item of storiesPanel; let i = index">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Story: {{ item.personName }} </mat-panel-title>
              <mat-panel-description>
                Company: {{ item.companyName }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-sm-3">
                <mat-label matInput>{{ item.personName }}</mat-label>
              </div>

              <div class="col-sm-3">
                <mat-label matInput>{{ item.companyName }}</mat-label>
              </div>
              <div class="col-sm-3">
                <mat-label matInput>{{ item.description }}</mat-label>
              </div>
              <div class="col-sm-3">
                <mat-label matInput>{{ item.quotation }}</mat-label>
              </div>
            </div>
            <div>
              <button class="btn btn-danger" (click)="DeleteStory(i)">
                Delete
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div> -->
      <!-- <br />
      <hr /> -->
      <app-card *ngIf="exist">
        <ng-container>
          <table mat-table #table class="w-100" [dataSource]="dataSource">
            <ng-container matColumnDef="personName">
              <th mat-header-cell *matHeaderCellDef>Person Name</th>
              <td mat-cell *matCellDef="let row">{{ row?.personName }}</td>
            </ng-container>
            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef>Company Name</th>
              <td mat-cell *matCellDef="let row">{{ row.companyName }}</td>
            </ng-container>
            <ng-container matColumnDef="quotation">
              <th mat-header-cell *matHeaderCellDef>Quotation</th>
              <td mat-cell *matCellDef="let row">{{ row?.quotation }}</td>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let row" class="actions-column">
                <button mat-flat-button class="mx-1 mat-button-small" color="primary" (click)="onEditStory(row)">
                  Edit
                </button>
                <button mat-flat-button class="mx-1 mat-button-small" color="warn" (click)="DeleteStory(row.id)">
                  Delete
                </button>
                <!-- <button mat-flat-button class="mx-1 mat-button-small" color="accent" (click)="onOpenSEO(row)">SEO</button> -->
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </ng-container>
        <mat-paginator [pageSize]="10" [length]="length" showFirstLastButtons (page)="pageChange($event)">
        </mat-paginator>
      </app-card>
      <app-card>
        <form #ads="ngForm" (ngSubmit)="AddStories(ads)">
          <!-- <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-label>Page Country Id</mat-label>
                <input
                  matInput
                  type="text"
                  name="PageCountryId"
                  [(ngModel)]="PageCountryId"
                  disabled
                />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <mat-label>Story Id</mat-label>
                <input
                  matInput
                  type="text"
                  name="StoryId"
                  [(ngModel)]="StoryId"
                  disabled
                />
              </mat-form-field>
            </div>
          </div> -->

          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Person Name</mat-label>
                <input matInput type="text" name="PersonName" style="width: 100%;" [(ngModel)]="PersonName" required />
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input matInput type="text" name="CompanyName" style="width: 100%;" [(ngModel)]="CompanyName"
                  required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="w-100">
                <mat-label>Description</mat-label>
                <textarea matInput name="Description1" cdkAutosizeMinRows="2" cdkTextareaAutosize cdkAutosizeMaxRows="5"
                  [(ngModel)]="Description" placeholder="Descrition" required>
                </textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="w-100">
                <textarea matInput name="Quotation" placeholder="Quotation" [(ngModel)]="Quotation" required></textarea>
              </mat-form-field>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="w-100">
                <mat-label>SubTitle</mat-label>
                <textarea matInput name="SubTitle" cdkAutosizeMinRows="2" cdkTextareaAutosize cdkAutosizeMaxRows="5"
                  [(ngModel)]="SubTitle" placeholder="SubTitle" required>
                </textarea>
              </mat-form-field>
            </div>

          </div>


          <div class="row">
            <div class="col-sm-6">
              <h5 class="marginHeader">PersonImage</h5>
              <label class="custom-file mb-3">
                <input type="file" class="custom-file-input" onclick="this.value= null"
                  (change)="handleBaseImageChangePerson($event)" name="PersonImage" />
                <span class="custom-file-control"></span>
              </label>
              <div *ngIf="showimagevalidator" class="invalid-feedback">Base Image Required</div>

            </div>
            <div class="col-sm-6">
              <div class="imgDiv" *ngIf="imagePreviewPerson[0]">
                <label role="button" class="badge badge-danger" (click)="hideBaseImagePerson()" class="close">X</label>
                <img [src]="imagePreviewPerson[0]" style="max-width: 50%" />
              </div>
            </div>
            <!--  <div class="col-sm-3">
              <h5 class="marginHeader">PersonLogo</h5>
              <label class="custom-file mb-3">
                <input
                  type="file"
                  class="custom-file-input"
                  onclick="this.value= null"
                  (change)="handleBaseImageChangeLogo($event)"
                  name="PersonLogo"
                />
                <span class="custom-file-control"></span>
              </label>
            </div>
            <div class="col-sm-3">
              <div class="imgDiv" *ngIf="imagePreviewLogo[0]">
                <label
                  role="button"
                  class="badge badge-danger"
                  (click)="hideBaseImageLogo()"
                  class="close"
                  >X</label
                >
                <img [src]="imagePreviewLogo[0]" style="max-width: 50%" />
              </div>
            </div> -->
          </div>
          <br />
          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-primary" type="submit">
                Submit Story
              </button>
            </div>
          </div>
        </form>
      </app-card>
    </ng-template>
  </ngb-tab>
</ngb-tabset>