<app-card>
  <div class="row" *ngFor="let item of List">
    <div class="col-xl-3 col-sm-12" >
      <div class="card client-map" style="height: 260px;">
        <div class="card-block" >
          <div class="pull-right">
            <i class="material-icons" (click)="test()">
                filter_list
                </i> 
              </div><div class="client-detail">
           
            <div class="client-contain">
              <h6>{{item.name}} <img src="../../../assets/images/flags24/JO.png" style="width: 20px; height: 20px;"> </h6>
              <p class="text-muted m-0 p-t-10">Annual Sales :{{item.annualSales}}</p>
              <p class="text-muted m-0 p-t-10">Interest Specialties: Intrest</p>

            </div>
          </div>
          <div class="">
            <div class="client-card-box">
              <div class="row">

                <div class="col-4 text-center client-border p-10">
                  <p class="text-muted m-0" style="font-size:13px">Dropped</p>
                  <span class="text-c-red f-20 f-w-600" style="font-size:14px">0</span>
                </div>
                <div class="col-4 text-center  client-border p-10">
                  <p class="text-muted m-0" style="font-size:13px">Assigned</p>
                  <span class="text-c-red f-20 f-w-600" style="font-size:14px">{{item.numberOfAssigned}}</span>
                </div>
                <div class="col-4 text-center  p-10">
                  <p class="text-muted m-0" style="font-size:15px">Deals</p>
                  <span class="text-c-red f-20 f-w-600" style="font-size:14px">{{item.numberOfDeals}}</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xl-9 col-sm-12" >
      <app-table [DataSource]="item.distributors" [displaysize]="[3,5,10,20]" [tableColumns]="displayedColumns"></app-table>
      <br>
      <hr>
    </div>
  </div>
</app-card>