<div class="row" style="margin-top:3%;">
  <div class="col-6" *ngFor="let article of articlesArray">
    <div class="card user-card-full" style="overflow-y: scroll;height: 300px;">
      <div class="row m-l-0 m-r-0">
        <div class="col-sm-4 bg-c-blue user-profile">
          <div class="card-block text-center text-white" style="height: 300px;">
            <div class="m-b-25">
              <img [src]="article.articleimage" class="" alt="article-Image" style="max-width:100%; max-height: 100px">
            </div>
            <h4 class="f-w-600">{{article.title}}</h4>
            <h6 *ngIf="article.published">Published</h6>
            <h6 *ngIf="!article.published">Not Published</h6>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="card-block">
            <h6 class="f-w-600">{{article.category.name}}</h6>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <h6> Sub Title: </h6>
              </div>
              <div class="col-sm-8">
                <p class="m-b-10 f-w-600">{{article.subtitle}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <p class="m-b-10 f-w-600">Sub Categories: </p>
              </div>
              <div class="col" *ngIf="article.categoryList" style="overflow-y:scroll;max-height: 50px;">
                <p *ngFor="let sub of article.categoryList">&nbsp; {{ sub.name}}&nbsp;</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <button class="btn btn-success btn-sm" *ngIf="!article.published" (click)="modalPublish.show()"
                style="margin-right: 3%;">Publish</button>
              <button class="btn btn-danger btn-sm" (click)="modalDelete.show()"
                style="margin-right: 3%;">Delete</button>
              <app-modal-basic #modalDelete>
                <div class="app-modal-header">
                  <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="app-modal-body">
                  <p>Are you sure you want to delete Article! </p>
                  <button class="btn btn-danger" (click)="delete(article.id); modalDelete.hide()"> Delete </button>
                  <button class="btn btn-default" (click)="modalDelete.hide()" style="float: right;">
                    Cancel
                  </button>
                </div>
              </app-modal-basic>
              <app-modal-basic #modalPublish>
                <div class="app-modal-header">
                  <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="app-modal-body">
                  <p>Are you sure You want to publish! </p>
                  <button class="btn btn-primary" (click)="publish(article.id); modalPublish.hide()"> Publish </button>
                  <button class="btn btn-default" (click)="modalPublish.hide()" style="float: right;">
                    Cancel
                  </button>
                </div>
              </app-modal-basic>

              <a [routerLink]="['add',article.id]" role="button" class="btn btn-primary btn-sm"
                style="margin-right: 3%;">edit</a>
              <button class="btn btn-primary btn-sm" (click)="assignId(article.id); modalSeo.show()"
                style="margin-left: 1%">
                SEO
              </button>

              <app-modal-basic #modalSeo [dialogClass]="'modal-lg'">
                  <div class="app-modal-header">
                    <h4 class="modal-title">SEO</h4>
                    <button
                      type="button"
                      class="close basic-close"
                      (click)="modalSeo.hide()"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="app-modal-body">
                    <app-seo-article
                      [seoData]="{ a: seoData, b: ArticleSeoData }"
                      (dataFromSeo)="handleDataFromSeo($event)"
                    >
                    </app-seo-article>
                  </div>
                  <div class="app-modal-footer">
                    <button
                      type="button"
                      class="btn btn-default ripple"
                      (click)="modalSeo.hide()"
                    >
                      Close
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary ripple light"
                      (click)="sendSeo(); modalSeo.hide()"
                    >
                      Save changes
                    </button>
                  </div>
                </app-modal-basic>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <ngb-pagination [collectionSize]="bigTotalItems" (pageChange)="changePage($event)" [pageSize]="10"
      [boundaryLinks]="true" [maxSize]="20" [rotate]="true"></ngb-pagination>
  </div>
  <div class="col"></div>
</div>

<app-deleted-puplish-popup *ngIf="showpopup" [popupData]="popupData"></app-deleted-puplish-popup>