<mat-form-field class="example-chip-list" *ngIf="option.ouput === 'object'">
  <input [(ngModel)]="option.value" name="value" (ngModelChange)="filteredList = _filter(option.value)"
    [matAutocomplete]="autoComplete" #Input placeholder="{{option.placeholder}}">
  <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="AddSelected($event)">
    <mat-option *ngFor="let item of filteredList | async" [value]="item">
      {{item.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-form-field class="example-chip-list" *ngIf="option.ouput === 'id'">
  <input [(ngModel)]="option.value" name="value" (ngModelChange)="filteredList = _filter(option.value)"
    [matAutocomplete]="autoComplete" #Input placeholder="{{option.placeholder}}">
  <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="AddSelected($event)">
    <mat-option *ngFor="let item of filteredList | async" [value]="item.id">
      {{item.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-form-field class="example-chip-list" *ngIf="option.ouput === 'value'">
  <input [(ngModel)]="option.value" name="value" (ngModelChange)="filteredList = _filter(option.value)"
    [matAutocomplete]="autoComplete" #Input placeholder="{{option.placeholder}}">
  <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="AddSelected($event)">
    <mat-option *ngFor="let item of filteredList | async" [value]="item.value">
      {{item.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-form-field class="example-chip-list" *ngIf="option.ouput === 'name'">
  <input [(ngModel)]="option.value" name="value" (ngModelChange)="filteredList = _filter(option.value)"
    [matAutocomplete]="autoComplete" #Input placeholder="{{option.placeholder}}">
  <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="AddSelected($event)">
    <mat-option *ngFor="let item of filteredList | async" [value]="item.name">
      {{item.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>