<div id="styleSelector" [ngClass]="configOpenRightBar">
  <div class="selector-toggle">
    <a href="javascript:" placement="left" class="ripple light" ngbTooltip="Filter" (click)="toggleRightbar()"></a>
  </div>


  <perfect-scrollbar [style.max-width]="'100%'" [config]="config">

    <h4 class="text-center">Filters options</h4>

    <div class="row" style="margin-bottom: 3%;">
      <div class="col">
        <button class="btn btn-primary btn-sm" style="float:right;" (click)="ApplyFilter()">Apply Filter</button>
        <button class="btn btn-warning btn-sm" (click)="clearFilter()">Clear Filter</button>
      </div>
    </div>


    <div class="container filters" id="filters" style="margin-top: 3%;">
      <div style="margin-top: 5%;">
        <div class="row" style="margin-bottom: 3%;">
          <div class="col">

            <!-- <button class="btn btn-primary btn-sm"
          style="float:right;"
          (click)="emptyFilters()"
          >Clear Filters</button> -->
          </div>
        </div>

        <!-- * LOOP OVER Filter Options -->
        <div class="row" *ngFor="let option of filterOptions | orderBy: 'order'; index as i">

          <!-- ! TEXT -->
          <div class="container-fluid" *ngIf="option.type === 'text'">
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="{{option.placeholder}}" type="text" [(ngModel)]="option.value"
                  (change)="dataChange($event,option)">
              </mat-form-field>
            </div>
          </div>

          <!-- ! CHECKBOX -->
          <div class="container-fluid" *ngIf="option.type === 'checkbox'">
            <div class="col">
              <mat-checkbox [(ngModel)]="option.value" (change)="dataChange($event,option)">{{option.placeholder}}
              </mat-checkbox>

            </div>
          </div>

          <!-- ! RADIO BUTTON -->
          <div class="container-fluid" *ngIf="option.type === 'radiobutton'">
            <div class="col">
              <input type="radio" [(ngModel)]="option.value" (change)="dataChange($event,option)"> 

              <label>{{option.placeholder}}</label>
            </div>
          </div>

          <!-- ! TOGGLE BUTTON -->
          <div class="container-fluid my-2" *ngIf="option.type === 'toggel'">
            <div class="col">
              <ui-switch 
              class="js-single" 
              color="#11c788" 
              switchColor="#eaeaea" 
              size="medium" 
              [(ngModel)]="option.value"
              (change)="dataChange($event , option)">
              </ui-switch>

              <label> {{option.placeholder}}</label>
            </div>
          </div>

          <!-- ! Matching TOGGLE -->
          <div class="container-fluid" *ngIf="option.type === 'Matchingtoggel'">
            <div class="col">
              <ui-switch class="js-single" color="#4680ff" switchColor="#fff" size="medium" [(ngModel)]="option.value"
                (change)="dataChange($event , option)">
              </ui-switch>

              <label> {{option.placeholder}}</label>
            </div>
          </div>

          <!-- ! SELECT OPTION -->
          <div class="container-fluid" *ngIf="option.type === 'select'">
            <div class="col">


              <mat-form-field>
                <mat-select [placeholder]="option.placeholder" [(ngModel)]="option.value" name="select" (selectionChange)="dataChange($event,option)">
                  <mat-option value='none'>Both</mat-option>
                  <mat-option *ngFor="let item of option.list" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <select class="form-control" [(ngModel)]="option.value" (change)="dataChange($event,option)">
                <option [ngValue]="undefined">Select</option>
                <option *ngFor="let item of option.list" [ngValue]="item.id">
                  {{item.name}} </option>
              </select>
              <label> {{option.placeholder}}</label> -->
            </div>
          </div>

          <!-- ! SINGLE SELECT -->
          <div class="container-fluid" *ngIf="option.type === 'single-select'">
            <div class="col">
              <app-auto-complete [option]="option" (dataFromAutoComplete)="dataChangeAutoComplate($event)">
              </app-auto-complete>
            </div>
          </div>

          <!-- ! Tag SELECT -->
          <div class="container-fluid" *ngIf="option.type === 'tags-select'">
            <div class="col">
              <app-tags-input [option]="option" (dataFromAutoComplete)="dataChangeAutoComplate($event)">
              </app-tags-input>
            </div>
          </div>

          <!-- ! MULTI SELECT -->
          <div class="container-fluid" *ngIf="option.type === 'multi-select'">
            <div class="col">
              <app-auto-complete-multi [option]="option" (dataFromMultiAutoComplete)="dataChangeAutoComplate($event)">
              </app-auto-complete-multi>
            </div>
          </div>

          <!-- ! RANGE DATE -->
          <div class="container-fluid" *ngIf="option.type === 'rangeDate'">
            <div class="col">
              <mat-form-field>
                <mat-label>{{option.placeholder}} </mat-label>
                <input matInput [matDatepicker]="i" (dateChange)="dataChange($event,option)"
                  [(ngModel)]="option.dateValue" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                <mat-datepicker #i></mat-datepicker>
              </mat-form-field>
              <!-- <button (click)="ClearDate($event,option)"> Clear</button> -->
            </div>
          </div>


          <!-- ! RANGE -->
          <div class="container-fluid" *ngIf="option.type === 'range'">
            <!--   <div class="col">
               <p>{{option.placeholder}} : </p>
           From :  <input type="range" min="1" max="{{option.max}}" class="slider" [(ngModel)]="option.value1"  (change)="valuechanges($event,option)" />
              <label>{{option.value1}}</label><br>
           To :   <input type="range" min="1" max="{{option.max}}" class="slider" [(ngModel)]="option.value2"  (change)="valuechanges($event,option)" /><label>{{option.value2}}</label>
            </div> -->
            <h6>{{option.placeholder}}</h6>
            <ng5-slider [(value)]="option.rangeSliderMinValue" (userChangeEnd)="valuechanges($event,option)"
              [(highValue)]="option.rangeSliderMaxValue" [options]="rangeSliderOptions"></ng5-slider>
            <br>
            <br>
            <br>
          </div>

        </div>


      </div>
    </div>
  </perfect-scrollbar>
</div>