.example-chip-list {
  width: 100%;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 10px;
  background: #d3d3d3;
  border-radius: 5px;

  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  border-radius: 50%;

  height: 10px;
  background: #4caf50;
  cursor: pointer;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

small {
  &.switch-medium{
    border: 2px solid !important;
  }
}

.container-fluid {
  padding: 0px !important;
}


label {
  margin: 5px 10px;
  top: -10px;
  position: relative;
  font-weight: 600;
}
