<mat-form-field class="example-chip-list" >
  <mat-chip-list #chipList>
    <mat-chip 
      *ngFor="let selected of option.chipsList; let i = index;" 
      [selectable]="selectable" 
      [removable]="true"
      (removed)="remove(i)">
        {{selected.name}}
      <mat-icon matChipRemove >cancel</mat-icon>
    </mat-chip>
    <input 
      [(ngModel)]="option.value" 
      name="value" 
      (input)="filteredList = _filter(option.value)"  
      [matAutocomplete]="autoComplete" 
      [matChipInputFor]="chipList" 
      placeholder="{{option.placeholder}}" 
      #Input 
      #autotrigger>
  </mat-chip-list>
  <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="AddSelected($event);" >
    <mat-option *ngFor="let item of filteredList | async" [value]="item">
      
     <div *ngIf="item.nameDisplay">
        {{item.nameDisplay}}
     </div>
     <div *ngIf="!item.nameDisplay ">
        {{item.name}}
     </div>
    
    </mat-option>
  </mat-autocomplete>
</mat-form-field>