
<app-card>
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Manufacturer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturer </th>
      <td mat-cell *matCellDef="let row"  (click)="opendialog(row)"  style="color:blueviolet" >{{row.numberOfManufactures}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Distributor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Distributor </th>
      <td mat-cell *matCellDef="let row"  (click)="opendialog(row)" style="color:blueviolet" > {{row.numberOfDistributors}} </td>
    </ng-container>

    <!-- Color Column -->
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[ 10, 25, 100]"></mat-paginator>
</div></app-card>
