  
tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  table {
    width: 100%;
  }
  table {
    width: 100%;
   
	}
	.mat-cell {
        padding: 10px 10px 10px 0;
        text-align: center
	  }.mat-header-cell{
			text-align: center
		}
		