<button type="button" class="close basic-close" (click)="close(null)">
  <span aria-hidden="true">&times;</span>
</button>
<ngb-tabset>
  <ngb-tab title="Distributor">
    <ng-template ngbTabContent>
        <app-table [DataSource]="ListDist" [displaysize]="[10,20]" [tableColumns]="displayedDistColumns"></app-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Manufacturer">
      <ng-template ngbTabContent>
          <app-table [DataSource]="List" [displaysize]="[10,20]" [tableColumns]="displayedManuColumns"></app-table>
      </ng-template>
    </ngb-tab>
</ngb-tabset>
