<section class="login-block">
  <div class="container">
     <div class="row">
      
      <div class="col-sm-12 text-center">
         <img src="assets/aumet-logo.svg" alt="Aumet Logo" width="300">
      </div>

        <div class="col-sm-12">
           <form class="md-float-material form-material" [formGroup]="LoginForm"  (ngSubmit)="login()">
            <div class="auth-box card">
               <div class="row">
                  <div class="col-md-5">
                     <div class="cardHeader">
                           <h1>Welcome To <br> AUMET</h1>
                           <p>First Online Service to Assign Distributors for Medical Manufacturers</p>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <div class="card-block">
                     <div class="row m-b-20">
                        <div class="col-md-12">
                           <h3 class="text-left">Sign In</h3>
                        </div>
                     </div>
                     <div class="form-group form-primary">
                        <input type="text" class="form-control" formControlName="Email" placeholder="Your Email Address">
                        <span class="form-bar"></span>
                        <!-- <label class="float-label">Your Email Address</label> -->
                     </div>
                     <div class="form-group form-primary">
                        <input type="password"  class="form-control"   formControlName="Password" placeholder="Password">
                        <span class="form-bar"></span>
                        <!-- <label class="float-label">Password</label> -->
                     </div>
                     <div class="row m-t-25 text-left">
                        <div class="col-12">
                           <div class="checkbox-fade fade-in-primary d-">
                              <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                              <span class="text-inverse">Remember me</span>
                              </label>
                           </div>
                           <div class="forgot-phone text-right float-right">
                              <!-- <a [routerLink]="['/auth/forgot']" class="text-right f-w-600"> Forgot Password?</a> -->
                           </div>
                        </div>
                     </div>
                     <div class="row m-t-30">
                        <div class="col-md-12">

                           <button class="btn btn-primary btn-block event-btn m-2 ripple" type="submit" >
                              <span *ngIf="this.submitLoader" class="spinner-border spinner-border-sm" role="status"></span>
                              <span *ngIf="this.submitLoader" class="load-text"> Loading...</span>
                              <span *ngIf="!this.submitLoader" class="btn-text">Login</span>
                            </button>

                        </div>
                     </div>
                     <hr/>
                     <div class="row">
                        <div class="col-md-10">
                           <p class="text-inverse text-left m-b-0">Version 1.0</p>
                        </div>
                     </div>
                  </div>
               </div>
      
               </div>
            </div>
           </form>
        </div>
     </div>
  </div>
</section>