

.login-block .auth-box {
    margin: 20px auto 0 auto;
    max-width: 750px;
    border-radius:0px;
}
.card{
    .cardHeader{
        background-color: #04bba5;
        padding: 10px 20px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        h1{
            color: #fff;
            font-size: 30px;
            line-height: 40px;
            position: relative;
            margin: 0 0 20px 0;
            &:before{
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                left: 0;
                bottom: -6px;
                background-color: #fff;
            }
        }
        p{
            color: #fff;
            font-size:15px;
            line-height: 24px;
        }
    }
    .card-block{
        h3{
            position: relative;  
            &:before{
                content: "";
                position: absolute;
                width: 44px;
                height: 2px;
                left: 0;
                bottom: -14px;
                background-color: #4680ff;
            }  
        }
    }
}
.form-control {
    &::placeholder{
     font-size:12px;
    }
}