table {
  width: 100%;
}

.mat-cell {
  padding: 10px 10px 10px 0;
  text-align: center;
}
.mat-header-cell {
  padding: 10px 10px 10px 0;
  text-align: center;
}

.overflow-x-auto {
  overflow-x: auto;
}

.spinner-container {
  mat-spinner {
    margin: 20% auto;
  }
}

.mat-form-field {
  width: 100%;
}
