<app-filter [filterOptions]="filterOptions" (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>
  <div class="m-t-15">
    <ngb-tabset (tabChange)="actionTabChange($event)">
      <ngb-tab title="Product" id="1">
        <ng-template ngbTabContent>

          <app-card>
            <div class="row justify-content-between">
              <form #Searchform="ngForm" (ngSubmit)="SearchScientificNames(Searchform)">
                <div class="col-12">
                  <div class="row">

                    <div class="col-5">
                      <mat-form-field class="w-100">
                        <input matInput type="text" ngModel id="SearchKeyy" name="SearchKeyy" placeholder="Title" />
                      </mat-form-field>

                    </div>
                    <div class="col-5">
                      <mat-form-field class="w-100">
                        <mat-label>Scientific name</mat-label>

                        <mat-chip-list #chipListScientificName>
                          <mat-chip *ngFor="
                            let scientificName of seletedscientificNames; let i = index" [selectable]="selectable"
                            [removable]="removable" (removed)="removescientificNames(i)">
                            {{ scientificName?.name }}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input [(ngModel)]="ScientificNames" #scientificinput name="scientificNamess" (ngModelChange)="
                            filteredscientificNames = _filterscientificNames(ScientificNames)"
                            [matAutocomplete]="autoCompletescientificNames"
                            [matChipInputFor]="chipListScientificName" />
                        </mat-chip-list>
                        <mat-autocomplete #autoCompletescientificNames="matAutocomplete"
                          (optionSelected)="AddSelectedscientificNames($event)">
                          <mat-option *ngFor="let scientificNames of filteredscientificNames" [value]="scientificNames">
                            {{ scientificNames.name }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <button mat-flat-button color="primary" type="submit" class="my-2">
                        <mat-icon>search</mat-icon> Search
                      </button>
                    </div>
                  </div>
                </div>
              </form>

              <div class="col-auto mr-2">
                <button mat-stroked-button class="m-1 pull-right" matTooltip="Add Product" (click)="Add()">
                  <mat-icon>add</mat-icon> Product
                </button>
              </div>
            </div>
          </app-card>

          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="row overflow-x-auto">
            <table mat-table #table [dataSource]="productsource" matSort *ngIf="!isLoading && productsource?.data && productsource?.data?.length > 0">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                <td mat-cell *matCellDef="let element">
                  <a [href]="element?.specialty?.url" target="_blank">
                    {{ element.productTitle }}
                  </a>
                </td>
              </ng-container>
              <ng-container matColumnDef="Country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Country
                </th>
                <td mat-cell *matCellDef="let element">
                  <img src="assets/images/flags24/{{ element.productMadeIn?.countryCode }}.png"
                    [matTooltipShowDelay]="200" matTooltip="{{ element.productMadeIn?.name }}" alt="" />
                </td>
              </ng-container>

              <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Company
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.company?.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="speciality">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Speciality
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.specialty?.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="productScientificNames">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Scientific Name
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.scientificName?.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="CreatedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                <td mat-cell *matCellDef="let element">{{ element.CreatedBy }}</td>
              </ng-container>


              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Actions
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="row">
                    <div class="col-sm-12">
                      <a mat-icon-button matTooltip="View" color="primary" [href]="element?.specialty?.url"
                        target="_blank">
                        <mat-icon>remove_red_eye</mat-icon>
                      </a>
                      <a mat-icon-button matTooltip="Add Sub Product" color="primary" (click)="AddSub(element)">
                        <mat-icon>tab</mat-icon>
                      </a>
                      <a mat-icon-button matTooltip="Publish" color="primary" *ngIf="!element.isPublished"
                        (click)="modalPublish.show(); SelectedProductPublishId = element.id">
                        <mat-icon>publish</mat-icon>
                      </a>
                      <a mat-icon-button matTooltip="Edit" color="primary" (click)="Update(element)">
                        <mat-icon>edit</mat-icon>
                      </a>

                      <a mat-icon-button matTooltip="Delete" color="warn"
                        (click)="modalDelete.show(); SelectedProductDeleteId = element.id">
                        <mat-icon>delete</mat-icon>
                      </a>
                    </div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator [pageSize]="pageSize" [hidden]="productsource?.data?.length == 0" [length]="length" showFirstLastButtons (page)="pageChange($event)">
            </mat-paginator>
          </div>

          <div class="no-data-container" [hidden]="isLoading || (productsource?.data && productsource?.data?.length)">
            <img src="assets/no-data.svg" alt="No data">
            <p>Oops! Nothing is here</p>
          </div>

        </ng-template>
      </ngb-tab>


      <ngb-tab title="Catalog" id="2">
        <ng-template ngbTabContent>
          <app-card>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="Search" [(ngModel)]="SearchKeyyCatalog" name="SearchKeyyCatalog"
                    (keyup)="FilterCatalog($event.target.value)" />
                </mat-form-field>
              </div>
              <div class="col">

                <button mat-stroked-button class="m-1 pull-right" matTooltip="Add Catalog" (click)="AddCatalog()">
                  <mat-icon>add</mat-icon> Catalog
                </button>

              </div>
            </div>
          </app-card>
          <div style="overflow-x:auto; overflow-y:hidden; ">
            <table mat-table #table [dataSource]="catalogsoruce" matSort>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.id }}
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Company
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.company?.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.createdAt | date:'shortDate' }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Number Of Products
                </th>
                <td mat-cell *matCellDef="let element" (click)="openProductDialog(element)" style="color:blueviolet">
                  {{ element?.count }}
                </td>
              </ng-container>
              <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Link</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.link">
                    <a target="_blank" href="{{ element?.link }}">
                      <i class="material-icons">
                        folder
                      </i></a>
                  </div>

                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Actions
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="row">
                    <div class="col-sm-12">

                    <button (click)="UpdateCatalog(element.id)" class="btn btn-primary btn-sm"
                      style="margin-left: 1%">
                      EDIT
                    </button>

                      <button class="btn btn-danger btn-sm"
                        (click)="modalDelete2.show(); SelectedDeleteCatalogId =element?.id" style="margin-left: 1%">
                        Delete
                      </button>

                    </div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedCatalogColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedCatalogColumns"></tr>
            </table>
          </div>
          <mat-paginator #catpaginator [pageSize]="pageSize" [length]="cataloglength" showFirstLastButtons
            (page)="CatalogpageChange($event)">
          </mat-paginator>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</app-card>





<!-- TODO: REMOVE -->
<app-modal-basic #modalDelete>
  <div class="app-modal-header">
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="app-modal-body">
    <p>Are you sure you want to delete !</p>
    <button class="btn btn-danger" (click)="deleteProduct(); modalDelete.hide()">
      Delete
    </button>
    <button class="btn btn-default" (click)="modalDelete.hide()" style="float: right;">
      Cancel
    </button>
  </div>
</app-modal-basic>
<app-modal-basic #modalDelete2>
  <div class="app-modal-header">
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="app-modal-body">
    <p>Are you sure you want to delete !</p>
    <button class="btn btn-danger" (click)="deleteCatalog(); modalDelete2.hide()">
      Delete
    </button>
    <button class="btn btn-default" (click)="modalDelete2.hide()" style="float: right;">
      Cancel
    </button>
  </div>
</app-modal-basic>


<app-modal-basic #modalPublish>
  <div class="app-modal-header">
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="app-modal-body">
    <p>Are you sure You want to publish!</p>
    <button class="btn btn-primary" (click)="publishProduct(); modalPublish.hide()">
      Publish
    </button>
    <button class="btn btn-default" (click)="modalPublish.hide()" style="float: right;">
      Cancel
    </button>
  </div>
</app-modal-basic>


<app-modal-basic #modalSeo [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">SEO</h4>
    <button type="button" class="close basic-close" (click)="modalSeo.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{ productSeoData.length > 0 }}
  <div class="app-modal-body" *ngIf="productSeoData && productSeoData.length > 0">
    <app-seo-productpage [seoData]="{ a: seoData, b: productSeoData }" (dataFromSeo)="handleDataFromSeo($event)">
    </app-seo-productpage>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default ripple" (click)="modalSeo.hide()">
      Close
    </button>
    <button type="button" class="btn btn-primary ripple light" (click)="sendSeo(); modalSeo.hide()">
      Save changes
    </button>
  </div>
</app-modal-basic>