<div class="container filters" id="filters" style="margin-top: 3%;">
  <!-- <div class="row">
    <div class="col">
        <button class="btn btn-danger btn-sm" style="float:right;" (click)="clearFilters()"> clear </button>
    </div>
  </div> -->
  <div style="margin-top: 5%;">
    <div class="row" style="margin-bottom: 3%;">
      <div class="col">
        <h4>More Filters:</h4>
        <!-- <button class="btn btn-primary btn-sm"
          style="float:right;"
          (click)="emptyFilters()"
          >Clear Filters</button> -->
      </div>
    </div>
    <div class="row" *ngFor="let option of (filterOptions | orderBy: 'order')">
      <div class="container-fluid" *ngIf="option.type === 'multiText'">
        <div class="col">
        <tag-input [ngClass]="'tag-select'" theme='bootstrap' [placeholder]="'+'" 
              [secondaryPlaceholder]="option.title" [(ngModel)]="tags" (onTextChange)="dataResivedFromMultiText($event)">
      </tag-input>
      </div>
      </div>
      
      <div class="container-fluid" *ngIf="option.type === 'text'">
        <div class="col">
          <app-text
            [mainData]="option"
            (dataFromText)="dataResivedFromText($event)"
          ></app-text>
        </div>
      </div>

      <div class="container-fluid" *ngIf="option.type === 'multiSelect'">
        <div class="col">
          <app-multi-select
            [mainData]="option"
            (dataFromMulti)="dataResivedFromMultiSelect($event)"
          ></app-multi-select>
        </div>
      </div>

      <div class="container-fluid" *ngIf="option.type === 'singleSelect'">
        <div class="col">
          <app-single-select
            [mainData]="option"
            (dataFromSelect)="dataResivedFromSelect($event)"
          ></app-single-select>
        </div>
      </div>

      <div
        class="container"
        *ngIf="option.type === 'checkBoxs' && option.list.length > 0"
      >
        <div class="col">
          <app-checkboxs
            [mainData]="option"
            (dataFromCheck)="dataResivedFromCheck($event)"
          ></app-checkboxs>
        </div>
      </div>

      <div class="container-fluid" *ngIf="option.type === 'toggel'">
        <div class="col">
          <app-toggel
            [mainData]="option"
            (dataFromToggel)="dataResivedFromToggel($event)"
          ></app-toggel>
        </div>
      </div>

      <div class="container-fluid" *ngIf="option.type === 'rangeDate'">
        <div class="col">
          <app-range-date
            [mainData]="option"
            (fromDateOut)="fromDataHandler($event)"
            (toDateOut)="toDataHandler($event)"
          ></app-range-date>
        </div>
      </div>

      <div class="container-fluid" *ngIf="option.type === 'autocomplete'">
        <div class="col">
          <app-autocomplete-multi
            [mainData]="option"
            (dataFromAutoComp)="fromAutoCompHandler($event)"
          ></app-autocomplete-multi>
        </div>
      </div>

      <div class="container-fluid" *ngIf="option.type === 'integer'">
        <div class="col">
          <app-number
            [mainData]="option"
            (dataFromNumber)="dataFromNumberHandler($event)"
          ></app-number>
        </div>
      </div>

      <div class="container-fluid" *ngIf="option.type === 'autoSingle'">
        <div class="col">
          <app-autocompletesingle
            [mainData]="option"
            (dataFromAutoCompSingle)="fromAutoCompHandler($event)"
          ></app-autocompletesingle>
        </div>
      </div>

      <div class="container-fluid" *ngIf="option.type === 'singleDate'">
        <div class="col">
          <app-single-date
            [mainData]="option"
            (fromDateOut)="fromSingleDataHandler($event)"
            (toDateOut)="toSingleDataHandler($event)"
          ></app-single-date>
        </div>
      </div>

      <div class="container-fluid" *ngIf="option.type === 'sortBy'">
        <div class="col">
          <app-sorting
            [mainData]="option"
            (dataFromSort)="handleDataFromSort($event)"
          ></app-sorting>
        </div>
      </div>
    </div>
  </div>
</div>
