<!-- IN CASE OF (Scientific names sent for) TYPE=1 -->
<mat-dialog-content>

  <mat-card-title class="text-center">{{dialogTitle}}</mat-card-title>

  <div *ngIf="dialogType === 1">
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>MedicalLines</th>
              <th>Specialities</th>
              <th>Scientific Names</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="MedicalLines">
                <mat-chip-list *ngFor="let i of medicalLineSource">
                  <mat-chip color="primary" selected>{{i}}</mat-chip>
                </mat-chip-list>
              </td>
              <td data-label="Specialities">
                <mat-chip-list *ngFor="let i of specialitiesSource">
                  <mat-chip color="primary" selected>{{i}}</mat-chip>
                </mat-chip-list>
              </td>
              <td data-label="Scientific Names">
                <mat-chip-list *ngFor="let i of sciNamesSource">
                  <mat-chip color="primary" selected>{{i}}</mat-chip>
                </mat-chip-list>
              </td>
             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="dialogType === 2 || dialogType === 3 || dialogType === 4 || dialogType === 5">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="slug">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Slug</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.slug}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="imagePath">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img width=36 matTooltipPosition="above" [src]="element.imagePath" />
        </mat-cell>
      </ng-container>

      <!-- Special for Users Table, Type 5 -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.firstName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.email}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator #paginator [length]="10" [pageSize]="10"></mat-paginator>
  </div>

  <div class="container-fluid" *ngIf="dialogType === 6 ">
    <mat-form-field class="example-full-width" style="width: 100%">
      <input matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
  </div>

  <div class="container-fluid" *ngIf="dialogType === 7 ">
    <mat-list>
      <mat-list-item *ngFor="let item of messages">
        <mat-icon mat-list-icon color="primary">message</mat-icon>
        <h4 mat-line>{{item.body}}</h4>
        <p mat-line> {{item.createdAt | date}} </p>
      </mat-list-item>
    </mat-list>
    <div class="no-data-container" [hidden]="isLoading || messages.length">
      <p>No Messages yet!</p>
    </div>
  </div>


  <div class="spinner-container">
    <mat-spinner [diameter]="100" *ngIf="isLoading"></mat-spinner>
  </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close (click)="close(null)" tabindex="-1">Close</button>
  <button *ngIf="dialogType === 6" mat-raised-button color="primary" (click)="addemail()">Save</button>
</mat-dialog-actions>