<app-filter [filterOptions]="filterOptions" (dataFromFilters)="handleDataFromFilters($event)"></app-filter>
<app-card> 
    <app-card> 
      <div class="row">
          <div class="col">
            <input
            matInput
            placeholder="Search"
            [(ngModel)]="searchKey"
            name="searchKey"
            (keyup)="keyUpapplyFilter($event.target.value)"
            (keydown)="keyDownfilter($event.target.value)"
          />
          </div>
        </div>
    </app-card>
    
    <div class="mat-elevation-z8" style="overflow-x:auto; overflow-y:hidden; ">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> <button class="btn btn-primary btn-sm" (click)="updaterow(element)">Edit</button> </td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="SubTitle">
        <th mat-header-cell *matHeaderCellDef> Sub Title </th>
        <td mat-cell *matCellDef="let element"> {{element?.productSubtitle}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="manufacturerName">
        <th mat-header-cell *matHeaderCellDef> Manufacturer Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.manufacturerName}}</td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="specialty">
        <th mat-header-cell *matHeaderCellDef> Speciality </th>
        <td mat-cell *matCellDef="let element">{{element?.specialities?.name}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="scientificName">
        <th mat-header-cell *matHeaderCellDef> Scientific Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.scientificName?.nameDisplay}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="length" [pageSizeOptions]="[10, 20]" showFirstLastButtons  (page)="pageChange($event)" ></mat-paginator>
  </div>
</app-card>
