<app-card>
  <!--    <button class="btn btn-primary btn-sm" (click)="add()">Add</button> -->
  <button class="btn-danger  btn-sm ng-star-inserted" (click)="generateJson()">
    Generate
  </button>
  <br />
  <form>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Search" [(ngModel)]="SearchKey" name="SearchKey" />
        <!--  (keyup)="keyUpapplyFilter($event.target.value)"
              (keydown)="keyDownfilter($event.target.value)" -->
      </mat-form-field>
    </div>
    <div class="row">

    </div>
  </form>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let values">
        <p>{{ values.id }}</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Key</mat-header-cell>
      <mat-cell *matCellDef="let values">
        <p>{{ values.key }}</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="language">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Language</mat-header-cell>
      <mat-cell *matCellDef="let values">
        <p>{{ values.language }}</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
      <mat-cell *matCellDef="let values">
        <p>{{ values.value }}</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="page">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Page Name</mat-header-cell>
      <mat-cell *matCellDef="let values">
        <p>{{ values.pageName }}</p>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="moduleId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ModuleId</mat-header-cell>
      <mat-cell *matCellDef="let values">
        <p>{{ values?.moduleId }}</p>
      </mat-cell>
      <!--********************-->
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Actions </mat-header-cell>
      <mat-cell *matCellDef="let values">
        <button class="btn-success btn-sm ng-star-inserted">
          Update
        </button>
        &nbsp;
        <button class="btn-danger  btn-sm ng-star-inserted" (click)="DeleteLanguage(values.id)">
          Delete
        </button>
        &nbsp;
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [length]="length" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  <!-- (page)="pageChange($event)" -->

</app-card>