<app-card>
  <div class="modal-header">
    <h4 class="modal-title">
      <h2>{{ data?.title}} Translation</h2>
    </h4>
  </div>
  <ngb-tabset  (tabChange)="OnTabForm($event)" >
    <ngb-tab *ngFor="let tab of languageList;let i = index" id="{{i}}">
        <ng-template  ngbTabTitle><span class="tab-title">{{tab.name}}</span></ng-template>
      <ng-template ngbTabContent>
        <br>
        <form #trans="ngForm" (ngSubmit)="submit(trans)">
            <div class="row">
                <div class="col-sm-6">
                  <label>Key to be translated</label>
                  <br>
                  <mat-form-field>
                    <input
                      type="text"
                      matInput
                      disabled
                      [(ngModel)]="key"
                      name="key"
                    />
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                      <label>Key Used For?</label>
                      <br>
                    <input
                      type="text"
                      matInput
                      [(ngModel)]="usedfor"
                      name="usedfor"
                    />
                  </mat-form-field>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <textarea
                      matInput
                      placeholder="{{data?.placeholders[0]}} {{tab.name}}"
                      [(ngModel)]="value"
                      name="value"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <textarea
                      matInput
                      placeholder="{{data?.placeholders[1]}} {{tab.name}}"
                      [(ngModel)]="Descriptor"
                      name="Descriptor"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-6">
                  <input type="submit" class="btn btn-primary" />
                </div>
                <div class="col-6">
                  <a class="btn  pull-right" (click)="close(null)">
                    Close
                  </a>
                </div>
              </div>
        </form>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  </app-card>