<div class="md-tabs">
  <ngb-tabset>
    <ngb-tab *ngFor="let country of generalSeoData" title={{country.name}}>
      <ng-template ngbTabContent>
        <div  class="m-t-15">

            <div class="row">
                <div class="col">
                  <h5>{{country.name}} Meta Title</h5>
                  <input type="text" placeholder="Meta keywords" (input)="handleSeo()" class="form-control" [(ngModel)]="country.metaTitle">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h5>{{country.name}} Meta Description</h5>
                  <input type="text" placeholder="Meta description"  (input)="handleSeo()" class="form-control" [(ngModel)]="country.metaDescription">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h5>{{country.name}} Meta KeyWord</h5>
                  <input type="text" placeholder="Meta Url" (input)="handleSeo()" class="form-control" [(ngModel)]="country.metaKeyWord">
                </div>
              </div>
              <hr>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

