<form #ad="ngForm" (ngSubmit)="submit(ad)">

  <div mat-dialog-content>
    <h2 mat-dialog-title>{{basic_title}} Prospected Scientific Name</h2>

    <hr />
    

    <div class="row mt-3">
      <div class="col-sm-12">
        <mat-form-field>
          <input
            type="text" 
            placeholder="Scientific Name" 
            matInput 
            [(ngModel)]="intForm.Scientific"
            name="Scientific" 
            (ngModelChange)="handleScientificChanging($event)" 
            #sName="ngModel"
            [matAutocomplete]="autoCompleteSci" 
            required />
          <mat-autocomplete #autoCompleteSci="matAutocomplete" [displayWith]="displayScientific">
            <mat-option *ngFor="let option of sciNameOptionsList" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="ad.invalid && sName?.errors?.required">
            Scientific name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="row mt-3">

      <div class="col-sm-6">
        <mat-form-field class="example-chip-list">
          <mat-label>Medical Lines</mat-label>
          <input
           matInput 
           [(ngModel)]="intForm.MedicleLine" 
           name="Medicallineid" 
           #medicalline="ngModel" 
           [matAutocomplete]="autoCompleteMedicals" 
           required /> 
            <!-- (ngModelChange)="bindspecialities($event)" -->
          <mat-autocomplete #autoCompleteMedicals="matAutocomplete"
            (optionSelected)="bindspecialities($event)" [displayWith]="displayMedicalLine">
            <mat-option *ngFor="let option of medline" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="ad.invalid && medicalline?.errors?.required">
            Medical Line is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input
           type="text" 
           placeholder="Specialities" 
           matInput 
           [(ngModel)]="intForm.Specialities"
            name="Specialities" 
            (ngModelChange)="_filterSpeciality($event)"
            [matAutocomplete]="autoCompleteSpeciality"
             #sName="ngModel" 
             required />
          <mat-autocomplete #autoCompleteSpeciality="matAutocomplete" [displayWith]="displaySpeciality">
            <mat-option *ngFor="let option of specialities" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="ad.invalid && sName?.errors?.required">
            Specialities is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>



  </div>


  <div mat-dialog-actions align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="onCancel()">
      Close
    </button>

    <button type="submit" mat-raised-button color="primary" class="mx-1" cdkFocusInitial>
      {{basic_title}}
    </button>
  </div>

</form>