
    <div id="styleSelector" [ngClass]="configOpenRightBar">
      <div class="selector-toggle">
        <a href="javascript:" placement="left" class="ripple light" ngbTooltip="Live layout customizer" (click)="toggleRightbar()"></a>
      </div>
      <perfect-scrollbar [style.max-width]="'100%'"  [config]="config"> 
      <app-filters
      [filterOptions]="filterOptions"
      (dataFromFilters)="handleDataFromFilters($event)"
    ></app-filters>
  
  </perfect-scrollbar>
    </div>
<div class="row">
 
  <div class="col-12">
    <ngb-tabset>
      <ngb-tab title="Manufacutre View">
        <ng-template ngbTabContent>
            <app-newmanufacturer-view  ></app-newmanufacturer-view>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Distrubutor View">
        <ng-template ngbTabContent>
            <app-newdistributor-view></app-newdistributor-view>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
    
  </div>
  </div>

