
<h1 mat-dialog-title>{{title}}</h1>

<hr />

<div mat-dialog-content>

  <div *ngIf="popupType == 1">

    <ngb-tabset>
      <ngb-tab title="Scientific Name">
        <ng-template ngbTabContent>
          <div>
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
              </ng-container>
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row">{{row.scientificName.name}}</td>
              </ng-container>
              <ng-container matColumnDef="speciality">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Speciality </th>
                <td mat-cell *matCellDef="let row">{{row.specialty.name}}</td>
              </ng-container>
              <ng-container matColumnDef="medline">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Medical Line </th>
                <td mat-cell *matCellDef="let row">{{row.medicalLine.name}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <mat-paginator [pageSize]="pagesciSize" [length]="scilength" showFirstLastButtons (page)="scipageChange($event)">
            </mat-paginator>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Product">
          <ng-template ngbTabContent>
            <div >
              <table mat-table [dataSource]="dataSourceProd" matSort>
    
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>
    
                <!-- Product Title column -->
                <ng-container matColumnDef="Title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                  <td mat-cell *matCellDef="let row">{{row.productTitle}}</td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedProdColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedProdColumns;">
                </tr>
              </table>
              <mat-paginator [pageSize]="pageprodSize" [length]="prodlength" showFirstLastButtons (page)="prodpageChange($event)">
              </mat-paginator>
            </div>
          </ng-template>
        </ngb-tab>
    </ngb-tabset>
  
  

  </div>

  <div *ngIf="popupType == 2">
    <p>{{comment}}</p>
  </div>

  <div *ngIf="popupType == 3">
    <mat-table #table [dataSource]="dataSourceCountries" matSort >

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.id }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.name}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="slug">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Slug</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.slug}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="imagePath">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img width=36
            matTooltipPosition="above"
            [src]="element.imagePath"
          />
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.firstName}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.email}}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumnsCountry"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsCountry"></mat-row>
    
    </mat-table>
    <mat-paginator #paginator [length]="10" [pageSize]="10"> </mat-paginator>
    

  </div>

</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="close(null)">Close</button>
</div>



