::ng-deep .mat-dialog-container {
    overflow: hidden;
  }
  
  img {
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 150px;
    } 
    
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
    
    .imgDiv {
      max-width: 160px;
    }
    
    .marginHeader {
      margin-bottom: 10px;
    }
    
    .selectBlack {
      color: black;
    }
    .error {
      color: red;
    }
    img {
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 150px;
    }
    
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
    
    .imgDiv {
      max-width: 160px;
    }
    
    .quill-editor-edit {
      // box-sizing: border-box;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 13px;
      // height: 100px;
      position: sticky;
      overflow-y: scroll;
      // background-color: aqua;
      // overflow: hidden;
      max-height: 150px;
    }
    .marginHeader {
      margin-bottom: 10px;
    }
    
    .selectBlack {
      color: black;
    }
    
    .custom-scroll::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }
    
    .custom-scroll::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
    }
    
    .custom-scroll::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #448aff;
      background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
      background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
    }
    .example-chip-list {
      width: 100%;
    }
    .invalid-feedback {
      display: block !important;
      width: 100%;
      margin-top: 0.25rem;
      font-size: 80%;
      color: #dc3545;
    }
    