<h3 mat-dialog-title>Approve Suggested Scientific Name</h3>
<div mat-dialog-content class="my-3 py-3">
  <form id="thisForm" #Scientificform="ngForm" (ngSubmit)="submit(Scientificform)">
    <div class="row">
      <div class="col-6">
        <h5 class="marginHeader">Name (*)</h5>
        <input type="text" placeholder="Name" name="ScientificName" required class="form-control"
          [(ngModel)]="scientificnameform.Name" #scientificvalidation="ngModel" />
        <div *ngIf="Scientificform?.submitted && Scientificform?.invalid" class="invalid-feedback">
          <div *ngIf="Scientificform.controls.ScientificName.errors?.required">ScientificName is required</div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <h5 class="marginHeader">Medical Line</h5>
        <select #medicalline name="Medicallineid" class="form-control form-control-default selectBlack"
          placeholder="Select One Value Only" [(ngModel)]="scientificnameform.MedicalLineId"
          (change)='bindspecialities(medicalline.value)'>
          <option *ngFor="let mLine of medicallineslist" [value]="mLine.id" label="{{ mLine.text }}">
            {{ mLine.name }}</option>
        </select>
      </div>
      <div class="col">
        <h5 class="marginHeader">Specialities (*)</h5>
        <!-- <select name="SpecialityId" class="form-control form-control-default selectBlack"
          #scientificvalidation="ngModel" required class="form-control form-control-default selectBlack"
          [(ngModel)]="scientificnameform.SpecialityId">
          <option *ngFor="let speciality of specialitieslist" [ngValue]="speciality.id">{{ speciality.name }} </option>
        </select> -->
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListSpeciality>
            <mat-chip *ngFor="let Speciality of SelectedSpeciality; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeSpeciality(i)">
              {{ Speciality.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="scientificnameform.Specialities" name="speciality"
              (ngModelChange)="_filterSpeciality(scientificnameform.Specialities)"
              [matAutocomplete]="autoCompleteSpeciality" [matChipInputFor]="chipListSpeciality" #SpecInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteSpeciality="matAutocomplete"
            (optionSelected)="AddSelectedSpeciality($event)">
            <mat-option *ngFor="let Speciality of specialitiesFilter | async" [value]="Speciality">
              {{ Speciality.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div *ngIf="Scientificform?.submitted && Scientificform?.invalid" class="invalid-feedback">
          <div *ngIf="scientificvalidation.errors?.required">Speciality is required</div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <h5 class="marginHeader" mat-raised-button matTooltip="Only Add">Manufacturer</h5>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListManufacturer>
            <mat-chip *ngFor="let Manufacturer of SelectedManufacturer; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeManufacturer(i)">
              {{ Manufacturer.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="scientificnameform.manufacturer" name="manufacturer"
              (ngModelChange)="_filterManufacturer(scientificnameform.manufacturer)"
              [matAutocomplete]="autoCompleteManufacturer" [matChipInputFor]="chipListManufacturer" #ManuInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteManufacturer="matAutocomplete"
            (optionSelected)="AddSelectedManufacturer($event)">
            <mat-option *ngFor="let Manufacturer of manufacturerFilter | async" [value]="Manufacturer">
              {{ Manufacturer.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col">
        <h5 class="marginHeader" mat-raised-button matTooltip="Child  Scientific Names ">
          Narrow Terms
        </h5>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListNarrowTerms>
            <mat-chip *ngFor="let scientificName of SelectedNarrowTerms; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeNarrowTerms(i)">
              {{ scientificName.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="scientificnameform.narrowTerm" name="narrowTerm"
              (ngModelChange)="_filterscientificNames(scientificnameform.narrowTerm)"
              [matAutocomplete]="autoCompleteNarrowTerms" [matChipInputFor]="chipListNarrowTerms" #searchInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteNarrowTerms="matAutocomplete"
            (optionSelected)="AddSelectedNarrowTerms($event)">
            <mat-option *ngFor="let scientificNames of filteredscientificNames | async" [value]="scientificNames">
              {{ scientificNames.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <h5 class="marginHeader">Icon</h5>
        <label class="custom-file">
          <input type="file" class="custom-file-input" onclick="this.value= null" (change)="iconHandler($event)" />
          <span class="custom-file-control"></span>
        </label>
      </div>
      <div class="col">
        <h5 class="marginHeader" mat-raised-button matTooltip="Alternative Names for the Scientific Name"
          aria-label="None Descriptor">
          None Descriptor
        </h5>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipNoneDescriptor>
            <mat-chip *ngFor="let item of NoneDescriptor; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeTag(i)">
              {{ item }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipNoneDescriptor" (matChipInputTokenEnd)="addNoneDescriptor($event)" />
          </mat-chip-list>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="imgDiv" *ngIf="imagePreview">
          <label role="button" class="badge badge-danger" (click)="hideImage()" class="close">X</label>
          <img [src]="imagePreview" class="img" style="max-width: 100%" />
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-6">
        <h5 class="marginHeader" mat-raised-button matTooltip="Suggested Terms">Related Terms</h5>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListRelatedScientific>
            <mat-chip *ngFor="let scientificName of SelectedRelatedTerms; let i = index" [selectable]="'true'"
              [removable]="removable" (removed)="removeRelatedTerms(i)">
              {{ scientificName.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="scientificnameform.relatedTerm" name="relatedTerm"
              (ngModelChange)="_filterscientificNames(scientificnameform.relatedTerm)"
              [matAutocomplete]="autoCompleteRelatedterms" [matChipInputFor]="chipListRelatedScientific"
              #relatedInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteRelatedterms="matAutocomplete"
            (optionSelected)="AddSelectedRelatedNames($event)">
            <mat-option *ngFor="let scientificNames of filteredscientificNames | async" [value]="scientificNames">
              {{ scientificNames.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-6">
        <h5 class="marginHeader" mat-raised-button matTooltip="the Parent Scientific Names ">Border Terms</h5>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListBroaderterms>
            <mat-chip *ngFor="let scientificName of SelectedBroaderTerms; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeBroaderTerms(i)">
              {{ scientificName.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="scientificnameform.borderTerm" name="borderTerm"
              (ngModelChange)="_filterborderscientificNames(scientificnameform.borderTerm)"
              [matAutocomplete]="autoCompleteBroaderterms" [matChipInputFor]="chipListBroaderterms" #broadInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteBroaderterms="matAutocomplete"
            (optionSelected)="AddSelectedBroaderNames($event)">
            <mat-option *ngFor="let scientificNames of filteredBroaderTerms | async" [value]="scientificNames">
              {{ scientificNames.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <input type="submit" class="btn btn-primary" value="Approve" />
        <a class="btn btn-primary" style="float: right"> <a (click)="close(null)"> Cancel</a></a>
      </div>
    </div>
    <br />
    <div class="row">
      <div style="font-size: 12px ">&nbsp;&nbsp; (*) is a Required Field</div>
    </div>
  </form>
</div>