<form #Manu="ngForm" (ngSubmit)="submit(Manu)">

  <mat-dialog-content>
    <h2 mat-dialog-title class="text-center">Merge Scientific Name</h2>

    <hr />

    <div class="row">
      <div class="col-sm-12">
        <h5 class="marginHeader">Original Scientific Name</h5>
        <mat-form-field>
          <input type="text" matInput disabled [(ngModel)]="Sci1" name="Sci1" />
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <h5 class="marginHeader">Alternative Scientific Name</h5>
        <mat-form-field>
          <input type="text" placeholder="Scientific Name" (ngModelChange)="handleScientificChanging($event)" matInput
            [(ngModel)]="Sci2" name="Sci2" [matAutocomplete]="auto" required />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayScientific">
            <mat-option *ngFor="let option of Scientifics$" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>


  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="close(null)"
      tabindex="-1">Close</button>
    <button type="submit" mat-raised-button color="primary" class="mx-1" cdkFocusInitial>Submit</button>
  </mat-dialog-actions>


</form>