<div class="container-fluid">
  <tag-input
    [ngClass]="'tag-select'"
    theme="bootstrap"
    [placeholder]="'+'"
    [(ngModel)]="selectedList"
    (onTextChange)="handleTextChanging($event)"
    (onAdd)="handleAdd($event)"
    (onRemove)="handleRemove($event)"
    [secondaryPlaceholder]="mainData.title"
    [identifyBy]="value" [displayBy]="display"
  >
    <tag-input-dropdown
      [showDropdownIfEmpty]="true"
      [autocompleteItems]="dataToDisplay"
      [keepOpen]="false"
      [identifyBy]="value" [displayBy]="display"
    >
    </tag-input-dropdown>
  </tag-input>
</div>
<hr />
