<li (clickOutside)="_close()" class="header-notification ripple light" (click)="_open()">
  <a href="javascript:">
    <i class="feather icon-bell"></i>
    <span class="badge bg-c-red" *ngIf="(notification$ | async | seen: false)?.length > 0">1</span>
  </a>
  <ul [@notificationBottom]="show" class="show-notification" [ngClass]="class">
    <li>
      <h6>Notifications</h6>
      <label class="label label-danger">New</label>
    </li>
    <ng-container *ngFor="let notification of notification$ | async | seen: false">
      <li class="ripple">
        <div class="media">
          <img
            class="d-flex align-self-center img-radius"
            src="assets/images/avatar-2.jpg"
            alt="Generic placeholder image"
          />
          <div class="media-body">
            <h5 class="notification-user">{{ notification.title }}</h5>
            <p class="notification-msg">{{ notification.body }}</p>
            <span class="notification-time">30 minutes ago</span>
          </div>
        </div>
      </li></ng-container
    >

    <ng-template #noMessages> <li>No New Notifications</li> </ng-template>
  </ul>
</li>
