.messages-container {
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.width-80 {
  width: 80%;
}

.hidden-input {
  display: none;
}

.message-templates {
  background-color: #fafafa;
  box-shadow: 0 0 5px 0px black;
}
