<ng-container>
  <div class="chat-card messages-container" #messagesScroll>
    <ng-container *ngFor="let message of messages">
      <ng-container [ngSwitch]="message.flag">
        <ng-container *ngSwitchCase="'received'">
          <div class="row received-chat">
            <div class="col-auto">
              <img [src]="message?.profile_image || 'https://ptetutorials.com/images/user-profile.png'" alt="user image"
                class="img-radius img-40" />
            </div>
            <div class="col">
              <div class="msg">
                <p class="m-b-0" [innerHTML]="message?.message"></p>
              </div>
              <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>{{ message?.sentAt | date: "shortTime" }}
              </p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'sent'">
          <div class="row m-b-20 send-chat">
            <div class="col">
              <div class="msg">
                <p class="m-b-0">{{ message?.message }}</p>
              </div>
              <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>{{ message?.sentAt | date: "shortTime" }}
              </p>
            </div>
            <div class="col-auto p-l-0">
              <img [src]="currentUser?.profile_image || 'https://ptetutorials.com/images/user-profile.png'"
                alt="user image" class="img-radius img-40" />
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-11 col-md-11">
      <mat-form-field class="w-100" appearance="outline">
        <!--  <button mat-icon-button matPrefix (click)="openFileUpload()">
          <mat-icon>attach_file</mat-icon>
        </button> -->

        <input matInput placeholder="Send Message" (keydown.enter)="sendMessage()" autocomplete="off"
          [(ngModel)]="text" />
        <button matSuffix mat-icon-button (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--  <div class="col-lg-1 col-md-1 p-0 pb-4">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>list_alt</mat-icon>
      </button>
    </div> -->
  </div>
  <input type="file" class="hidden-input" #fileUpload />
</ng-container>

<!-- Messages Template Menu -->
<!-- <mat-menu #menu="matMenu">
  <ng-container *ngFor="let template of template$"><button mat-menu-item
      (click)="chooseTemplate(template)">{{ template.name }}</button></ng-container>
</mat-menu> -->