<div class="modal-header">
  <h4 class="modal-title">
    <h2>{{ dialogData[0]?.name }}</h2>
  </h4>

  <button mat-icon-button matTooltip="Close" (click)="close(null)">
    <mat-icon>close</mat-icon>
  </button>
</div>


<div class="modal-body">
  <div class="page-body">

    <div class="row my-3">
      <div class="col-md-12">

        <a target="_blank" [href]="manulink" mat-flat-button  class="m-1 pull-right">
          View Manufacturer Requirements
        </a>

        <a target="_blank" [href]="profilelink" mat-flat-button class="m-1 pull-right">
          View Profile
        </a>

        <a target="_blank" href="{{openProfileLink}}/{{dialogData[0].slug}}" mat-flat-button class="m-1 pull-right">
          Open Public View
        </a>

      </div>
    </div>


    <div class="row my-3">
      <div class="col-lg-12">
        <div class="md-tabs md-card-tabs">
          <ngb-tabset (tabChange)="onTabChange($event)">
            <ngb-tab id="1" title="Personal Info">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="row">
                    <div class="col-sm-6 ">
                      <div class="card">
                        <div class="card-body">
                          <div class="customTableDesign">
                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Is Crawled</th>
                                    <th>Website</th>
                                    <th>Modification Date</th>
                                    <th>Registration Date</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Id">{{dialogData[0].companyID}}</td>
                                    <td data-label=" Name">{{dialogData[0].name}}</td>
                                    <td data-label="Country"> <img src="../../../../../assets/images/flags24/{{
                            dialogData[0].country.countryCode.toUpperCase()
                          }}.png" />
                                    </td>
                                    <td data-label="Is Crawled">{{dialogData[0].isCrawled}}</td>
                                    <td data-label="Website">{{dialogData[0].website}}</td>
                                    <td data-label="Modification Date">{{dialogData[0].updatedAt  | date:'shortDate' }}
                                    </td>
                                    <td data-label="Registration Date">
                                      {{dialogData[0].registrationDate  | date:'shortDate'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 ">
                      <div class="card">
                        <div class="card-body">
                          <div class="customTableDesign">
                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Annual Sales</th>
                                    <th>Is Registered</th>
                                    <th>Number Of Products</th>
                                    <th>Number of Scientific Names</th>
                                    <th>Number of Signed Agreements</th>
                                    <th>Number of Inquiries</th>
                                    <th>Number of Users</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Annual Sales">{{dialogData[0].annualSales}}</td>
                                    <td data-label="Is Registered">{{dialogData[0].isRegistered}}</td>
                                    <td data-label="Number Of Products"> {{dialogData[0].numProducts}}</td>
                                    <td data-label="Number of Scientific Names">{{dialogData[0].numScientificNames}}
                                    </td>
                                    <td data-label="Number of Signed Agreements">{{dialogData[0].numSignedAgreements}}
                                    </td>
                                    <td data-label="Number of Inquiries">{{dialogData[0].numInquries}}</td>
                                    <td data-label="Number of Users">{{dialogData[0].numUsers }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-12">
                      <mat-accordion>
                        <mat-expansion-panel class="card" (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <div class="card-header"> Description </div>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="card-body user-desc">
                            <div class="view-desc" *ngIf="editAbout">
                              <div [innerHTML]="dialogData[0]?.description"></div>
                            </div>
                            <div class="edit-desc" *ngIf="!editAbout">
                              <div class="col-md-12">
                                <div class="input-group">
                                  <quill-editor [(ngModel)]="dialogData.description" [options]="editorConfig">
                                  </quill-editor>
                                </div>
                              </div>
                              <div class="text-center col-sm-12">
                                <a (click)="savedescription()"
                                  class="btn btn-primary ripple light m-r-20 m-t-40">Save</a>
                                <a href="javascript:;" id="edit-cancel-btn" class="btn btn-default m-t-40 ripple"
                                  (click)="toggleEditAbout()">Cancel</a>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab id="2" title="Manufacture Requirement">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body">
                          <!-- <div class="customTableDesign"> -->
                          <div class="table-responsive" *ngIf="manufacturerRecuirment.compatitors">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Competitors</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let competitors of manufacturerRecuirment.compatitors">
                                  <td class="col-md-6">{{competitors?.name}}</td>
                                  <td class="col-md-6"><img src="assets/images/flags24/{{
                                      competitors.country.CountryCode.toUpperCase()
                                    }}.png" /></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive" *ngIf="manufacturerRecuirment.references">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>References</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let reference of manufacturerRecuirment.references">
                                  <td class="col-md-6">{{reference?.name}}</td>
                                  <td class="col-md-6"><img src="assets/images/flags24/{{
                                      reference.CountryCode.toUpperCase()
                                    }}.png" /></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="table-responsive" *ngIf="manufacturerRecuirment.marketing">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Marketing support</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngIf="manufacturerRecuirment.marketing?.localExhibtion">
                                  <td>participating in local exhibitions</td>
                                </tr>
                                <tr *ngIf="manufacturerRecuirment.marketing?.visitCount">
                                  <td>participating in local exhibitions
                                    <strong> {{ manufacturerRecuirment.marketing.visitCount }}
                                      business visits </strong>
                                    to the distirbutor each year
                                  </td>
                                </tr>
                                <tr *ngIf="manufacturerRecuirment.marketing?.technicalSupport">
                                  <td>Providing technical support</td>
                                </tr>
                                <tr *ngIf="manufacturerRecuirment.marketing?.trainingCover">
                                  <td>Providing training for the distributor
                                    ({{ manufacturerRecuirment.marketing.trainingCover }})</td>
                                </tr>
                                <tr *ngIf="manufacturerRecuirment.marketing?.marketingExpences">
                                  <td>Share
                                    <strong> {{ manufacturerRecuirment.marketing?.marketingCover }}
                                    </strong>of marketing expenses for
                                    <strong> {{ manufacturerRecuirment.marketing?.marketingDuration }}</strong>
                                  </td>
                                </tr>
                                <tr *ngIf="manufacturerRecuirment.marketing?.provideSamples">
                                  <td>Provide samples
                                    ({{ manufacturerRecuirment.marketing.sampleCovers }})
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="table-responsive" *ngIf="manufacturerRecuirment.additionalNote">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Additional Note</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{manufacturerRecuirment?.additionalNote}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab id="3" title="Users">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate]>
                  <!-- info card start -->
                  <app-card>
 
                    <div class="row justify-content-between">
                      <div class="col-10">
                        <!-- <h5>Users</h5> -->
                      </div>
                      <div class="col-2">
                        <button (click)="openAddUser(dialogData[0])" mat-stroked-button class="m-1 pull-right" matTooltip="Add User">
                          <mat-icon>add</mat-icon> User
                        </button>
                      </div>
                    </div>

                    <div class="row overflow-x-auto">
                      <table mat-table [dataSource]="dialogData[0]?.users" *ngIf="(dialogData[0]?.users && dialogData[0]?.users?.length > 0)">
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> id </th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="firstName">
                          <th mat-header-cell *matHeaderCellDef> First Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="lastName">
                          <th mat-header-cell *matHeaderCellDef> Last Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef> email </th>
                          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <ng-container matColumnDef="currentStage">
                          <th mat-header-cell *matHeaderCellDef> Current Stage </th>
                          <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                          <th mat-header-cell *matHeaderCellDef> Phone </th>
                          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                          <th mat-header-cell *matHeaderCellDef> Action </th>
                          <td mat-cell *matCellDef="let element">
                            <button class="btn btn-primary btn-sm" (click)="EditUser(element,dialogData[0])">
                              Edit</button>
                            &nbsp;
                            <button class="btn btn-success btn-sm mr-1" (click)="onActivate(element.id)"
                              *ngIf="!element.isActive">
                              Activate
                            </button>
                            <button class="btn btn-success btn-sm mr-1" (click)="onDeactivate(element.id)"
                              *ngIf="element.isActive">
                              Deactivate
                            </button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedusresColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedusresColumns;"></tr>


                      </table>
                    </div>

                    <div class="no-data-container" [hidden]="dialogData[0]?.users && dialogData[0]?.users?.length">
                      <img src="assets/no-data.svg" alt="No data">
                      <p>Oops! Nothing is here</p>
                    </div>

                  </app-card>
                  <!-- info card end -->
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab id="4" title="Files">
              <ng-template ngbTabContent>

                <div [@fadeInOutTranslate]>
                  <app-card>

                    <div class="row overflow-x-auto">
                      <table mat-table [dataSource]="dialogData[0]?.files" *ngIf="(dialogData[0]?.files && dialogData[0]?.files?.length > 0)">
                        <ng-container matColumnDef="Id">
                          <th mat-header-cell *matHeaderCellDef>
                            Id
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.id }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                          <th mat-header-cell *matHeaderCellDef>
                            Name
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.name}}
                          </td>
                        </ng-container>
    
                        <ng-container matColumnDef="Type">
                          <th mat-header-cell *matHeaderCellDef>
                            Type
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.type}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="Path">
                          <th mat-header-cell *matHeaderCellDef>
                            Action
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <a class="fa fa-eye" target="_blank" [href]="element.path"></a>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="filesDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="
                              let row;
                              columns: filesDisplayedColumns
                            "></tr>
                      </table>
                    </div>
  
                    <div class="no-data-container" [hidden]="dialogData[0]?.files && dialogData[0]?.files?.length">
                      <img src="assets/no-data.svg" alt="No data">
                      <p>Oops! Nothing is here</p>
                    </div>
  
                  </app-card>
                </div>

              </ng-template>
            </ngb-tab>
            <ngb-tab id="5" title="Scientific Names">
              <ng-template ngbTabContent>

                <div [@fadeInOutTranslate]>
                  <app-card>
                    <div class="row justify-content-between">
                      <div class="col-10">
                        <!-- <h5>Prospected Scientific Name</h5> -->
                      </div>
                      <div class="col-2">
                        <button (click)="openAddScie(dialogData[0])" mat-stroked-button class="m-1 pull-right" matTooltip="Add Prospected Scientific Name">
                          <mat-icon>add</mat-icon> Scientific Name
                        </button>
                      </div>
                    </div>
  
                    <div class="spinner-container">
                      <mat-spinner *ngIf="loadingSciNames"></mat-spinner>
                    </div>
  
                    <div class="row overflow-x-auto">
                      <table mat-table [dataSource]="scientificnamelist" *ngIf="!loadingSciNames && (scientificnamelist && scientificnamelist?.length > 0)">
                        <ng-container matColumnDef="Id">
                          <th mat-header-cell *matHeaderCellDef>
                            Id
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.id }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="ScientificName">
                          <th mat-header-cell *matHeaderCellDef>
                            ScientificName
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.scientificName?.name }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="MedicalLine">
                          <th mat-header-cell *matHeaderCellDef>
                            MedicalLine
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.medicalLine?.name }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="Specialty">
                          <th mat-header-cell *matHeaderCellDef>
                            Specialty
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.specialty?.name }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                          <th mat-header-cell *matHeaderCellDef>
                            Actions
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <button class="btn btn-primary btn-sm" (click)="EditScie(element,dialogData[0])">
                              Edit</button>
                            &nbsp;
                            <button class="btn btn-danger btn-sm" (click)="DeleteScie(element.id)">Delete</button>
                          </td>
                        </ng-container>
  
                        <tr mat-header-row *matHeaderRowDef="prospectedCompanyScientificNamesDisplayedColumns">
                        </tr>
                        <tr mat-row *matRowDef="
                          let row;
                          columns: prospectedCompanyScientificNamesDisplayedColumns
                        "></tr>
                      </table>
                      <mat-paginator [hidden]="scientificnamelist?.length == 0" [pageSize]="pageSize" [length]="length" showFirstLastButtons
                        (page)="pageChange($event)">
                      </mat-paginator>
                    </div>
  
                    <div class="no-data-container" [hidden]="loadingSciNames || scientificnamelist && scientificnamelist?.length">
                      <img src="assets/no-data.svg" alt="No data">
                      <p>Oops! Nothing is here</p>
                    </div>
  
                  </app-card>
  
                </div>
   
              </ng-template>
            </ngb-tab>



            <ngb-tab id="6" title="Actions">
              <ng-template ngbTabContent>

                <div [@fadeInOutTranslate] class="row justify-content-md-center">

                  <div class="col-sm-6">
                    <ngb-tabset>
                    
                      <ngb-tab id="1" title="Comments">
                        <ng-template ngbTabContent>


                          <app-card class="my-3">
                            <div [@fadeInOutTranslate]>
                              <form #ad="ngForm" (ngSubmit)="onAddComment(ad)" class="normal-form">
                                <div class="container">
                                  <div class="row">
                                    <mat-form-field class="col-md-12">
                                      <textarea matInput placeholder="Comment" name="comment"
                                        #cmnt="ngModel" required [(ngModel)]="comment"></textarea>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <button type="submit" mat-flat-button color="warn" class="btn-block">
                                  Update
                                </button>
                              </form>
                            </div>
                          </app-card>


                        </ng-template>
                      </ngb-tab>
  
                      <ngb-tab id="2" title="Product">
                        <ng-template ngbTabContent>

                          <app-card class="my-3">

                            <div [@fadeInOutTranslate]>
                              <form #ad="ngForm" (ngSubmit)="onAddProduct(ad)" class="normal-form">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <mat-form-field class="col-md-6">
                                        <input matInput placeholder="Name" name="Name" #nm="ngModel"
                                          required [(ngModel)]="Name">
                                      </mat-form-field>
                                      <mat-form-field class="col-md-6">
                                        <input matInput placeholder="SubTitle" name="SubTitle"
                                          #sbtl="ngModel" required [(ngModel)]="SubTitle">
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <mat-form-field class="col-md-6">
                                        <input type="text" placeholder="Scientific Name" matInput [(ngModel)]="Scientific"
                                          name="Scientific" (ngModelChange)="handleScientificChanging($event)"
                                          #sName="ngModel" required [matAutocomplete]="autoCompleteSci" />
                                        <mat-autocomplete #autoCompleteSci="matAutocomplete"
                                          [displayWith]="displayScientific">
                                          <mat-option *ngFor="let option of SCi" [value]="option">
                                            {{ option.name }}
                                          </mat-option>
                                        </mat-autocomplete>
                                      </mat-form-field>
                                      <mat-form-field class="col-md-6">
                                        <mat-select [(ngModel)]="Country" name="Country" placeholder="Country"
                                          #cntry="ngModel" required>
                                          <mat-option> Select Country</mat-option>
                                          <mat-option *ngFor="let Cname of countries" [value]="Cname">{{ Cname.name }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <mat-form-field class="col-md-12">
                                        <textarea matInput placeholder="Description" name="Description"
                                          #descp="ngModel" [(ngModel)]="Description"></textarea>
                                      </mat-form-field>
                                      <!-- <mat-form-field class="col-md-6">
                                        <input matInput placeholder="Scientific Name" name="ScientificName"
                                         #nm="ngModel" required [(ngModel)]="ScientificName">
                                      </mat-form-field> -->
                                    </div>
                                  </div>
                                </div>
    
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="col-sm-6">
                                      <h5 class="marginHeader">Image</h5>
                                      <label class="custom-file mb-3">
                                        <input type="file" class="custom-file-input" onclick="this.value= null"
                                          (change)="handleBaseImageChange($event)" name="Image" />
                                        <span class="custom-file-control"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="imgDiv" *ngIf="imagePreview[0]">
                                        <label role="button" class="badge badge-danger" (click)="hideBaseImage()"
                                          class="close">X</label>
                                        <img [src]="imagePreview[0]" style="max-width: 50%" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <button type="submit" mat-flat-button color="warn" class="btn-block">
                                  Add
                                </button>
                              </form>
                            </div>

                          </app-card>

                        </ng-template>
                      </ngb-tab>
                      <ngb-tab id="3" title="Crawler">
                        <ng-template ngbTabContent>

                          <app-card class="my-3">
                            <div [@fadeInOutTranslate]>
                              <form #ad="ngForm" (ngSubmit)="onAddCrawler(ad)" class="normal-form">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <mat-form-field class="col-md-6">
                                        <input matInput placeholder="Website" name="Website" 
                                          #webst="ngModel" required [(ngModel)]="Website">
                                      </mat-form-field>
                                      <mat-form-field class="col-md-6">
                                        <input matInput placeholder="Domain" name="Domain" 
                                          #dmn="ngModel" required [(ngModel)]="Domain">
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                                <button type="submit" mat-flat-button color="warn" class="btn-block">
                                  Update
                                </button>
                              </form>
                            </div>
                          </app-card>

                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
  
  
                  </div>


                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>

  </div>
</div>