html {
  background: #f5f7f8;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}
table {
  width: 100%;
}
header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.spinner-container {
  mat-spinner {
    margin: 20% auto;
  }
}


.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  // sets up hover state
  position: relative;
  top: 0;
  transition: all .1s ease-in;
    
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  article {
    padding: 20px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  p {
    flex: 1;
    line-height: 1.4;
  }
  
  span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
}

.item-1 {
  @media (min-width: 60em) {
    grid-column: 1 / span 2;
    
    h1 {
      font-size: 24px;
    }
  }
}
.example-chip-list {
  width: 100%;
}
.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.tp-full-width {
  width: 100%;
}body{
background-color: white;
}
table {
width: 100%;
}
td.mat-cell, th.mat-header-cell {
  padding: 10px !important;
}


.customTableDesign {
  table {
    border: 1px solid transparent;
        box-shadow: none;
    thead {
      display: none;
    }
    tbody {
      tr {
        border-bottom:5px solid #F8F8F8;
        td:first-child {
          padding-left:10px;
        }
        td:before {
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          white-space: break-spaces;
          padding-right: 10px;
        }
        td {
          display: block;
          text-align: right;
          padding:10px!important;
          box-shadow: 0 1px 1px rgba(0,0,0,.3);
          min-height: 40px;
          white-space: break-spaces;
        }
      }
    }
  }
}

.card{
  &.mat-expanded{
    .card-header{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      width: 100%;
      border-bottom: 1px solid #eee;
    } 
  }
  .card-header{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    border-bottom:0px;
  }
}