<div class="md-tabs">
  <app-card>
    <div class="row">

      <div class="col-12" style="width: 600px;">
        <ngb-tabset >
          <ngb-tab *ngFor="let country of data"  title={{country.name}}  >
            <ng-template ngbTabContent >
              <div class="m-t-15">
                <div class="row">
                  <div class="col">
                    <h5>{{country.name}} Meta Title</h5>
                    <input type="text" placeholder="Meta keywords" (input)="handleSeo()" class="form-control"
                      [(ngModel)]="country.metaTitle">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    <h5>{{country.name}} Meta Description</h5>
                    <input type="text" placeholder="Meta description" (input)="handleSeo()" class="form-control"
                      [(ngModel)]="country.metaDescription">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    <h5>{{country.name}} Meta KeyWord</h5>
                    <input type="text" placeholder="Meta Url" (input)="handleSeo()" class="form-control"
                      [(ngModel)]="country.metaKeyWord">
                  </div>
                </div>
                <hr>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
     </div>
        <button type="submit" class="btn btn-primary" (click)="save()"> Save</button>
        <button class="btn btn-primary fa-pull-right" (click)="close(null)">cancel</button>
      
    
  </app-card>
</div>