
  <mat-dialog-content>


    <h2 mat-dialog-title class="text-center">{{basic_title}} Scientific Name</h2>
    <hr />

    <app-quick-edit [sciData]="item" (onSubmitEvent)="onUpdateItem($event)"></app-quick-edit>

  </mat-dialog-content>

  <!-- <hr /> -->

