<!-- <app-card>
  <form [formGroup]="dynamicForm" (ngSubmit)="submit()">
    <div class="row" style="margin-top: 1%">
      <div class="col">
        <h5 class="marginHeader">Title</h5>
        <input type="text" placeholder="Title" class="form-control" name="Title" required formControlName="title">

      </div>
      <div class="col">
        <h5 class="marginHeader">Sub Title</h5>
        <input type="text" placeholder="Sub Title" class="form-control" name="subtitle" formControlName="subtitle">

      </div>
    </div>
    <br>
    <hr>

    <div class="row">
      <div class="col" style="max-height: 150px">
        <quill-editor formControlName="description" [options]="editorConfig"
        (blur)="onEditorBlured($event)" (focus)="onEditorFocused($event)"
        (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"
        >
      </quill-editor>
      </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Product
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div [formGroup]="f.products">
          <div class="row">

            <div class="col-4">

              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipproduct>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="product" formControlName="product" [matChipInputFor]="chipproduct"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>


            </div>
            <div class="col-4">

              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipListscientificname>
                  <mat-chip *ngFor="let dist of selectedscientificname ; let i = index;" [selectable]="selectable"
                    [removable]="removable" (removed)="removeScientificname(i)">
                    {{dist.nameDisplay}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Scientific Name" formControlName="scientificname" name="scientificname"
                    [matAutocomplete]="autoCompletescientificname" [matChipInputFor]="chipListscientificname"
                    #nameInput>
                </mat-chip-list>
                <mat-autocomplete #autoCompletescientificname="matAutocomplete"
                  (optionSelected)="AddselectedScientificname($event)">
                  <mat-option *ngFor="let fdist of  scientificnameFilter| async" [value]="fdist">

                    {{fdist.nameDisplay}}

                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipListspeciality>
                  <mat-chip *ngFor="let dist of selectedSpecialitiesList ; let i = index;" [selectable]="selectable"
                    [removable]="removable" (removed)="removeSpeciality(i)">
                    {{dist.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Speciality" formControlName="speciality" name="speciality"
                    [matAutocomplete]="autoCompletespeciality" [matChipInputFor]="chipListspeciality" #psecialityInput>
                </mat-chip-list>
                <mat-autocomplete #autoCompletespeciality="matAutocomplete"
                  (optionSelected)="AddselectedSpeciality($event)">
                  <mat-option *ngFor="let fdist of  specialitiesFilter| async" [value]="fdist">

                    {{fdist.name}}

                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>
          </div>

          <div class="row">
            <div class="col-4">

              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipListmedicalline>
                  <mat-chip *ngFor="let med of selectedmedicalline ; let i = id;" [selectable]="selectable"
                    [removable]="removable" (removed)="removeMedicalline(i)">
                    {{med.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Medicalline" formControlName="medicalline" name="medicalline"
                    [matAutocomplete]="autoCompletemedicalline" [matChipInputFor]="chipListmedicalline">
                </mat-chip-list>
                <mat-autocomplete #autoCompletemedicalline="matAutocomplete"
                  (optionSelected)="AddselectedMedicalline($event)">
                  <mat-option *ngFor="let fmed of  medicallinefilter| async" [value]="fmed">

                    {{fmed.name}}

                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


            </div>
            <div class="col-4">


              <mat-form-field>
                <mat-select formControlName="country" placeholder="Countries" [multiple]="true" #multiSelect>

                  <mat-option *ngFor="let country of countriesList" [value]="country?.id">
                    {{country?.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipregoin>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Regoin" formControlName="regoin" [matChipInputFor]="chipregoin"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manufacturer
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div [formGroup]="f.manufacturers">
          <div class="row">

            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipListManufacturer>
                  <mat-chip *ngFor="let dist of selectedmanufacturers; let i = index;" [selectable]="selectable"
                    [removable]="removable" (removed)="removemanufacturer(i)">
                    {{dist.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input formControlName="manufacturer" name="manufacturer" placeholder="Manufacturer" [matAutocomplete]="autoCompleteManufacturer"
                    [matChipInputFor]="chipListManufacturer" #manufacturerInput>
                </mat-chip-list>
                <mat-autocomplete #autoCompleteManufacturer="matAutocomplete"
                  (optionSelected)="AddseletedManufacturer($event)">
                  <mat-option *ngFor="let fdist of filteredmanufacturers | async" [value]="fdist">

                    {{fdist.name}}

                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipscientificname>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Scientific Name" formControlName="scientificname"
                
                    [matChipInputFor]="chipscientificname" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur">
                </mat-chip-list>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipspeciality>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="speciality" formControlName="speciality" [matChipInputFor]="chipspeciality"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
          </div>

          <div class="row">
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipmedicalline>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Medical Line"  placeholder="medicalline" [matChipInputFor]="chipmedicalline"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipcountry>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Country"  placeholder="country"  [matChipInputFor]="chipcountry"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipregoin>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Regoin"  placeholder="regoin"  [matChipInputFor]="chipregoin"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
          </div>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Distributor
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div [formGroup]="f.distributors">
          <div class="row">

            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipListDistributors>
                  <mat-chip *ngFor="let dist of seleteddistributors; let i = index;"
                    [selectable]="selectable" [removable]="removable"
                    (removed)="removedistibutors(i)">
                    {{dist.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input formControlName="distributor" name="distributor"
                  placeholder="Distributor"
                    [matAutocomplete]="autoCompletedistributors"
                    [matChipInputFor]="chipListDistributors" #distributorInput>
                </mat-chip-list>
                <mat-autocomplete #autoCompletedistributors="matAutocomplete"
                  (optionSelected)="Addseleteddistributors($event)">
                  <mat-option *ngFor="let fdist of filtereddistributors | async" [value]="fdist">

                    {{fdist.name}}

                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipscientificname>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Scientific Name" formControlName="scientificname"
                    [matChipInputFor]="chipscientificname"  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur">
                </mat-chip-list>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipspeciality>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="speciality" formControlName="speciality" [matChipInputFor]="chipspeciality"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
          </div>

          <div class="row">
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipmedicalline>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Medical Line" formControlName="medicalline" [matChipInputFor]="chipmedicalline"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipcountry>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Country" formControlName="country" [matChipInputFor]="chipcountry"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipregoin>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Regoin" formControlName="regoin"  [matChipInputFor]="chipregoin"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
          </div>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Health Care
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div [formGroup]="f.healthCares">
          <div class="row">

            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chiphealthCare>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="HealthCare" formControlName="healthCare"   [matChipInputFor]="chiphealthCare"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipsubcategory>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Category" formControlName="subcategory"  [matChipInputFor]="chipsubcategory"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
          </div>

          <div class="row">

            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipcountry>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Country" formControlName="country" [matChipInputFor]="chipcountry"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
            <div class="col-4">


              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipregoin>
                  <mat-chip *ngFor="let prod of productslist" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(i)">

                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Regoin" formControlName="regoin" [matChipInputFor]="chipregoin"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                   >
                </mat-chip-list>
              </mat-form-field>

            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>


<hr>
    <button type="submit" class="btn btn-primary"> Submit</button>
  </form>
</app-card> -->