<!-- <h1 mat-dialog-title>{{ data.name }}</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-lg-auto">
        <span>{{ data.field_name }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ng-container [ngSwitch]="data.field_type">
          <ng-container *ngSwitchCase="'input'">
            <form>
              <mat-form-field appearance="outline" floatLabel="false" class="width-90">
                <input matInput [formControl]="input" autocomplete="off" />
              </mat-form-field>
            </form>
          </ng-container>

          <ng-container *ngSwitchCase="'date'">
            <mat-form-field appearance="outline" floatLabel="false" class="width-90">
              <input matInput [matDatepicker]="picker" [formControl]="input" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions align="end" autoFocus="false">
  <button mat-flat-button (click)="onCancel()" color="warn" class="mx-1">Cancel</button>
  <button mat-flat-button (click)="onCreate()" color="primary" class="mx-1">Create Message</button>
</div>
 -->