.cut-text {
  max-width: 100px;
  width: 100px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w-100px {
  width: 100px;
}
// IMPORTANT:  All chips on this page have pointers
.mat-standard-chip {
  cursor: pointer;
}
