<!-- <mat-chip
  *ngIf="items.length < 2 && items.length > 0; else viewAll"
  [matTooltip]="items[0]"
  (click)="viewAll()"
  >{{ items[0] }}</mat-chip
>
<ng-template #viewAll>
  <div class="w-fit" [matBadge]="items.length" *ngIf="items.length > 0">
    <mat-chip (click)="viewAll()">View All</mat-chip>
  </div>
</ng-template> -->

<mat-chip-list>
  <mat-chip
    class="cut-text"
    *ngIf="items.length < 2 && items.length > 0; else viewAll"
    [matTooltip]="items[0]"
    (click)="onViewAll()"
    >{{ items[0] }}</mat-chip
  ><ng-template #viewAll>
    <div [matBadge]="items.length" *ngIf="items.length > 0">
      <mat-chip class="w-100px" (click)="onViewAll()">View All</mat-chip>
    </div>
  </ng-template>
</mat-chip-list>
