table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}
// .mat-cell {
//   padding: 10px 10px 10px 5px;
//   text-align: center;
// }
// .mat-header-cell {
//   text-align: center;
//   padding: 10px 10px 10px 0;
// }
// .mat-flat-button {
//   border-radius: 24px;
//   line-height: 30px;
//   font-size: 13px;
// }