<form [ngClass]="{'submited': agreementForm.invalid}" (ngSubmit)="onSubmit()" [formGroup]="agreementForm">
  <mat-dialog-content>
    <h2 mat-dialog-title class="text-center">Add Business Opportunity</h2>

    <!-- Manu -->
    <div class="row">
      <div class="col-sm-6">

        <mat-form-field>
          <input [formControl]="manufacturerCtrl" type="text" placeholder="Manufacturer" matInput
            [matAutocomplete]="autoCompleteManufacturer">

          <mat-autocomplete autoActiveFirstOption #autoCompleteManufacturer="matAutocomplete"
            [displayWith]="displayFnManufacturer">
            <mat-option *ngFor="let item of manufacturers$ | async" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>

      <div class="col-sm-6">

        <mat-form-field>
          <input [formControl]="distributorCtrl" type="text" placeholder="Distributor" matInput
            [matAutocomplete]="autoCompleteDistributor">

          <mat-autocomplete autoActiveFirstOption #autoCompleteDistributor="matAutocomplete"
            [displayWith]="displayFnDistributor">
            <mat-option *ngFor="let item of distributors$ | async" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
    </div>



  </mat-dialog-content>



  <mat-dialog-actions align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="close(null)"
      tabindex="-1">Close</button>
    <button type="submit" mat-raised-button color="primary" class="mx-1" type="submit" cdkFocusInitial>Submit</button>
  </mat-dialog-actions>

</form>