mat-form-field {
  width: 100%;
}

.tag__text.inline {
  margin: 0px !important;
  margin-left: 10px !important;
  margin-top: -3px !important;
}

.aum-label {
  color: rgba(0, 0, 0, 0.54);
}

.my-form {
  padding: 15px;
  border-radius: 20px;
}

.bg-white {
  background-color: #fff !important;
}

.avatar {
  font-family: "Lato", sans-serif;
  width: 280px;
  height: 280px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: border 0.15s ease-in;
  margin: 0 auto;

  &:hover {
    border: 2px solid #3f51b5;
    cursor: pointer;
    .edit {
      padding-top: 10px;
      height: 40px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.add-speciality {
  font-size: 120%;
}

.edit {
  position: absolute;
  width: 100%;
  height: 0px;
  z-index: 1;
  bottom: 0;
  font-weight: bold;
  color: white;
  background-color: #3f51b5;
  transition: all 1s;
  padding-top: 0px;
  text-align: center;
}

.hint-text {
  font-size: 72%;
  font-weight: 400;
  line-height: 1.125;
  /* text-align: end; */
  font-style: italic;
  margin-top: 5px;
}
