<form [formGroup]="Scientificform" (ngSubmit)="submit()" novalidate class="my-form bg-white">

  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12  my-5">
          <div class="avatar" >
            <div class="edit" (click)="fileInput.click()">Edit</div>
            <div class="avatar-img"> 
              <input style="display: none" #fileInput type="file" accept="image/*" onclick="this.value= null" (change)="onFileChanged($event)" />
              <img (click)="fileInput.click()" [src]="f.imageUrl.value" onerror="this.src='assets/images/scientific.png'" alt="Scientific Name Image">
            </div>
          </div>
        </div>
        <div class="col-sm-12 my-3">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Name" 
              formControlName="name" />
              <mat-error *ngIf="hasError('name', 'maxlength')">
                Maximum length is 100 characters
              </mat-error>
              <mat-error *ngIf="hasError('name', 'required')">
                Name is Required
              </mat-error>
              <mat-hint align="end">{{f?.name?.value?.length}} / 100</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-12 my-3">
          <mat-form-field>
            <textarea formControlName="description" matInput placeholder="Leave a description"></textarea>
            <mat-error *ngIf="hasError('description', 'maxlength')">
              Maximum length is 1000 characters
            </mat-error>
            <mat-hint align="end">{{f?.description?.value?.length}} / 1000</mat-hint>
          </mat-form-field>
        </div>
  
      </div>
    </div>

    <div class="col-sm-8">

      <!-- ! Right SIDE -->
      <div class="row">
        <div class="col-12">
          <h4 class="text-justify font-weight-bold text-left">Main Speciality</h4>
        </div>
        <div class="col-sm-4">
          <mat-label class="aum-label small">Medical Line</mat-label>
          <tag-input [onlyFromAutocomplete]="true" [maxItems]='1' secondaryPlaceholder="Medical Line" placeholder="Add Medical Line" formControlName="medicalLine" [identifyBy]="'id'" [displayBy]="'name'">
            <tag-input-dropdown [appendToBody]="false" [autocompleteItems]="medicalLineList" [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
          </tag-input>
          <!-- <p class="hint-text">Only Select from suggestion list is acceptable</p> -->
        </div>

        <div class="col-sm-4">
          <mat-label class="aum-label small">Speciality</mat-label>
          <tag-input [onlyFromAutocomplete]="true" [maxItems]='1' secondaryPlaceholder="Add Speciality.." placeholder="Speciality" formControlName="mainParentSpeciality" [identifyBy]="'id'" [displayBy]="'name'">
            <tag-input-dropdown [appendToBody]="false" [autocompleteItems]="specialitiesParentList" [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
          </tag-input>
        </div>
        
        <div class="col-sm-4">
          <mat-label class="aum-label small">Child Speciality</mat-label>
          <tag-input [maxItems]='1' secondaryPlaceholder="Add Child Speciality.." placeholder="Child Speciality" formControlName="mainChildSpeciality" [identifyBy]="'id'" [displayBy]="'name'">
            <tag-input-dropdown [appendToBody]="false" [autocompleteItems]="subSpecialitiesList" [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
          </tag-input>
        </div>
      </div>


      <div class="row my-5">
        <div class="col-12 ">
          <a
              mat-icon-button
              class="font-weight-bold text-left add-speciality"
              matTooltip="Add more sub speciality"
              (click)="addSubSpecialities()"
            >
              Sub Speciality
              <mat-icon>add</mat-icon>
            </a>
        </div>
  
        <div class="col-12 align-self-center" *ngIf="!contactList.length">
          <div class="row justify-content-center">
            <div class="col align-self-center text-center">
              <img width="120" src="assets/speciality.jpg" alt="Speciality">
              <h5 class="text-bold text-muted">No Subspeciality. Try 
                <a
                  mat-icon-button
                  class="font-weight-bold"
                  matTooltip="Add more sub speciality"
                  color="primary"
                  (click)="addSubSpecialities()"
                >
                  <!-- <mat-icon>add</mat-icon> -->
                  add one.
                </a>
              </h5>
            </div>
          </div>
        </div>

        <div class="card-body" formArrayName="subSpeciality">
          <div class="row">
            <div class="col-12 mt-3" *ngFor="let item of subSpecialityFormGroup.controls; let i = index;">
              <div [formGroupName]="i" class="row">
  
                <div class="col-sm-5">
                  <mat-label class="aum-label small">Speciality</mat-label>
                  <tag-input (onBlur)="onB($event, i)"  [onlyFromAutocomplete]="true" [maxItems]='1' secondaryPlaceholder="Add Speciality.." placeholder="Speciality" formControlName="parent" [identifyBy]="'id'" [displayBy]="'name'">
                    <tag-input-dropdown [appendToBody]="false" [autocompleteItems]="specialitiesParentList" [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
                  </tag-input>
                </div>
                
                <div class="col-sm-5">
                  <mat-label class="aum-label small">Child Speciality</mat-label>
                  <tag-input (onFocus)="onF($event, i)" [maxItems]='10' secondaryPlaceholder="Add Child Speciality.." placeholder="Child Speciality" formControlName="child" [identifyBy]="'id'" [displayBy]="'name'">
                    <tag-input-dropdown [appendToBody]="false" [autocompleteItems]="subSpecialitiesList"  [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
                  
                    <!-- [autocompleteObservable]='requestSubSpecialitySuggAutocomplete'  -->
                  </tag-input>
                </div>
  
                <div class="col-2 align-self-center">
                  <a
                    mat-icon-button
                    matTooltip="Add more sub speciality"
                    color="warn"
                    (click)="removeSubSpecialities(i)"
                  >
                    <mat-icon>remove_circle</mat-icon> Remove
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-5" />

      <div class="row">
        <div class="col-12">
          <h4 class="text-justify font-weight-bold text-left d-inline">Additional Info</h4>
        </div>
        <div class="col-sm-12 mt-3">
          <mat-label class="aum-label small">Broader Terms</mat-label>
          <tag-input [onlyFromAutocomplete]="true" secondaryPlaceholder="Add Broader Terms.." placeholder="Broader Terms" formControlName="bt" [identifyBy]="'id'" [displayBy]="'name'">
            <tag-input-dropdown [appendToBody]="false" [autocompleteObservable]='requestAutocompleteItems' [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
          </tag-input>
        </div>
        <div class="col-sm-12 mt-3">
          <mat-label class="aum-label small">Narrow Terms</mat-label>
          <tag-input [onlyFromAutocomplete]="true" secondaryPlaceholder="Add Narrow Terms.." placeholder="Narrow Terms" formControlName="nt" [identifyBy]="'id'" [displayBy]="'name'">
            <tag-input-dropdown [appendToBody]="false" [autocompleteObservable]='requestAutocompleteItems' [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
          </tag-input>
        </div>
        <div class="col-sm-12 mt-3">
          <mat-label class="aum-label small">Related Terms</mat-label>
          <tag-input [onlyFromAutocomplete]="true" secondaryPlaceholder="Add Related Terms.." placeholder="Related Terms" formControlName="rt" [identifyBy]="'id'" [displayBy]="'name'">
            <tag-input-dropdown [appendToBody]="false" [autocompleteObservable]='requestAutocompleteItems' [identifyBy]="'id'" [displayBy]="'name'"></tag-input-dropdown>
          </tag-input>
        </div>
        <div class="col-sm-12 mt-3">
          <mat-label class="aum-label small">Alternatives</mat-label>
          <tag-input formControlName="alternatives" secondaryPlaceholder="Add Alternatives.." placeholder="Alternatives" modelAsStrings="true" ></tag-input>
        </div>
        <div class="col-sm-12 mt-3">
          <mat-label class="aum-label small">References</mat-label>
          <tag-input formControlName="references" secondaryPlaceholder="Add References" modelAsStrings="true" placeholder="References"></tag-input>
        </div>
      </div>
  
    </div>
  </div>

  <div class="row mt-5 justify-content-end">
    <div class="col-sm-2">
      <button type="submit" mat-raised-button color="primary" class="btn-block mx-1" cdkFocusInitial>
        <span *ngIf="this.submitLoader" class="spinner-border spinner-border-sm" role="status"></span>
        <span *ngIf="this.submitLoader" class="load-text"> Loading...</span>
        <span *ngIf="!this.submitLoader" class="btn-text">Save</span> 
    </button>
    </div>
  </div>
</form>