<h2 mat-dialog-title>Add Contact</h2>
<mat-dialog-content class="mat-typography">
  <form>
<div class="row">
  <div class="col-sm-6">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
    <input matInput type="text" name="FirstName" [(ngModel)]="FirstName">
  </mat-form-field>
  </div>
  <div class="col-sm-6">
      <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" name="LastName" [(ngModel)]="LastName">
        </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
      <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" name="PhoneNumber" [(ngModel)]="PhoneNumber">
        </mat-form-field>
  </div>
  <div class="col-sm-6">
      <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="Email" [(ngModel)]="Email">
        </mat-form-field>
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <mat-form-field appearance="outline">
            <mat-label>Job Title</mat-label>
            <input matInput type="text" name="JobTitle " [(ngModel)]="JobTitle " [matAutocomplete]="jobAuto" (ngModelChange)="handleJobChanging($event)">
            <mat-autocomplete #jobAuto="matAutocomplete" [displayWith]="displayJob">
                <mat-option *ngFor="let option of titles" [value]="option.label">
                  {{option.label}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
          <mat-select name="CountryId" [(ngModel)]="CountryId">
            <mat-option *ngFor="let item of countries" [value]="item.id">
              {{item.country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-6">
          <mat-form-field appearance="outline">
              <mat-label>Note</mat-label>
              <input matInput type="text" name="Note" [(ngModel)]="Note">
            </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="submit()" cdkFocusInitial>Submit</button>
  </mat-dialog-actions>