table {
    width: 100%;
  }
  td,th {
    padding: 10px 10px 10px 0;
    min-width: 120px;
  }
  
  
  .mat-cell {
    padding: 10px 10px 10px 0;
    text-align: center
  }.mat-header-cell{
  text-align: center
  }
  .mytooltip {
    display: inline;
    position: unset !important;
    z-index: 999;

    .tooltip-item {
        background: rgba(0, 0, 0, .1);
        cursor: pointer;
        display: inline-block;
        font-weight: 500;
        padding: 0 10px;
    }

    .tooltip-content {
        position: absolute;
        z-index: 9999;
        width: 360px;
        left: 50%;
        margin: 0 0 20px -180px;
        bottom: 100%;
        text-align: left;
        font-size: 14px;
        line-height: 30px;
        box-shadow: -5px -5px 15px rgba(48, 54, 61, .2);
        background: #2b2b2b;
        opacity: 0;
        cursor: default;
        pointer-events: none;

        &::after {
            content: '';
            top: 100%;
            left: 50%;
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: #2a3035 transparent transparent;
            border-width: 10px;
            margin-left: -10px;
        }

        img {
            position: relative;
            height: 140px;
            display: block;
            float: left;
            margin-right: 1em;
        }
    }

    .tooltip-item::after {
        content: '';
        position: absolute;
        width: 360px;
        height: 20px;
        bottom: 100%;
        left: 50%;
        pointer-events: none;
        transform: translateX(-50%);
    }

    &:hover {
        .tooltip-item::after {
            pointer-events: auto;
        }

        .tooltip-content {
            pointer-events: auto;
            opacity: 1;
            transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
        }

        .tooltip-content2 {
            opacity: 1;
            font-size: 18px;

            i {
                opacity: 1;
                font-size: 18px;
            }
        }

        .tooltip-content2 {
            opacity: 1;
            font-size: 18px;
            pointer-events: auto;
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);

            i {
                opacity: 1;
                font-size: 18px;
                pointer-events: auto;
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            }
        }

        .tooltip-item2 {
            color: #fff;
            transform: translate3d(0, -.9em, 0);
        }

        .tooltip-text3 {
            transition-delay: 0s;
            transform: scale3d(1, 1, 1);
        }

        .tooltip-content3 {
            opacity: 1;
            pointer-events: auto;
            transform: scale3d(1, 1, 1);
        }

        .tooltip-content4 {
            pointer-events: auto;
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        .tooltip-text2 {
            pointer-events: auto;
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        .tooltip-inner2 {
            transition-delay: 0.3s;
            transform: translate3d(0, 0, 0);
        }

        .tooltip-content5 {
            opacity: 1;
            pointer-events: auto;
            transition-delay: 0s;
        }
    }

    .tooltip-text {
        font-size: 14px;
        line-height: 24px;
        display: block;
        padding: 1.31em 1.21em 1.21em 0;
        color: #fff;
    }

    .tooltip-item2 {
        cursor: pointer;
        z-index: 100;
        position: inherit;
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;
    }
}
a.mytooltip {
  font-weight: 700;
  z-index: 9;
}.tooltip.tooltip-effect-2:hover .tooltip-content {
  transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}
.tooltip-effect-2 .tooltip-content {
    transform-origin: 50% calc(110%);
    transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
    transition: opacity 0.2s, transform 0.2s;
}.tooltip-content4 {
  position: absolute;
  z-index: 99;
  width: 360px;
  left: 50%;
  margin-left: -180px;
  bottom: -5px;
  text-align: left;
  opacity: 0;
  font-size: 14px;
  line-height: 27px;
  padding: 1.5em;
  color: #fff;
  
  cursor: default;
  pointer-events: none;
  border-radius: 5px;
  transform: translate3d(0, -.5em, 0);
  transition: opacity 0.3s, transform 0.3s;

  a {
      color: #2b2b2b;
  }

  .tooltip-text2 {
      opacity: 0;
      transform: translate3d(0, 1.5em, 0);
      transition: opacity 0.3s, transform 0.3s;
  }
}