<mat-dialog-content>

  <h2 mat-dialog-title class="text-center">Sub Product</h2>
  <hr />


  <ngb-tabset>
    <ngb-tab title="Sub Product Table">
      <ng-template ngbTabContent>
        <app-card>
          <ng-container>
            <table mat-table #table class="w-100" [dataSource]="dataSource">
              <ng-container matColumnDef="subTitle">
                <th mat-header-cell *matHeaderCellDef>Sub Title</th>
                <td mat-cell *matCellDef="let row">{{ row?.productSubtitle }}</td>
              </ng-container>
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">{{ row?.productTitle }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </ng-container>
          <mat-paginator [pageSize]="10" [length]="length" showFirstLastButtons (page)="pageChange($event)">
          </mat-paginator>
        </app-card>

      </ng-template>
    </ngb-tab>
    <ngb-tab title="Add Sub Product">
      <ng-template ngbTabContent>
        <form id="thisForm" #product="ngForm" (ngSubmit)="submit(product)">

          <app-card>
            <div class="row">
              <div class="col">
                <div class="md-tabs">


                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput type="text" name="Name" [(ngModel)]="Name" required />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field>
                        <mat-label>Sub Title</mat-label>
                        <input matInput type="text" name="subTitle" [(ngModel)]="subTitle" required />
                      </mat-form-field>
                    </div>
                  </div>


                  <br />


                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field class="example-chip-list">
                        <mat-label>Selling Points</mat-label>
                        <mat-chip-list #chipListSellingPoints>
                          <mat-chip *ngFor="
                            let selling of seletedSellingPoints;
                            let i = index
                          " [selectable]="selectable" [removable]="removable" (removed)="removeSellingPoints(i)">
                            {{ selling.name }}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input [(ngModel)]="sellingPointss" name="sellingPoints" 
                          (ngModelChange)=" filteredSellingPoints = _filterSellingPoints(sellingPointss )" 
                            [matAutocomplete]="autoCompleteSellingPoints" [matChipInputFor]="chipListSellingPoints"
                            #sellingpointinput />
                        </mat-chip-list>
                        <mat-autocomplete #autoCompleteSellingPoints="matAutocomplete"
                          (optionSelected)="AddSelectedSellingPoints($event)">
                          <mat-option *ngFor="
                            let selling of filteredSellingPoints | async
                          " [value]="selling">
                            {{ selling.name }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field>
                        <mat-label>Speciality</mat-label>
                        <input matInput placeholder="Speciality" class="form-control" name="speciality"
                          [matAutocomplete]="autoCompleteSpeciality" [(ngModel)]="subForm.speciality"
                          (ngModelChange)="specialitiesFilter = _filterSpeciality(subForm.speciality)"
                          #speciality="ngModel" required>

                        <mat-autocomplete #autoCompleteSpeciality="matAutocomplete"
                          [displayWith]="displayFnManufacturer"
                          (optionSelected)="_filterscientificNamesOnSpeciality($event)">
                          <mat-option *ngFor="let speciality of specialitiesFilter | async" [value]="speciality">
                            {{speciality.speciality}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                    </div>
                  </div>


                  <br />
                  <br />


                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field>
                        <mat-label>Scientific Name</mat-label>

                        <mat-chip-list #chipListScientificName>
                          <mat-chip *ngFor="let scientificName of seletedscientificNames;let i = index" 
                          [selectable]="selectable" [removable]="removable" (removed)="removescientificNames(i)">
                            {{ scientificName.nameDisplay }}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input [(ngModel)]="scientificNamess" #scientificnameInput name="scientificNames"
                            (ngModelChange)="filteredscientificNames = _filterscientificNames(scientificNamess)" 
                            [matAutocomplete]="autoCompletescientificNames"
                            [matChipInputFor]="chipListScientificName" #scientificName="ngModel" required />
                        </mat-chip-list>
                        <mat-autocomplete #autoCompletescientificNames="matAutocomplete"
                         (optionSelected)="AddSelectedscientificNames($event)">
                          <mat-option *ngFor="let scientificNames of filteredscientificNames | async" [value]="scientificNames">
                            {{ scientificNames.nameDisplay }}
                          </mat-option>
                        </mat-autocomplete>
                    
                      </mat-form-field>
                      <div *ngIf="product?.submitted && product?.invalid" class="invalid-feedback">
                        <div *ngIf="product.controls.scientificNames.errors?.required">ScientificName is required
                        </div>
                      </div>
                    </div>
                  </div>

                  

                  <div class="row">
                    <div class="col">
                      <h5 class="marginHeader">Description</h5>
                      <div class="quill-editor-edit custom-scroll">
                        <quill-editor name="description" [(ngModel)]="description">
                        </quill-editor>
                      </div>
                    </div>

                  </div>



                  
                  <div class="row">
                    <div class="col-sm-6">
                      <h5 class="marginHeader">Base Image (*)</h5>
                      <label class="custom-file">
                        <input type="file" class="custom-file-input" name="subImage"
                          (change)="handleBaseImageChange($event)" onclick="this.value= null" required />
                        <span class="custom-file-control"></span>
                      </label>
                      <span *ngIf="needimage" class="invalid-feedback" > Image Is Required</span>
                    </div>
                    <div class="col-sm-6">
                      <h5 class="marginHeader">Image</h5>
                      <label class="custom-file mb-3">
                        <input type="file" multiple class="custom-file-input" onclick="this.value= null"
                          (change)="handleImageChange($event)" />
                        <span class="custom-file-control"></span>
                      </label>
                    </div>
                  </div>


                  <br />
                  <br />


                  <div class="row">
                    <div class="col-sm-6">
                      <div *ngIf="baseImagePreview.length > 0" class="imgDiv">
                        <label role="button" class="badge badge-danger" (click)="hideBaseImage()"
                          class="close">X</label>
                        <img [src]="baseImagePreview[0]" (error)="handleBaseImgError()" class="img"
                          style="max-width: 100%" />
                      </div>
                    </div>
                    <div class="col-sm-6" *ngIf="imagePreview.length > 0">
                      <div style="display: inline-block" *ngFor="let item of imagePreview; let i = index">
                        <div class="imgDiv">
                          <label role="button" class="badge badge-danger" (click)="hideimage(i)" class="close">X</label>
                          <img [src]="item.url" (error)="handleImageError(i)" class="img" style="max-width: 100%" />
                        </div>
                      </div>
                    </div>
                  </div>


                  <br />
                  <br />

                  <app-card *ngFor="let item of attrib; let i=index">
                    <form #attrib="ngForm">
                      <div class="col-sm-6">
                        <mat-label>Scientific Name: {{item?.scie?.scientificName}}</mat-label>
                        <br>
                        <mat-label>Attribute Name: {{item?.att?.name}}</mat-label>
                      </div>
                      <br>
                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-label>Tags</mat-label>
                          <input matInput type="text" name="Tags" [(ngModel)]="Tags[i]">
                        </mat-form-field>
                      </div>
                      <div class="row">
                        <button class="btn btn-success" (click)="AddAttribute(attrib)">
                          Add Attribute
                        </button>
                      </div>

                    </form>
                  </app-card>


                  <br />
                  <br />


                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                  </div>

                  
                </div>
              </div>
            </div>
          </app-card>

        </form>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</mat-dialog-content>

