<app-card>
  <div>
    <button class="btn btn-primary fa-pull-right" (click)="addReview()">
      Create
    </button>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div>
    <table mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let values">
          <button (click)="Publish(values.id)" class="m-1 btn btn-success mat-flat-button"  *ngIf="!values.published">
            Publish
          </button>
          <button  (click)="unPublishReview(values.id)" class="m-1 btn btn-success mat-flat-button" *ngIf="values.published">
            UnPublish
          </button>
          <button (click)="Edit(values)" class="m-1 btn btn-success mat-flat-button">Edit</button>
          <button (click)="Delete(values.id)" class="m-1 btn btn-danger mat-flat-button">
            Delete
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let values">
          {{ values.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let values">
          {{ values.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
        <td mat-cell *matCellDef="let values">
          {{ values.position }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Picture">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Picture</th>
        <td mat-cell *matCellDef="let values">
          <a
            [href]="values.picture"
            [ngClass]="{'disabled': values.picture === null}"
            target="_blank"
            class="btn btn-primary  mat-flat-button"
          >
            <!-- <p class="text-center"> -->
              View Image
            <!-- </p> -->
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="Rate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
        <td mat-cell *matCellDef="let values">
          {{ values.rating }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [length]="length"
      [pageSize]="pageSize"
      showFirstLastButtons
      (page)="pageChange($event)"
    ></mat-paginator>
  </div>
</app-card>
