.view-image{
  height: 45px;
  padding: 10px;
  & a{
    color:white;
  }
}

.mat-button-green {
  background-color: green;
}


.mat-button-small {
  min-width: 1%;
}
.mat-row, .mat-header-row {
  width: 220vw; 
  word-wrap: break-word !important;
}

table {
  overflow-x: scroll;  
  width: 100%;

}
.mat-column {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto; 
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-cell {
  padding: 10px 10px 10px 10px;
  text-align: center
}.mat-header-cell{
  padding: 10px 10px 10px 0;
  text-align: center  }
