
 <form [ngClass]="{'submited': agreementForm.invalid}" (ngSubmit)="onSubmit()" [formGroup]="agreementForm">
<mat-dialog-content>
  <h3></h3>
  <h2 mat-dialog-title class="text-center">Create Signed Agreement</h2>

    <!-- Manu -->
    <div class="row">

      <!-- Manufacturer Select -->
      <div class="col-sm-6">
        <mat-form-field>
          <input 
            [formControl]="manufacturerCtrl" 
            type="text" 
            placeholder="Manufacturer" 
            matInput
            [matAutocomplete]="autoCompleteManufacturer" />

          <mat-autocomplete 
            autoActiveFirstOption 
            #autoCompleteManufacturer="matAutocomplete"
            [displayWith]="displayFnManufacturer">
            <mat-option *ngFor="let item of manufacturers$ | async" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <!-- Distributor Select -->
      <div class="col-sm-6">
        <mat-form-field>
          <input 
            [formControl]="distributorCtrl" 
            type="text" 
            placeholder="Distributor" 
            matInput
            [matAutocomplete]="autoCompleteDistributor" />

          <mat-autocomplete 
            autoActiveFirstOption 
            #autoCompleteDistributor="matAutocomplete"
            [displayWith]="displayFnDistributor">
            <mat-option *ngFor="let item of distributors$ | async" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>



    <div class="row">

      <!-- COUNTRIES FORM Control -->
      <div class="col-sm-6">
        <mat-form-field>
          <input 
            [formControl]="countryCtrl" 
            type="text" 
            placeholder="Country" 
            matInput
            [matAutocomplete]="autoCompleteCountry" />

          <mat-autocomplete 
            autoActiveFirstOption 
            #autoCompleteCountry="matAutocomplete"
            [displayWith]="displayFnCountry">
            <mat-option *ngFor="let item of countries$ | async" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field>
          <input matInput formControlName="date" [matDatepicker]="date" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>

      </div>
    </div>
  

    <div class="row">
      <div class="col-sm-12">
        <mat-form-field>
          <input matInput type="number" formControlName="contractValue" placeholder="Contract value">
        </mat-form-field>
        <mat-hint align="end" *ngIf="(contractValueCtrl.dirty || contractValueCtrl.touched) && contractValueCtrl.invalid && contractValueCtrl.errors.pattern">Please enter a valid amount.</mat-hint>
      </div>
    </div>

</mat-dialog-content>



<mat-dialog-actions align="end">
  <button type="reset" mat-raised-button color="primary" mat-dialog-close (click)="close(null)" tabindex="-1">Close</button>
  <button type="submit" mat-raised-button color="warn" class="mx-1" type="submit" cdkFocusInitial>Submit</button>
</mat-dialog-actions>

</form>