<div class="m-t-15">
  <div class="row">
    <div class="col-sm-12">
      <ngb-tabset>
          <!-- *ngFor="let seo of seos" -->
        <ngb-tab *ngFor="let seo of seoData" title='{{seo.name}}'>   
          <ng-template ngbTabContent>
                  <div class="row">
                      <div class="col">
                        <h5>{{seo.name}} Meta Title</h5>
                        <input type="text" placeholder="Meta keywords" (input)="handleSeo()" class="form-control" [(ngModel)]="seo.metaTitle">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col">
                        <h5>{{seo.name}} Meta Description</h5>
                        <input type="text" placeholder="Meta description"  (input)="handleSeo()" class="form-control" [(ngModel)]="seo.metaDescription">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col">
                        <h5>{{seo.name}} Meta KeyWord</h5>
                        <input type="text" placeholder="Meta Url" (input)="handleSeo()" class="form-control" [(ngModel)]="seo.metaKeyWord">
                      </div>
                    </div>
                    <hr>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>