<form id="thisForm" #catalogForm="ngForm" (ngSubmit)="submit(catalogForm)">
  <mat-dialog-content>
    <h2 mat-dialog-title class="text-center">{{basic_title}} Catalog</h2>
    <hr />

    <div class="row">


      <div class="col-sm-6">
        <mat-form-field>
          <input matInput name="catalogTitle" type="text" placeholder="Catalog Title" [(ngModel)]="catalogTitle" #catTitle required />
          <mat-error *ngIf="catalogForm.invalid && catTitle?.errors?.required">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-sm-6">

        <mat-form-field>
          <input 
            matInput 
            placeholder="Manufacturer" 
            name="company"
            [matAutocomplete]="autoCompleteManufacturer" 
            [(ngModel)]="company" 
            (ngModelChange)="_filterManufacturer(company)" required/>

          <mat-autocomplete 
            #autoCompleteManufacturer="matAutocomplete" 
            [displayWith]="displayFnManufacturer"
            (optionSelected)="onCompanySelected(company)">
            <mat-option *ngFor="let manu of manufacturerFilter" [value]="manu">
              {{ manu.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="catalogForm.invalid && company?.errors?.required">
            Manufacturer is required
          </mat-error>
        </mat-form-field>

      </div>

    </div>

    <hr />

    <div class="row">
      <div class="col-sm-6">
        <h5>Catalog </h5>
        <br />
        <div class="row">
          <div class="col" *ngIf="showCatType">
            <mat-form-field>
              <mat-select placeholder="Catalog" [(ngModel)]="catalogChossen" name="catalogChossen">
                <mat-option *ngFor="let item of allcatalogs" [value]="item.value">
                  {{item.display}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="catalogLink" align="end"><a href="{{ catalogLink }}" target="_blank"> View File</a></mat-hint>
            </mat-form-field>
          </div>

          <div class="col" *ngIf="!showCatType">
            <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="handleCatalogChange($event)" />
            <mat-form-field (click)="csvInput.click()" class="pointer">
              <input matInput [placeholder]="uploadedFileName" disabled type="text">
              <mat-icon matSuffix color="primary"  >cloud_upload</mat-icon>
            </mat-form-field>
          </div>

        </div>

        <div class="row" *ngIf="allcatalogs && allcatalogs?.length">
          <div class="col">
            <a  mat-flat-button color="primary" (click)="showCat()">Or {{showCatType ? 'Deploy Your Own?' : 'Select from list'}}</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6" *ngIf="!showCatType">
        <div class="row">
          
          <div class="col imgDiv" *ngIf="isImageToDisplay && catalogImagePreview[0].length">
            <h5>Image Preview </h5>
            <label role="button" class="badge badge-danger" (click)="hideCatalogImage()" class="close">
              <i class="material-icons">
                close
              </i>
            </label>
            <img [src]="catalogImagePreview[0]" class="img" style="max-width: 100%" />
          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="onCancel()"
      tabindex="-1">Close</button>
    <button type="submit" mat-raised-button color="primary" class="mx-1" cdkFocusInitial>
      <span *ngIf="this.submitLoader" class="spinner-border spinner-border-sm" role="status"></span>
      <span *ngIf="this.submitLoader" class="load-text"> Loading...</span>
      <span *ngIf="!this.submitLoader" class="btn-text">{{basic_title}}</span>
    </button>
  </mat-dialog-actions>


</form>

