img {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.imgDiv {
  max-width: 160px;

  label {
    position: relative;
    top: 40px;
    right: 5px;
    color: #fff;
  }
}


mat-form-field{ 
  width: 100%;
}

mat-hint {
  a {
    font-size: inherit;
    color: inherit;
    font-style: italic;
    font-weight: 900;
  }
}