<form #ad="ngForm" (ngSubmit)="submit(ad)">

  <mat-dialog-content>
    <h2 mat-dialog-title class="text-center">{{basic_title}} {{data.type}}</h2>

    <hr />


    <div class="row mt-3">

      <div class="col-sm-12">
        <mat-form-field>
          <input type="text" placeholder="Scientific Name" matInput [(ngModel)]="intForm.Scientific" name="Scientific"
            (ngModelChange)="handleScientificChanging($event)" #sName="ngModel" [matAutocomplete]="autoCompleteSci" required/>
          <mat-autocomplete #autoCompleteSci="matAutocomplete" [displayWith]="displayScientific">
            <mat-option *ngFor="let option of SCi" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="ad.invalid && sName?.errors?.required">
            Scientific Name is required
          </mat-error>
        </mat-form-field>
      </div>

    </div>


    <div class="row mt-3">

      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Medical Line</mat-label>
          <input matInput [(ngModel)]="intForm.MedicleLine" name="Medicallineid" #medicalline="ngModel"
            [matAutocomplete]="autoCompleteMedicals" required />
          <!-- (ngModelChange)="bindspecialities($event)" -->
          <mat-autocomplete #autoCompleteMedicals="matAutocomplete" (optionSelected)="bindspecialities($event)"
            [displayWith]="displayMedicalLine">
            <mat-option *ngFor="let option of medline" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="ad.invalid && medicalline?.errors?.required">
            Medical Line is required
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-sm-6">
        <mat-form-field>
          <input type="text" placeholder="Specialities" matInput [(ngModel)]="intForm.Specialities" name="Specialities"
            (ngModelChange)="_filterSpeciality($event)" [matAutocomplete]="autoCompleteSpeciality" #speci="ngModel"
            required />
          <mat-autocomplete #autoCompleteSpeciality="matAutocomplete" [displayWith]="displaySpeciality">
            <mat-option *ngFor="let option of specialities" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="ad.invalid && speci?.errors?.required">
            Specialities is required
          </mat-error>
        </mat-form-field>
      </div>

    </div>





  </mat-dialog-content>

  <mat-dialog-actions  align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="onCancel()">
      Close
    </button>

    <button type="submit" mat-raised-button color="primary" class="mx-1" cdkFocusInitial>
      <span *ngIf="this.submitLoader" class="spinner-border spinner-border-sm" role="status"></span>
      <span *ngIf="this.submitLoader" class="load-text"> Loading...</span>
      <span *ngIf="!this.submitLoader" class="btn-text">Submit</span>
    </button>
  </mat-dialog-actions>


</form>