<app-filter *ngIf="pageType == 'Manufaturers'" [filterOptions]="filterOptions"
  (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>
  <ngb-tabset (tabChange)="actionTabChange($event)">
    <ngb-tab title="Manufacturers" id="1">
      <ng-template ngbTabContent>
        <div>

          <app-card>
            <div class="row justify-content-between">
              <form id="thisForm" #Searchform="ngForm" (ngSubmit)="searchSubmit(Searchform)">
                <div class="col-12">
                  <div class="row">
                    <div class="col-5">
                      <mat-form-field class="w-100">
                        <input matInput type="number" ngModel id="id" name="id" placeholder="Company Id" />
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="w-100">
                        <input matInput id="name" ngModel name="name" placeholder="Company Name" />
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <button type="submit" mat-flat-button color="primary" class="my-2">
                        <mat-icon>search</mat-icon> Search
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="col-auto mr-2">
                <button (click)="Add()" mat-stroked-button class="m-1 pull-right" matTooltip="Add Manufacturer Company">
                  <mat-icon>add</mat-icon> Company
                </button>
              </div>
            </div>
          </app-card>


          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="row overflow-x-auto">
            <table *ngIf="!isLoading && (manufacturerSource?.data && manufacturerSource?.data?.length > 0)"
              mat-table 
              #table 
              [dataSource]="manufacturerSource" 
              matSort>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Id</th>
                <td mat-cell *matCellDef="let element">{{ element.companyId }}</td>
              </ng-container>
              <ng-container matColumnDef="targetCountry">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Targeted Country</th>
                <td mat-cell *matCellDef="let element">

                  <button
                    *ngIf="element.targetedCountries && element.targetedCountries.length > 0; else viewAllTargetedCountries"
                    mat-flat-button [matBadge]="element.targetedCountries.length" matBadgePosition="after"
                    matBadgeColor="warn" (click)="openDialog(element, 3)">
                    View All
                  </button>
                  <ng-template #viewAllTargetedCountries>
                    <span style="text-align: center;"> N/A</span>
                  </ng-template>

                </td>
              </ng-container>
              <ng-container matColumnDef="Country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Country
                </th>
                <td mat-cell *matCellDef="let element">
                  <img width=24 [matTooltipPosition]="position" matTooltip="{{ element?.country?.name }}" onerror="this.src='assets/default-company.png'" src="assets/images/flags24/{{
                      element.country.countryCode.toUpperCase()
                    }}.png" />
                </td>
              </ng-container>

              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="PhoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                <td mat-cell *matCellDef="let element">{{ element?.adminProperties?.phoneNumber}}</td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="RegistrationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Registration Date
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.registrationDate | date:'shortDate' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="Source">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Source
                </th>
                <td mat-cell *matCellDef="let element">{{ element.utmsource }}</td>
              </ng-container>


              <ng-container matColumnDef="Comment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Comment
                </th>
                <td mat-cell *matCellDef="let element">
                  <a class="pointer" *ngIf="element.comment; else viewnotFoundcomment" (click)="openDialog(element, 2)">
                    {{ element.comment  | ellipsis:20 }}
                  </a>
                </td>
                <ng-template #viewnotFoundcomment style="text-align: center">
                  <span> N/A</span>
                </ng-template>
              </ng-container>


              <ng-container matColumnDef="NumberOfEmployee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  # Employee
                </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-mini-fab matTooltip="Manufacturer Employee" color="warn" *ngIf="element.numberOfEmployees; else viewnotFoundemploye" >
                    {{ element.numberOfEmployees }}
                  </button>
                </td>
                <ng-template #viewnotFoundemploye style="text-align: center">
                  <span> N/A</span>
                </ng-template>
              </ng-container>

              <ng-container matColumnDef="NumberOfInquiries">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  # Inquiries
                </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-mini-fab matTooltip="Manufacturer Inquiries" color="warn" *ngIf="element.numbInquiries; else viewnotFoundInq">
                    {{ element.numbInquiries }}
                  </button>
                </td>
                <ng-template #viewnotFoundInq style="text-align: center">
                  <span> N/A</span>
                </ng-template>
              </ng-container>


              <ng-container matColumnDef="nextfollowup">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Next FollowUp Action
                </th>
                <td mat-cell *matCellDef="let element">{{element?.nextFollowAction}}</td>
              </ng-container>


              <ng-container matColumnDef="emiallogcount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Email log count
                </th>
                <td mat-cell *matCellDef="let element" (click)="openemaillog(element.id)">{{element?.emailLogsCount}}
                </td>
              </ng-container>

              <ng-container matColumnDef="CurrentStage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Current Stage
                </th>
                <td mat-cell *matCellDef="let element">{{ element?.adminProperties?.stage }}</td>
              </ng-container>

              <ng-container matColumnDef="CreatedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                <td mat-cell *matCellDef="let element">{{ element.CreatedBy }}</td>
              </ng-container>
              

              <ng-container matColumnDef="NumberOfScientificName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  # ScientificName
                </th>
                <td mat-cell *matCellDef="let element">

                  <button mat-mini-fab matTooltip="Manufacturer Scientific Name" color="warn" (click)="openDialog(element)" >
                    {{ element.numScientificNames }}
                  </button>

                </td>
              </ng-container>

              <ng-container matColumnDef="NumberOfProduct">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  # Product
                </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-mini-fab matTooltip="Manufacturer Product" color="warn" (click)="openDialog(element)" >
                    {{ element.numProducts }}
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="AnnualSales">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Annual Sales
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.annualSales }}
                </td>
              </ng-container>

              <ng-container matColumnDef="authenticated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Authenticated
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon *ngIf="element.authenticated">done</mat-icon>
                  <mat-icon *ngIf="!element.authenticated">clear</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="registered">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Registered
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon *ngIf="element.isRegistered">done</mat-icon>
                  <mat-icon *ngIf="!element.isRegistered">clear</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Actions
                </th>
                <td mat-cell *matCellDef="let element">
                  <a mat-icon-button matTooltip="View Manufacturer" color="primary"
                    (click)="displayManufacturer(element)">
                    <mat-icon>view_module</mat-icon>
                  </a>
                  <a mat-icon-button matTooltip="Edit Manufacturer" color="primary" (click)="EditManufacturer(element)">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <a mat-icon-button matTooltip="Merge" color="primary" (click)="mergeComp(element)">
                    <mat-icon>call_merge</mat-icon>
                  </a>

                  <span *ngIf="!element.client">
                    <a mat-icon-button matTooltip="Add Client" color="primary" (click)="addClient(element)">
                      <mat-icon>person_add_alt_1</mat-icon>
                    </a>
                  </span>
                  <a *ngIf="!element.isActive" mat-icon-button matTooltip="Activate" color="primary"
                    (click)="onActivate(element.id)">
                    <mat-icon>done</mat-icon>
                  </a>
                  <a *ngIf="element.isActive" mat-icon-button matTooltip="Deactivate" color="primary"
                    (click)="onDeactivate(element.id)">
                    <mat-icon>cancel</mat-icon>
                  </a>
                  <a mat-icon-button matTooltip="Delete" color="warn" (click)="deleteRecord(element.id)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator [hidden]="manufacturerSource?.data?.length == 0" [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)">
            </mat-paginator>
          </div>

          <div class="no-data-container" [hidden]="isLoading || manufacturerSource?.data && manufacturerSource?.data?.length">
            <img src="assets/no-data.svg" alt="No data">
            <p>Oops! Nothing is here</p>
          </div>

        </div>
      </ng-template>
    </ngb-tab>
    <!-- end of first tab -->
    <ngb-tab title="Manufacturers (Not-Registered)" id="2">
      <ng-template ngbTabContent>
        <div>

          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="row overflow-x-auto" >
            <table mat-table #table [dataSource]="manufacturerSource" matSort *ngIf="!isLoading && (manufacturerSource?.data && manufacturerSource?.data?.length > 0)">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>

              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="CreatedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                <td mat-cell *matCellDef="let element">{{ element.CreatedBy }}</td>
              </ng-container>

              <ng-container matColumnDef="Country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Country
                </th>
                <td mat-cell *matCellDef="let element">
                  <img width=24 [matTooltipPosition]="position" matTooltip="{{ element.country.name }}" onerror="this.src='assets/default-company.png'"
                    src="assets/images/flags24/{{element.country.countryCode.toUpperCase()}}.png" />
                </td>
              </ng-container>

              <ng-container matColumnDef="#ofMatched">
                <th mat-header-cell *matHeaderCellDef mat-sort-header># Inquiries</th>
                <td mat-cell *matCellDef="let element">{{ element.numbInquiries }}</td>
              </ng-container>

              <ng-container matColumnDef="RegistrationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration Date</th>
                <td mat-cell *matCellDef="let element">{{ element.registrationDate | date:'shortDate'}}</td>
              </ng-container>

              <ng-container matColumnDef="IsRegistered">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Registered</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon *ngIf="element.isRegistered">done</mat-icon>
                  <mat-icon *ngIf="!element.isRegistered">clear</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="Website">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Website</th>
                <td mat-cell *matCellDef="let element">
                  <a [href]="element.websiteUrl" target="_blank" rel="Website">{{element.websiteUrl}}</a>
                </td>
              </ng-container>


              <ng-container matColumnDef="numScientificNames">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Scientific Names</th>
                <td mat-cell *matCellDef="let element">
                  {{element.numScientificNames}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            </table>
            <mat-paginator [hidden]="manufacturerSource?.data?.length == 0" [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)">
            </mat-paginator>
          </div>

          <div class="no-data-container" [hidden]="isLoading || manufacturerSource?.data && manufacturerSource?.data?.length">
            <img src="assets/no-data.svg" alt="No data">
            <p>Oops! Nothing is here</p>
          </div>

        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="New Crawler" id="3">
      <ng-template ngbTabContent>
        <div>

          <div class="spinner-container">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

          <div class="row overflow-x-auto">
            <table #table mat-table matSort [dataSource]="manufacturerSource" *ngIf="!isLoading && (manufacturerSource?.data && manufacturerSource?.data?.length > 0)">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>

              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>


              <ng-container matColumnDef="CreatedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                <td mat-cell *matCellDef="let element">{{ element.CreatedBy }}</td>
              </ng-container>

              <ng-container matColumnDef="Country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Country
                </th>
                <td mat-cell *matCellDef="let element">
                  <img width=24 [matTooltipPosition]="position" matTooltip="{{ element.country.name }}" onerror="this.src='assets/default-company.png'"
                    src="assets/images/flags24/{{element.country.countryCode.toUpperCase()}}.png" />
                </td>
              </ng-container>

              <ng-container matColumnDef="#ofMatched">
                <th mat-header-cell *matHeaderCellDef mat-sort-header># Inquiries</th>
                <td mat-cell *matCellDef="let element">{{ element.numbInquiries }}</td>
              </ng-container>

              <ng-container matColumnDef="RegistrationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration Date</th>
                <td mat-cell *matCellDef="let element">{{ element.registrationDate | date:'shortDate'}}</td>
              </ng-container>

              <ng-container matColumnDef="IsRegistered">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Registered</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon *ngIf="element.isRegistered">done</mat-icon>
                  <mat-icon *ngIf="!element.isRegistered">clear</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="Website">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Website</th>
                <td mat-cell *matCellDef="let element">
                  <a [href]="element.websiteUrl" target="_blank" rel="Website">{{element.websiteUrl}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="numScientificNames">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Scientific Names</th>
                <td mat-cell *matCellDef="let element">
                  {{element.numScientificNames}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            </table>
            <mat-paginator [hidden]="manufacturerSource?.data?.length == 0" [pageSize]="pageSize" [length]="length" showFirstLastButtons (page)="pageChange($event)">
            </mat-paginator>
          </div>

          <div class="no-data-container" [hidden]="isLoading || manufacturerSource?.data && manufacturerSource?.data?.length">
            <img src="assets/no-data.svg" alt="No data">
            <p>Oops! Nothing is here</p>
          </div>

        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</app-card>