table {
  width: 100%;
  text-align: center;
}
.mat-cell {
  padding: 10px 10px 10px 0;
}
.myButton {
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #7892c2),
    color-stop(1, #476e9e)
  );
  background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color: #7892c2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  padding: 3px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.myButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #476e9e),
    color-stop(1, #7892c2)
  );
  background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color: #476e9e;
}
.myButton:active {
  position: relative;
  top: 1px;
}

table {
  width: 100%;
}
.mat-cell {
  padding: 10px 10px 10px 5px;
  text-align: center;
}
.mat-header-cell {
  text-align: center;
  padding: 10px 10px 10px 0;
}
::ng-deep .modal-dialog {
  max-width: 500px;
  margin: 3.75rem auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.spinner-container {
  mat-spinner {
    margin: 20% auto;
  }
}
