<form #company="ngForm" (ngSubmit)="submit(company)">

  <div mat-dialog-content>

    <h2 mat-dialog-title class="text-center">{{basic_title}} Company</h2>
    <hr />


    <div class="row my-3">

      <div class="col-sm-6">
        <mat-form-field>
          <input 
            matInput 
            name="CompanyName" 
            type="text" 
            placeholder="Company name"
            [(ngModel)]="compForm.CompanyName"
            #cName="ngModel" 
            required />
          <mat-error *ngIf="company.invalid && cName?.errors?.required">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class='col-sm-6'>
        <mat-form-field>
          <input 
            matInput 
            placeholder="Country"
            name="country" 
            [matAutocomplete]="autoCompleteCountry"
            [(ngModel)]="compForm.country" 
            (ngModelChange)="countriesFilteration = _filterCountry(compForm.country)"
            #cntry="ngModel" required />

          <mat-autocomplete #autoCompleteCountry="matAutocomplete" [displayWith]="displayFnCounty">
            <mat-option *ngFor="let country of countriesFilteration | async" [value]="country">
              {{country.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="company.invalid && cntry?.errors?.required">
            Country is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- LOGO Upload -->
    <div class="row my-3">

      <div class="col-sm-6">
        <h5 class="marginHeader">Company Logo</h5>
        <label class="custom-file mb-3">
          <input type="file" class="custom-file-input" onclick="this.value= null"
            (change)="handleBaseImageChange($event)" name="Logo" />
          <span class="custom-file-control"></span>
        </label>
      </div>

      <div class="col-sm-6">
        <mat-form-field>
          <input 
            matInput 
            name="WebsiteUrl" 
            type="text" 
            placeholder="Website URL"
            [(ngModel)]="compForm.WebsiteUrl"
            />
        </mat-form-field>
      </div>

    </div>


    <div class="row my-3">
      <div class="col-sm-6">
        <div class="imgDiv" *ngIf="imagePreview[0]">
          <label role="button" class="badge badge-danger" (click)="hideBaseImage()" class="close">X</label>
          <img [src]="imagePreview[0]" style="max-width: 50%" alt="Company Image"/>
        </div>
      </div>
    </div>



    <hr />

    <div class="row my-3">
      <div class="col-sm-12">
        <h5 class="marginHeader">Description</h5>
        <div class="input-group">
          <quill-editor name="Description" [(ngModel)]="compForm.Description">
          </quill-editor>
        </div>
      </div>
    </div>


    <!-- <div class="row">
        <div class="col-sm-6">
          <h5 class="marginHeader">Medical Line</h5>
          <mat-form-field>
            <mat-select [(ngModel)]="compForm.MedicalLineIds" name="MedicalLineIds" #MedicalLines="ngModel"
            (change)='bindspecialities(medicalline.value)' required>
              <mat-option *ngFor="let medical of medicallineslist" [value]="medical"
                >{{ medical.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <h5 class="marginHeader">Speciality</h5>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipListSpecialityPoints>
              <mat-chip
                *ngFor="
                  let spec of selectedSpeciality;
                  let i = index
                "
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeSpecialitiesPoints(i)"
              >
                {{ spec.name }}
                <mat-icon matChipRemove *ngIf="removable"
                  >cancel</mat-icon
                >
              </mat-chip>
              <input
                [(ngModel)]="compForm.Speciality"
                name="SpecialityIds"
                (ngModelChange)="
                filteredSpec = _filterSpec(compForm.Speciality)
                "
                [matAutocomplete]="autoCompleteSpecialityPoints"
                [matChipInputFor]="chipListSpecialityPoints"
              />
            </mat-chip-list>
            <mat-autocomplete
              #autoCompleteSpecialityPoints="matAutocomplete"
              (optionSelected)="AddSelectedSpecialitites($event)"
            >
              <mat-option
                *ngFor="let speciality of filteredSpec | async"
                [value]="speciality"
              >
                {{ speciality.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
       -->
    <hr />
    <!-- <div class="row">
          <div class="col-sm-6">
            <h5 class="marginHeader">Establishment Year</h5>
            <input
              matInput
              type="text"
              placeholder="Establishment Year"
              name="EstablishmentDate"
              class="form-control"
              [(ngModel)]="compForm.EstablishmentDate"
            />
          </div>
        <div class="col-sm-6">
            <h5 class="marginHeader">Annual Sales</h5>
          <mat-form-field>
            <mat-label>Annual Sales</mat-label>
            <mat-select [(ngModel)]="compForm.annual" name="annual">
              <mat-option *ngFor="let annu of annuals" [value]="annu.name"
                >{{ annu.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <hr /> -->






  </div>

  <div mat-dialog-actions align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="close(null)"
      tabindex="-1">Close</button>
    <button type="submit" mat-raised-button color="primary" class="mx-1"
      cdkFocusInitial>{{basic_title}}</button>

  </div>
</form>