<ngb-tabset *ngIf="dialogType === 1">
  <ngb-tab title="Distributor List">
    <ng-template ngbTabContent>
        <app-table [DataSource]="List" [displaysize]="[10,20]" [tableColumns]="displayedColumns"  ></app-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="ManuFacutrer List">
    <ng-template ngbTabContent>
        <app-table [DataSource]="ListManu" [displaysize]="[10,20]" [tableColumns]="displayedManuColumns"  ></app-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Product List">
    <ng-template ngbTabContent>
        <app-table [DataSource]="ListProd" [displaysize]="[10,20]" [tableColumns]="displayedProdColumns"  ></app-table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<div *ngIf="dialogType == 2">

  <app-table [DataSource]="specialityProd" [displaysize]="[10,20]" [tableColumns]="displayedSpecialityColumns"  ></app-table>

  <!-- <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element?.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element?.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="slug">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Slug</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element?.slug}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="imagePath">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img width=36 matTooltipPosition="above" [src]="element.imagePath" />
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
  <mat-paginator #paginator [length]="10" [pageSize]="10"></mat-paginator> -->
</div>

