/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/material.theme.css";


.timepicker-overlay {
  margin-top: 100px !important;
}

div.ng2-tag-input {
  overflow: hidden !important;
}

.card .card-header span {
  margin: 0 !important;
}

// a {
//   transition: all 300ms ease-in !important;
//   color: black !important;
// }

// a:hover {
//   color: orangered !important;
// }

.pointer {
  cursor: pointer;
}

.m-t-15 ng-tns-c24-69 ng-trigger ng-trigger-fadeInOutTranslate {
  background: white !important;
}
.tab-pane {
  background: white !important;
}

button:focus {
  outline: none !important;
}

.no-data-container {
  padding: 7.8%;
  text-align: center;
  img {
    width: 54%;
  }

  p {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 4%;
    color: #565472;
  }
}