<div class="row">
  <h6 *ngIf="title; else noTitle">{{ title }}</h6>
  <ng-template #noTitle>
    <h6>Image Upload</h6>
  </ng-template>
</div>

<ng-container *ngIf="multiple; else single">
  <div class="row" #uploadContainer>
    <ng-container *ngIf="imagesPreview" #infinite>
      <div class="col-md-auto upload-container px-0" *ngFor="let image of imagesPreview; let i = index">
        <img [src]="image" class="current-image" />
        <button
          mat-icon-button
          class="icon-button"
          color="warn"
          (click)="onImageRemove(image)"
          (keydown.enter)="prevent($event)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-container>

    <div class="col-md-auto upload-container px-0" *ngIf="imagesPreview.length < max">
      <button
        mat-icon-button
        class="add-icon-button"
        (click)="imageUpload.click()"
        [disableRipple]="true"
        (keydown.enter)="prevent($event)"
      >
        <mat-icon>add_circle_outline </mat-icon>
      </button>
    </div>
    <!-- Multiple Image Validation still needs work -->
    <!-- <span class="col-sm-12 required-error-message" *ngIf="title">{{ title }} is required</span>
    <span class="col-sm-12 required-error-message" *ngIf="!title">Image is required</span> -->
  </div>
</ng-container>
<ng-template #single>
  <div class="row" #uploadContainer>
    <ng-container *ngIf="imagesPreview">
      <div class="col-md-auto upload-container px-0" *ngFor="let image of imagesPreview; let i = index">
        <img [src]="image" class="current-image" />
        <button
          mat-icon-button
          class="icon-button"
          color="warn"
          (click)="onImageRemove(image)"
          (keydown.enter)="prevent($event)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-container>

    <div
      class="col-md-auto upload-container px-0"
      *ngIf="!(imagesPreview.length > 0)"
      [ngClass]="{ 'required-error': !valid }"
    >
      <button
        mat-icon-button
        class="add-icon-button"
        (click)="imageUpload.click()"
        [disableRipple]="true"
        (keydown.enter)="prevent($event)"
      >
        <mat-icon>add_circle_outline </mat-icon>
      </button>
    </div>
    <span class="col-sm-12 required-error-message" *ngIf="title && !valid">{{ title }} is required</span>
    <span class="col-sm-12 required-error-message" *ngIf="!title && !valid">Image is required</span>
  </div>
</ng-template>

<input type="file" style="display: none" #imageUpload (change)="onFileSelected($event)" />
