.upload-container {
  position: relative;
  background-color: #e6e6e6;
  width: 15%;
  height: 110px;
  margin-left: 10px;
  margin-top: 5px;
  border: solid 3px black;
  border-radius: 10px;
}

.upload-container:hover {
  .icon-button {
    visibility: visible;
  }
  .current-image {
    filter: brightness(75%);
  }
}

.icon-button {
  visibility: hidden;
  position: absolute;
  left: 33%;
  top: 33%;
}

.add-icon-button {
  position: absolute;
  left: 33%;
  top: 33%;
}

.current-image {
  width: 100%;
  height: 100%;
}

.upload-container.required-error {
  border: solid 3px #f44336;
}

.required-error-message {
  margin-top: 2px;
  font-size: 75%;
  color: #f44336;
  transition: all linear 0.3sec;
}
