.ng-select-error-message {
  margin-top: -15px;
  font-size: 75%;
}

.ng-select-error .ng-select-container .ng-value-container .ng-placeholder {
  color: #f44336;
}

.ng-select-error.ng-select .ng-select-container:after {
  border-bottom: 1px solid #f44336 !important;
}

.ng-select-error.ng-select .ng-arrow-wrapper .ng-arrow {
  color: #f44336;
}
