<app-card>
  <form #lang="ngForm" (ngSubmit)="submit(lang)">
  <div class="row">
    <div class="col-sm-6">
      <h5 class="marginHeader">Key</h5>
      <input
        matInput
        type="text"
        placeholder="Add new key"
        name="key"
        class="form-control"
        #Key="ngModel"
        required
        [(ngModel)]="language.key"
      />
      <div *ngIf="lang.submitted && lang.invalid" class="invalid-feedback">
        <div *ngIf="Key?.errors?.required">
          Key is required
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h5 class="marginHeader">PageID</h5>
      <input
        matInput
        type="text"
        placeholder="Enter Page ID "
        name="pageId"
        class="form-control"
        #pageID="ngModel"
        required
        [(ngModel)]="language.pageId"
      />
      <div *ngIf="lang.submitted && lang.invalid" class="invalid-feedback">
        <div *ngIf="pageID?.errors?.required">
          Page ID is required
        </div>
      </div>
    </div>
  </div>
  
  <hr />
  <!-- end of row -->
  <div class="row">
    <div class="col-sm-6">
      <h5 class="marginHeader">Language</h5>
      <select [(ngModel)]="language.langs" name="langs">
        <option *ngFor="let langu of languageList" [ngValue]="langu"
          >{{ langu.name }}</option
        >
      </select>
    </div>
    <div class="col-sm-6">
        <h5 class="marginHeader">Value</h5>
        <input
          matInput
          type="text"
          placeholder="Enter value of key "
          name="value"
          class="form-control"
          #Value="ngModel"
          required
          [(ngModel)]="language.value"
        />
        <div *ngIf="lang.submitted && lang.invalid" class="invalid-feedback">
          <div *ngIf="Value?.errors?.required">
            Value is required
          </div>
        </div>

    </div>
  </div>
  
  <hr />
  <!-- end of row -->
  <div class="row">
    <div class="col-sm-6">
        <h5 class="marginHeader">Page Name</h5>
        <input
          matInput
          type="text"
          placeholder="Page Name "
          name="pageName"
          class="form-control"
          #PName="ngModel"
          required
          [(ngModel)]="language.pageName"
        />
        <div *ngIf="lang.submitted && lang.invalid" class="invalid-feedback">
          <div *ngIf="PName?.errors?.required">
            Page Name is required
          </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h5 class="marginHeader">Path</h5>
        <input
          matInput
          type="text"
          placeholder="Path "
          name="path"
          class="form-control"
          #Path="ngModel"
          required
          [(ngModel)]="language.path"
        />
        <div *ngIf="lang.submitted && lang.invalid" class="invalid-feedback">
          <div *ngIf="Path?.errors?.required">
              Path is required
          </div>
        </div>
    </div>
  </div>
  
  <hr />
  <div class="row">
      <div class="col-6">
        <input type="submit" class="btn btn-primary" />
      </div>
      <div class="col-6">
          <a  class="btn  pull-right" (click)="close(null)">
              Close
          </a>
      </div>
    </div>
</form>
</app-card>
