<div class="container-fluid">
  <tag-input
    class="container"
    style="overflow: hidden;"
    [ngClass]="'tag-select'"
    theme="bootstrap"
    [placeholder]="'+'"
    [(ngModel)]="selectedcountry"
    [addOnBlur]="true"
    [clearOnBlur]="true"
    (onTextChange)="handleTextChanging()"
    [maxItems]="1"
    (onAdd)="handleAdding()"
    (onRemove)="handleRemove()"
    [secondaryPlaceholder]="mainData.title"
  >
    <tag-input-dropdown
      [showDropdownIfEmpty]="true"
      [autocompleteItems]="countryList"
    >
    </tag-input-dropdown>
  </tag-input>
</div>
<hr />
