<form id="thisForm" #Scientificform="ngForm" (ngSubmit)="submit(Scientificform)">

  <mat-dialog-content>


    <h2 mat-dialog-title class="text-center">{{basic_title}} Scientific Name</h2>
    <hr />

    <div class="row my-3">
      <div class="col-sm-12">
        <mat-form-field>
        <input
          type="text" 
          matInput
          placeholder="Name" 
          maxlength="256"
          name="ScientificName" 
          [(ngModel)]="scientificnameform.Name" 
          #sciNameModel="ngModel" 
          required/>
          <mat-error *ngIf="Scientificform.invalid && sciNameModel?.errors?.required">
            Name is required
          </mat-error>
          <mat-hint align="end">{{sciNameModel?.value?.length}} / 256</mat-hint>
        </mat-form-field>
      </div>
    </div>


    <!-- ! Medical Line & Speciality -->
    <div class="row my-3">

      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Medical Line</mat-label>
          <input matInput [(ngModel)]="scientificnameform.MedicalLineId" name="Medicallineid" #medicalline="ngModel"
            [matAutocomplete]="autoCompleteMedicals" required />
          <mat-autocomplete #autoCompleteMedicals="matAutocomplete" (optionSelected)="bindspecialities($event)"
            [displayWith]="displayMedicalLine">
            <mat-option *ngFor="let option of medicallineslist" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="Scientificform.invalid && medicalline?.errors?.required">
            Medical Line is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field class="example-chip-list">
          <mat-label>Specialities</mat-label>
          <mat-chip-list #chipListSpeciality>
            <mat-chip 
              *ngFor="let Speciality of SelectedSpeciality; let i = index" 
              [selectable]="selectable"
              [removable]="removable" 
              (removed)="removeSpeciality(i)">
              {{ Speciality.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input 
              [(ngModel)]="scientificnameform.Specialities" 
              name="speciality"
              (ngModelChange)="_filterSpeciality(scientificnameform.Specialities)"
              [matAutocomplete]="autoCompleteSpeciality" 
              [matChipInputFor]="chipListSpeciality" 
              #SpecInput />
          </mat-chip-list>
          <mat-autocomplete 
            #autoCompleteSpeciality="matAutocomplete" 
            (optionSelected)="AddSelectedSpeciality($event)">
            <mat-option *ngFor="let item of specialitiesFilter | async" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="Scientificform.invalid && SpecInput?.errors?.required">
            Speciality is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>



    <!-- ! Manufacturer -->
    <div class="row my-3" *ngIf="scientificnameform.Id > 0">
      <div class="col-sm-12" >
        <mat-form-field class="example-chip-list">
          <mat-label>Manufacturer</mat-label>
          <mat-chip-list #chipListManufacturer>
            <mat-chip *ngFor="let Manufacturer of SelectedManufacturer; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeManufacturer(i)">
              {{ Manufacturer.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="scientificnameform.manufacturer" name="manufacturer"
              (ngModelChange)="_filterManufacturer(scientificnameform.manufacturer)"
              [matAutocomplete]="autoCompleteManufacturer" [matChipInputFor]="chipListManufacturer" #ManuInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteManufacturer="matAutocomplete"
            (optionSelected)="AddSelectedManufacturer($event)">
            <mat-option *ngFor="let Manufacturer of manufacturerFilter | async" [value]="Manufacturer">
              {{ Manufacturer.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <hr />

    <!-- ! None Descriptor & Narrow Terms -->
    <div class="row my-3">

      <div class="col-sm-6">
        <mat-form-field class="example-chip-list">
          <mat-label>None Descriptor</mat-label>
          <mat-chip-list #chipNoneDescriptor>
            <mat-chip *ngFor="let item of NoneDescriptor; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeTag(i)">
              {{ item }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipNoneDescriptor" (matChipInputTokenEnd)="addNoneDescriptor($event)" />
          </mat-chip-list>
          <mat-hint align="end">Alternative Names for the Scientific Name</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field class="example-chip-list">
          <mat-label>Narrow Terms</mat-label>
          <mat-chip-list #chipListNarrowTerms>
            <mat-chip *ngFor="let scientificName of SelectedNarrowTerms; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeNarrowTerms(i)">
              {{ scientificName.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="scientificnameform.narrowTerm" name="narrowTerm"
              (ngModelChange)="_filterscientificNames(scientificnameform.narrowTerm)"
              [matAutocomplete]="autoCompleteNarrowTerms" [matChipInputFor]="chipListNarrowTerms" #searchInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteNarrowTerms="matAutocomplete"
            (optionSelected)="AddSelectedNarrowTerms($event)">
            <mat-option *ngFor="let scientificNames of filteredscientificNames | async" [value]="scientificNames">
              {{ scientificNames.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-hint align="end">Child Scientific Names</mat-hint>
        </mat-form-field>
      </div>
    </div>


    <!-- ! Related Terms & Border Terms -->
    <div class="row my-3">
      <div class="col-sm-6">

        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipListRelatedScientific>
            <mat-chip *ngFor="let scientificName of SelectedRelatedTerms; let i = index" [selectable]="'true'"
              [removable]="removable" (removed)="removeRelatedTerms(i)">
              {{ scientificName.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Related Terms" [(ngModel)]="scientificnameform.relatedTerm" name="relatedTerm"
              (ngModelChange)="_filterscientificNames(scientificnameform.relatedTerm)"
              [matAutocomplete]="autoCompleteRelatedterms" [matChipInputFor]="chipListRelatedScientific"
              #relatedInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteRelatedterms="matAutocomplete"
            (optionSelected)="AddSelectedRelatedNames($event)">
            <mat-option *ngFor="let scientificNames of filteredscientificNames | async" [value]="scientificNames">
              {{ scientificNames.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field class="example-chip-list">
          <mat-label>Border Terms</mat-label>
          <mat-chip-list #chipListBroaderterms>
            <mat-chip *ngFor="let scientificName of SelectedBroaderTerms; let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="removeBroaderTerms(i)">
              {{ scientificName.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [(ngModel)]="scientificnameform.borderTerm" name="borderTerm"
              (ngModelChange)="_filterborderscientificNames(scientificnameform.borderTerm)"
              [matAutocomplete]="autoCompleteBroaderterms" [matChipInputFor]="chipListBroaderterms" #broadInput />
          </mat-chip-list>
          <mat-autocomplete #autoCompleteBroaderterms="matAutocomplete"
            (optionSelected)="AddSelectedBroaderNames($event)">
            <mat-option *ngFor="let scientificNames of filteredBroaderTerms | async" [value]="scientificNames">
              {{ scientificNames.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <hr />


    <div class="row my-3">
      <div class="col-sm-6">
        <h5 class="marginHeader">Icon</h5>
        <label class="custom-file">
          <input type="file" class="custom-file-input" onclick="this.value= null" (change)="iconHandler($event)" />
          <span class="custom-file-control"></span>
        </label>
      </div>
      <div class="col-sm-6">
        <div class="imgDiv" *ngIf="imagePreview">
          <label role="button" class="badge badge-danger" (click)="hideImage()" class="close">X</label>
          <img [src]="imagePreview" class="img" style="max-width: 100%" />
        </div>
      </div>
    </div>


  </mat-dialog-content>

  <!-- <hr /> -->

  <mat-dialog-actions align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="onCancel()" tabindex="-1">Close</button>
    <button type="submit" mat-raised-button color="primary" class="mx-1" cdkFocusInitial>
      <span *ngIf="this.submitLoader" class="spinner-border spinner-border-sm" role="status"></span>
      <span *ngIf="this.submitLoader" class="load-text"> Loading...</span>
      <span *ngIf="!this.submitLoader" class="btn-text">{{basic_title}}</span> 
    </button>
  </mat-dialog-actions>

</form>