<app-card>
  <form #Dist="ngForm" (ngSubmit)="submit(Dist)">
<div class="row">
  <div class="col-sm-12">
      <h5 class="marginHeader">Original Company</h5>
      <mat-form-field>
          <input
            type="text"
            matInput
            disabled
            [(ngModel)]="company1"
            name="company1"
          />
        </mat-form-field>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
      <h5 class="marginHeader">Alternative Company</h5>
      <mat-form-field>
        <input
          type="text"
          placeholder="Company Name"
          (ngModelChange)="handleTextChanging($event)"
          matInput
          [(ngModel)]="company2"
          name="company2"
          [matAutocomplete]="auto"
          #Comp="ngModel"
          required
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCompany">
          <mat-option *ngFor="let option of ofCompany" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-6">
      <input type="submit" class="btn btn-primary" />
  </div>
  <div class="col-sm-6">
      <a  class="btn  pull-right" (click)="close(null)">
          Close
      </a>
  </div>
</div>
</form>
</app-card>
