
<h1 mat-dialog-title class="text-center">{{dialogTitle}}</h1>

<hr />

<mat-dialog-content>

  <!-- Show comments section -->
  <div *ngIf="modalType === 8" class="my-3">
    <p>{{commentText}}</p>
  </div>

  <!-- Add comment -->
  <div class="container-fluid" *ngIf="modalType === 6">
    <mat-form-field class="example-full-width" style="width: 100%">
      <textarea matInput placeholder="Comment..." [(ngModel)]="comment" ></textarea>
    </mat-form-field> 
  </div>

  <!-- Delete business opp -->
  <div *ngIf="modalType === 2" class="my-3">
    <div class="container">
      <span>Are you sure you want to delete the Business Opportunity </span>
    </div>
  </div>


  <!-- Send business opp -->
  <div *ngIf="modalType === 3" class="my-3">
    <div class="container">

      <span *ngIf="isActive">Are you sure you want to send the Business Opportunity </span>


      
      <mat-form-field class="example-full-width" *ngIf="!isActive">
        <input type="text" placeholder="Pick one" aria-label="Number" 
        (ngModelChange)="handleTextChanging($event)"
        matInput [(ngModel)]="selected_distributor" [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete">
          <mat-option *ngFor="let distr of distributorOptions" [value]="distr?.client">
            {{distr?.client?.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>


  <!-- Log all business opp -->
  <div *ngIf="modalType === 4 || modalType === 1 || modalType === 5 || modalType === 7" >

    <div *ngIf="emptyData">
      No Data Available 
    </div>

    <div *ngIf="!emptyData">
      <mat-table  #table [dataSource]="dataSource" >

        <ng-container matColumnDef="manufacturerName">
          <mat-header-cell *matHeaderCellDef >Manufacturer Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element?.manufacturerName }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="sendDate">
          <mat-header-cell *matHeaderCellDef >Sent Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element?.sendDate}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="finshedDate">
          <mat-header-cell *matHeaderCellDef >Finished Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element?.finshedDate}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="scheduledCall">
          <mat-header-cell *matHeaderCellDef >Scheduled Call</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.scheduledCall}}</mat-cell>
        </ng-container>
  
  
        <!-- Distributor person name and Email Column -->
        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.firstName }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="userEmail">
          <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>
  
  
        <!-- SPECIAL for Certificate -->
        <ng-container matColumnDef="certId">
          <mat-header-cell *matHeaderCellDef >Id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="certActions">
          <mat-header-cell *matHeaderCellDef >Company certificate</mat-header-cell>
          <mat-cell *matCellDef="let element">
            
            <a mat-button [href]="element.link" target="_blank">
              View Certificate
            </a>
  
            <button mat-button (click)="rejectCertificate(element)">
              Reject
            </button>
  
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      
      </mat-table>
      <mat-paginator #paginator [length]="10" [pageSize]="10"></mat-paginator>
      
    </div>
 
  </div>



</mat-dialog-content>



<mat-dialog-actions align="end" >
  <button mat-raised-button color="primary" mat-dialog-close (click)="close(null)" tabindex="-1">Close</button>
  <button mat-flat-button color="warn" class="mx-1" *ngIf="modalType === 2" (click)="onDelete()">Delete</button>
  <button mat-flat-button color="warn" class="mx-1" *ngIf="modalType === 6" (click)="onAddComment()">Submit</button>
  <button mat-flat-button color="warn" class="mx-1" *ngIf="modalType === 3 && !isActive" (click)="onSendBusinessOpp()">Send</button>
  <button mat-flat-button color="warn" class="mx-1" *ngIf="modalType === 3 && isActive" (click)="onConfirmSendBO()">Yes</button>
</mat-dialog-actions>