table {
  width: 100%;
}

.mat-header-cell {
  
  padding: 10px 10px 10px 0;
  // text-align: center;
}


.mat-cell {
  padding: 10px 10px 10px 5px;
  // text-align: center;
}


mat-form-field {
  width: 100%;
}