
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
   
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let values">{{values?.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="AddedBy">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Added By</mat-header-cell>
    <mat-cell *matCellDef="let values">{{values?.addedBy}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Text">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Text</mat-header-cell>
    <mat-cell *matCellDef="let values">{{values?.text}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></mat-row>
</mat-table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  [pageSize]="10"
  showFirstLastButtons
></mat-paginator>

<app-card>
  <div class="row"> 
    <ul *ngFor="let item of comment;let i = index">
      <li > {{item.comments}}</li>
      <hr>
    </ul>
  </div>
</app-card>

<div>
      <a class="btn  pull-right" (click)="close(null)">
        Close
      </a>
    </div>