<form [formGroup]="clientForm" (ngSubmit)="submit()" novalidate>


  <div class="spinner-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <div mat-dialog-content *ngIf="!isLoading">

    <h2 mat-dialog-title class="text-center">Add Client</h2>
    <hr />


    <div class="row">

      <div class="col-4">
        <div class="row">
          <div class="col-sm-12 my-5">
            <div class="avatar" >
              <div class="edit" (click)="fileInput.click()">Edit</div>
              <div class="avatar-img"> 
                <input style="display: none" #fileInput type="file" accept="image/*" onclick="this.value= null" (change)="onFileChanged($event)" />
                <img (click)="fileInput.click()" [src]="f.imageUrl.value" onerror="this.src='assets/images/manufacturer-user-icn.svg'" alt="Client Image">
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Sub Title" 
                formControlName="subtitle" />
                <mat-error *ngIf="hasError('subtitle', 'maxlength')">
                  Maximum length is 100 characters
                </mat-error>
                <mat-error *ngIf="hasError('subtitle', 'required')">
                  Sub Title is Required
                </mat-error>
                <mat-hint align="end">{{f?.subtitle?.value?.length}} / 100</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <mat-form-field>
              <textarea formControlName="description" matInput placeholder="Leave a description"></textarea>
              <mat-error *ngIf="hasError('description', 'maxlength')">
                Maximum length is 1000 characters
              </mat-error>
              <mat-hint align="end">{{f?.description?.value?.length}} / 1000</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-8">

        <div class="row">

          <div class="col-sm-12">
            <mat-form-field>
              <textarea formControlName="sellingPoints" matInput placeholder="Selling Points.."></textarea>
            </mat-form-field>
          </div>

          <div class="col-sm-12">
            <mat-form-field>
              <textarea formControlName="commercialTerms" matInput placeholder="Commercial Terms.."></textarea>
            </mat-form-field>
          </div>

          <div class="col-sm-12 mt-3">
            <mat-form-field>
              <textarea formControlName="callerUrl" matInput placeholder="Calendly link.."></textarea>
            </mat-form-field>
          </div>


        <!-- Credit for introductions -->
        <div class="col-sm-12 mt-3">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Credit for introductions" 
              formControlName="introductionCall" />
              <mat-error *ngIf="hasError('introductionCall', 'min')">
                Value can not be less than Zero
              </mat-error>
              <mat-error *ngIf="hasError('introductionCall', 'pattern')">
                Value can be only numbers
              </mat-error>
          </mat-form-field>
        </div>

        <!-- Credit for unlocking countries -->
        <div class="col-sm-12 mt-3">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Credit for unlocking countries" 
              formControlName="unlookCount" />
              <mat-error *ngIf="hasError('unlookCount', 'min')">
                Value can not be less than Zero
              </mat-error>
              <mat-error *ngIf="hasError('unlookCount', 'pattern')">
                Value can be only numbers
              </mat-error>
          </mat-form-field>
        </div>

        <!-- “Ending date” (Date) View Only -->
        <div class="col-sm-12 mt-3">
          <mat-form-field>
            <input matInput [min]="minDate" [matDatepicker]="picker1" placeholder="Ending date" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="hasError('endDate', 'matDatepickerMin')">
              Date can not be in the past
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Used Credit -->
        <div class="col-sm-6 mt-3">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Number of used Introduction" 
              formControlName="numOfUsedIntroduction" />
          </mat-form-field>
        </div>

        <!-- Un looked Country -->
        <div class="col-sm-6 mt-3">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Number of unlocks countries" 
              formControlName="numOfUsedUnlookCountry" />
          </mat-form-field>
        </div>

        </div>




      </div>



    </div>





  </div>

  <div mat-dialog-actions align="end">
    <button type="reset" mat-raised-button color="warn" mat-dialog-close (click)="onCancel()"
      tabindex="-1">Close</button>

      <button type="submit" mat-raised-button color="primary" class="mx-1" cdkFocusInitial>
        <span *ngIf="this.submitLoader" class="spinner-border spinner-border-sm" role="status"></span>
        <span *ngIf="this.submitLoader" class="load-text"> Loading...</span>
        <span *ngIf="!this.submitLoader" class="btn-text">Save</span> 
    </button>
  </div>


</form>
