mat-form-field {
  width: 100%;
}

.avatar {
  font-family: "Lato", sans-serif;
  width: 180px;
  height: 180px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: border 0.15s ease-in;
  margin: 0 auto;

  &:hover {
    border: 2px solid #3f51b5;
    cursor: pointer;
    .edit {
      padding-top: 10px;
      height: 40px;
    }
  }

  .edit {
    position: absolute;
    width: 100%;
    height: 0px;
    z-index: 1;
    bottom: 0;
    font-weight: bold;
    color: white;
    background-color: #3f51b5;
    transition: all 1s;
    padding-top: 0px;
    text-align: center;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.spinner-container {
  mat-spinner {
    margin: 20% auto;
  }
}

