<div class="container-fluid">
    <select name="select" class="form-control form-control-default" placeholder="Select One Value Only" (change)="selectHandler($event)">
        <option *ngFor="let opt of mainData.list" value="{{opt.value}}">{{opt.text}}</option>
    </select>
</div>
<hr>