.lookup {
    display: flex;
    flex-direction: column;
  }
  
  .lookup > * {
    width: 100%;
  }
  
  .lookup form {
    margin-bottom: 20px;
  }
  
  .lookup form > * {
    margin: 5px 0;
  }
  
 
  table {
    width: 100%;
    
  }
  
  .mat-cell {
    padding: 10px 10px 10px 0;
    text-align: center
  }.mat-header-cell{
  text-align: center
  }
  