<app-card>
  <div class="lookup">
    <form #ad="ngForm">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Select Major</mat-label>
            <mat-select [(ngModel)]="adding.majorId" name="selected">
              <mat-option value="0">--All--</mat-option>
              <mat-option *ngFor="let major of MajorLookup" [value]="major.value">{{ major.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-4">
          <mat-form-field>
            <input matInput placeholder="name" name="name" [(ngModel)]="adding.name" />
          </mat-form-field>
        </div>
      <!--   <div class="col-sm-4">
          <mat-form-field>
            <input matInput placeholder="Order" name="orderId" [(ngModel)]="adding.orderId" />
          </mat-form-field>
        </div> -->

   
      </div>

      <div class="row">
     
        <div class="col">
          <button mat-raised-button color="accent"[disabled]="disabled" (click)="AddUpdate(ad)">
            Add/Update
          </button>
        </div>
        <div class="col">
          <button mat-raised-button color="warn" (click)="del(ad)">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</app-card>

<app-card>
  <div class="lookup">
    <form class="lookup">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Select Major</mat-label>
            <mat-select name="filter" (selectionChange)="onOptionsSelected($event)">
              <mat-option [value]="0">--All--</mat-option>
              <mat-option *ngFor="let major of MajorLookup" [value]="major.value">{{ major.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="SearchKey" name="SearchKey" (keyup)="Filter($event)" />
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values.majorId }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="major">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Major</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values.value }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="order">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Order</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values.orderId }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let values">
          <button mat-flat-button *ngIf="!values.approved" (click)="onApprove(values.id)">Approve</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="displaymajors(row)"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</app-card>
