/*  .mat-row, .mat-header-row {
    width: 150vw; //PERSONALLY I HAD 45 COLUMNS
    word-wrap: break-word !important;
  }
 */
  
  table {
    width: 100%;
	overflow-x: scroll;
	}
	.mat-cell {
        padding: 10px 10px 10px 2;
        text-align: center;
	  }.mat-header-cell{
      text-align: center;
      padding: 10px 10px 10px 2;
		}
