<app-filter [filterOptions]="filterOptions" (dataFromFilters)="handleDataFromFilters($event)"></app-filter>

<app-card>
  <button class="btn btn-primary btn-sm  pull-right" mat-raised-button (click)="Add()">
    Add
  </button>
  <br />
  <br />
  <div class="interest">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="ID">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values?.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values?.speciality }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Alt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Alternative Name</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>
            <span *ngFor="let item of values.keywords">{{ item }} ,</span>
          </p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="MedicalLine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Medical Line</mat-header-cell>
        <mat-cell *matCellDef="let values"
          ><p>
            <span *ngFor="let item of values.medicalLine">{{ item.name }} ,</span>
          </p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="numberoOfDistInt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Interest</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values?.numberOFBusinessOpportunity }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberoOfDistExp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Experience</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values?.numberOfBrands }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfManu">
        <mat-header-cell *matHeaderCellDef mat-sort-header># Manufacturers</mat-header-cell>
        <mat-cell *matCellDef="let values" (click)="view(values.id)">{{ values?.numberOfManufactures }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfDistributors">
        <mat-header-cell *matHeaderCellDef mat-sort-header># Distributors</mat-header-cell>
        <mat-cell *matCellDef="let values" (click)="view(values.id)">{{ values.numberOfDistributors }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
        <mat-cell *matCellDef="let values">
          <button class="btn btn-success btn-sm mat-flat-button" (click)="update(values)">
            Update
          </button>
          &nbsp;
      <!--     <button class="btn btn-success btn-sm mr-1" (click)="translate(values)">
              Translate
          </button> -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
    <mat-paginator
      [length]="length"
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      showFirstLastButtons
      (page)="pageChange($event)"
    ></mat-paginator>
  </div>
</app-card>
