<div class="row" [style.display]="state.value === 'inactive' ? 'none' : ''">
  <div class="col-10" style="padding-right:0px">
    <div *ngIf="title" [class]="options.titleClass" [attr.aria-label]="title">
      {{ title }}
    </div>
    <div *ngIf="message && options.enableHtml" role="alert" aria-live="polite" [class]="options.messageClass"
      [innerHTML]="message">
    </div>
    <div *ngIf="message && !options.enableHtml" role="alert" aria-live="polite" [class]="options.messageClass"
      [attr.aria-label]="message">
      {{ message }}
    </div>
  </div>
  <div class="col-2 text-right">
    <a *ngIf="!options.closeButton" class="btn btn-close btn-sm" (click)="action($event)">
      {{ undoString }}
    </a>

    <div *ngIf="options.closeButton" (click)="remove()" class="btn-close"></div>
  </div>
</div>
<div *ngIf="options.progressBar">
  <div class="toast-progress" [style.width]="width + '%'"></div>
</div>