.btn-close {
  background: url("/assets/img/clear-icon.png") no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  position: relative;
  top: 38%;
}

.THIS_SHOULD_BE_REPLACED_BY_PROPER_CLASS_OR_:HOST_OR_#ID {
  /*************************************
 |                                  |
 |        WIN-TOASTR ANIMATION         |
 |                                  |
*************************************/

  $animation-name: "fade";

  .winToastrToast {
    animation-fill-mode: both;
  }

  .win-toastr-leftTop,
  .win-toastr-leftCenter,
  .win-toastr-leftBottom {
    .#{$animation-name}In {
      animation-name: fadeInLeft;
    }
    .#{$animation-name}Out {
      animation-name: fadeOutLeft;
    }
  }

  .win-toastr-rightTop,
  .win-toastr-rightCenter,
  .win-toastr-rightBottom {
    .#{$animation-name}In {
      animation-name: fadeInRight;
    }
    .#{$animation-name}Out {
      animation-name: fadeOutRight;
    }
  }

  .win-toastr-centerTop {
    .#{$animation-name}In {
      animation-name: fadeInDown;
    }
    .#{$animation-name}Out {
      animation-name: fadeOutUp;
    }
  }
  .win-toastr-centerCenter {
    .#{$animation-name}In {
      animation-name: fadeIn;
    }
    .#{$animation-name}Out {
      animation-name: fadeOut;
    }
  }
  .win-toastr-centerBottom {
    .#{$animation-name}In {
      animation-name: fadeInUp;
    }
    .#{$animation-name}Out {
      animation-name: fadeOutDown;
    }
  }

  // Fade in

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) scaleX(1.2);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0) scaleX(1.2);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0) scaleY(1.2);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0) scaleY(1.2);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  // Fade out

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeOutDown {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes fadeOutRight {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  }

  @keyframes fadeOutUp {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }

  // Toast collapse

  @keyframes appear {
    0% {
      max-height: 0;
    }

    100% {
      max-height: 50vh;
    }
  }

  @keyframes disappear {
    0% {
      max-height: 50vh;
    }

    100% {
      max-height: 0;
    }
  }

  /*************************************
 |                                  |
 |     WIN-TOASTR CONTAINER STYLE      |
 |                                  |
*************************************/

  $backdrop-color: #000000;
  $toast-width: auto !default;

  @if $toast-width == auto {
    $toast-width: 300px;
  }

  .win-toastr {
    display: block;
    position: fixed;
    width: $toast-width;
    z-index: 9999;
    box-sizing: border-box;
    pointer-events: none;
    * {
      box-sizing: border-box;
    }
  }

  .win-toastr-leftTop,
  .win-toastr-leftCenter,
  .win-toastr-leftBottom {
    left: 10px;
  }

  .win-toastr-rightTop,
  .win-toastr-rightCenter,
  .win-toastr-rightBottom {
    right: 10px;
  }

  .win-toastr-centerTop,
  .win-toastr-centerCenter,
  .win-toastr-centerBottom {
    left: calc(50% - $toast-width/2);
  }

  .win-toastr-leftTop,
  .win-toastr-centerTop,
  .win-toastr-rightTop {
    top: 10px;
  }
  .win-toastr-leftCenter,
  .win-toastr-rightCenter,
  .win-toastr-centerCenter {
    top: 50%;
    transform: translateY(-50%);
  }
  .win-toastr-leftBottom,
  .win-toastr-rightBottom,
  .win-toastr-centerBottom {
    bottom: 10px;
  }

  .win-toastr-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $backdrop-color;
    opacity: 0;
    z-index: 9998;
    transition: opacity 0.3s;
  }

  /*************************************
 |                                  |
 |      TOAST CUSTOM STYLE          |
 |                                  |
*************************************/

  $simple-bg: #fff;
  $simple-color: #000;
  $simple-progressBar: #c7c7c7;
  $simple-progressBarPercentage: #4c4c4c;

  $success-bg: #0c9960;
  $success-color: #c8e6c9;
  $success-progressBar: darken($success-bg, 20%);
  $success-progressBarPercentage: lighten($success-bg, 20%);

  $info-bg: #1a76d2;
  $info-color: #e3f2fd;
  $info-progressBar: darken($info-bg, 20%);
  $info-progressBarPercentage: lighten($info-bg, 20%);

  $warning-bg: #fa6400;
  $warning-color: #fff3e0;
  $warning-progressBar: darken($warning-bg, 20%);
  $warning-progressBarPercentage: lighten($warning-bg, 20%);

  $error-bg: #d32f2f;
  $error-color: #ffebee;
  $error-progressBar: darken($error-bg, 20%);
  $error-progressBarPercentage: lighten($error-bg, 40%);

  $async-bg: $info-bg;
  $async-color: $info-color;
  $async-progressBar: $info-progressBar;
  $async-progressBarPercentage: $info-progressBarPercentage;

  $confirm-bg: #009688;
  $confirm-color: #e0f2f1;
  $confirm-progressBar: #4db6ac;
  $confirm-progressBarPercentage: #80cbc4;

  $prompt-bg: #009688;
  $prompt-color: #e0f2f1;

  $toast-title-font-size: auto !default;
  $toast-body-font-size: auto !default;

  @if $toast-title-font-size == auto {
    $toast-title-font-size: 1rem;
  }

  @if $toast-body-font-size == auto {
    $toast-body-font-size: 0.875rem;
  }

  .toastToast {
    display: block;
    cursor: pointer;
    background-color: $simple-bg;
    height: 100%;
    margin: 5px;
    opacity: 0;
    border-radius: 5px;
    overflow: hidden;
    pointer-events: auto;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);

    &--in {
      animation-name: appear;
    }

    &--out {
      animation-name: disappear;
    }

    &__inner {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      padding: 15px 15px 15px 65px;
      min-height: 78px;
      font-size: 16px;
      color: $simple-color;
    }

    &__progressBar {
      position: relative;
      width: 100%;
      height: 10px;
      background-color: $simple-progressBar;

      &__percentage {
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        background-color: $simple-progressBarPercentage;
        max-width: 100%;
      }
    }

    // TODO: Fix over-ride style font-size caused by [_nghost-c0]
    &__title {
      font-size: $toast-title-font-size;
      font-weight: normal;
      font-stretch: normal;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      line-height: 1.45;
      letter-spacing: 0.25px;
      margin-bottom: 5px;
      color: #fff;
    }

    &__body {
      font-size: $toast-body-font-size;
      font-weight: normal;
      font-family: "Poppins", sans-serif;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.45;
      letter-spacing: 0.25px;
    }
  }

  .toastToast-show {
    transform: translate(0, 0);
    opacity: 1;
  }

  .toastToast-remove {
    max-height: 0;
    overflow: hidden;
    transform: translate(0, 50%);
    opacity: 0;
  }

  .fadeOutRight {
    animation-name: fadeOutRight;
  }

  /*************************************
 |                                  |
 |          Modifiers               |
 |                                  |
*************************************/

  .win-toastr-simple {
    .toastToast__title,
    .toastToast__body {
      color: $simple-color;
    }
  }

  .win-toastr-success {
    background-color: $success-bg;
    .toastToast__progressBar {
      background-color: $success-progressBar;
    }
    .toastToast__progressBar__percentage {
      background-color: $success-progressBarPercentage;
    }
    .toastToast__body {
      color: $success-color;
    }
  }

  .win-toastr-info {
    background-color: $info-bg;
    .toastToast__progressBar {
      background-color: $info-progressBar;
    }
    .toastToast__progressBar__percentage {
      background-color: $info-progressBarPercentage;
    }
    .toastToast__body {
      color: $info-color;
    }
  }

  .win-toastr-warning {
    background-color: $warning-bg;
    .toastToast__progressBar {
      background-color: $warning-progressBar;
    }
    .toastToast__progressBar__percentage {
      background-color: $warning-progressBarPercentage;
    }
    .toastToast__body {
      color: $warning-color;
    }
  }

  .win-toastr-error {
    background-color: $error-bg;
    .toastToast__progressBar {
      background-color: $error-progressBar;
    }
    .toastToast__progressBar__percentage {
      background-color: $error-progressBarPercentage;
    }
    .toastToast__body {
      color: $error-color;
    }
  }

  .win-toastr-async {
    background-color: $async-bg;
    .toastToast__progressBar {
      background-color: $async-progressBar;
    }
    .toastToast__progressBar__percentage {
      background-color: $async-progressBarPercentage;
    }
    .toastToast__body {
      color: $async-color;
    }
  }

  .win-toastr-confirm {
    background-color: $confirm-bg;
    .toastToast__progressBar {
      background-color: $confirm-progressBar;
    }
    .toastToast__progressBar__percentage {
      background-color: $confirm-progressBarPercentage;
    }
    .toastToast__body {
      color: $confirm-color;
    }
  }

  .win-toastr-prompt {
    background-color: $prompt-bg;
    ng-toast-prompt {
      width: 100%;
    }
    .toastToast__title {
      margin-bottom: 0;
    }
    .toastToast__body {
      color: $prompt-color;
    }
  }

  .win-toastr-confirm,
  .win-toastr-prompt {
    .toastToast__inner {
      padding: 10px 15px;
    }
  }

  /*************************************
 |                                  |
 |        PROMPT TOAST              |
 |                                  |
*************************************/

  .toastToast__input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0;
    width: 100%;
    vertical-align: top;
    transition: all 0.5s;
    transition-delay: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

    &__field {
      position: relative;
      display: block;
      float: right;
      padding: 0.85em 0.5em;
      width: 100%;
      border: none;
      border-radius: 0;
      background: transparent;
      color: #333;
      font-weight: bold;
      -webkit-appearance: none; /* for box shadows to show on iOS */
      opacity: 0;
      transition: opacity 0.3s;

      &:focus {
        outline: none;
      }
    }

    &__label {
      display: inline-block;
      float: right;
      padding: 0 0.85em;
      width: 100%;
      color: #e0f2f1;
      font-weight: bold;
      font-size: 70.25%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      left: 0;
      height: 100%;
      text-align: left;
      pointer-events: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
      }

      &::before {
        border-top: 2px solid #fff;
        transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
        transition-delay: 0.3s;
      }

      &::after {
        z-index: -1;
        background: #b2dfdb;
        transform: scale3d(1, 0, 1);
        transform-origin: 50% 0;
      }
    }

    &__labelContent {
      position: relative;
      display: block;
      padding: 1em 0;
      width: 100%;
      transition: transform 0.3s 0.3s;
    }
  }

  .toastToast__input--filled {
    margin-top: 2.5em;

    &:focus,
    .toastToast__input__field {
      opacity: 1;
      transition-delay: 0.3s;
    }
  }

  .toastToast__input__field:focus + .toastToast__input__label .toastToast__input__labelContent,
  .toastToast__input--filled .toastToast__input__labelContent {
    transform: translate(0, -80%);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  .toastToast__input__field:focus + .toastToast__input__label::before,
  .toastToast__input--filled .toastToast__input__label::before {
    transition-delay: 0s;
  }

  .toastToast__input__field:focus + .toastToast__input__label::before,
  .toastToast__input--filled .toastToast__input__label::before {
    transform: translate(0, 0);
  }

  .toastToast__input__field:focus + .toastToast__input__label::after,
  .toastToast__input--filled .toastToast__input__label::after {
    transform: scale(1, 1);
    transition-delay: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  .toastToast {
    &--invalid {
      .toastToast__input__label::before {
        border-color: $error-bg;
      }
    }

    &--valid {
      .toastToast__input__label::before {
        border-color: $success-bg;
      }
    }
  }

  /*************************************
 |                                  |
 |     BUTTONS CUSTOM STYLE         |
 |                                  |
*************************************/

  .toastToast__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    button {
      position: relative;
      width: 100%;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-top: none;
      border-bottom: none;
      background: transparent;
      padding: 8px;
      text-transform: uppercase;
      color: #fff;
      box-sizing: border-box;
      overflow: hidden;
      font-size: 0.875rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      font-family: "Poppins", sans-serif;
      line-height: 1.16;
      letter-spacing: 1.25px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, 0.3);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
      }

      &:focus:not(:active)::after {
        animation: ripple 1s ease-out;
      }

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.1);
        outline: none;
      }

      &:active {
        background: rgba(0, 0, 0, 0.15);
      }

      &:last-child {
        border-right: none;
      }

      &:first-child {
        border-left: none;
      }
    }

    &--bold {
      font-weight: 700;
    }
  }

  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
  }

  /*************************************
 |                                  |
 |      ICONS CUSTOM STYLE          |
 |                                  |
*************************************/

  .win-toastr-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 50%;
    line-height: 0;
    transform: translate(0, -50%);
    max-height: 48px;
    max-width: 48px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .win-toastr-icon--error {
    background-image: url("/assets/img/icons/error-icon.png");
  }

  .win-toastr-icon--warning {
    background-image: url("/assets/img/icons/warning-icon.png");
  }

  .win-toastr-icon--info {
    background-image: url("/assets/img/icons/info-icon.png");
  }

  .win-toastr-icon--success {
    background-image: url("/assets/img/icons/success-icon.png");
  }

  .win-toastr-icon--async {
    background-image: url("/assets/img/icons/info-icon.png");
    animation: async 3s infinite linear;
    transform-origin: 50% 50%;
  }

  @keyframes async {
    0% {
      -webkit-transform: translate(0, -50%) rotate(0deg);
      transform: translate(0, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(0, -50%) rotate(360deg);
      transform: translate(0, -50%) rotate(360deg);
    }
  }
}
