<h1 mat-dialog-title>User Info</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-4">
        Name:
      </div>
      <div class="col-8">
        {{ data.name }}
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Email:
      </div>
      <div class="col-8">{{ data.email }}</div>
    </div>
    <div class="row">
      <div class="col-4">
        Phone:
      </div>
      <div class="col-8">{{ data.phone }}</div>
    </div>
  </div>
</div>
