<br />
<br />
<ng-container>
   <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Youtube Link</mat-label>
      <input type="text" placeholder="Enter Youtube Link ...." matInput [(ngModel)]="youtubeUrl" name="youtubeUrl"
        (keydown.enter)="AddThumbnail()" />
    </mat-form-field>
  </div>

  <div class="files-list" *ngFor="let lin of links; let i = index">
    <ng-container>
      <div >
        <img width="auto" height="auto" [src]="lin" class="center" />

      </div>
    </ng-container>
    <button class="delete-file" (click)="deleteThumbnails(i)">
      <img src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/Recycle_Bin_Full.png" />
    </button>
  </div>
</ng-container>

<div style="text-align: center">
  OR You can Choose and drop Files
</div>

<ng-container>
  <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file" accept="video/*" #fileInput (change)="uploadFile($event.target.files)" />
  </div>
  <div class="files-list" *ngFor="let file of files; let i = index">
    <ng-container>
        <video controls style="width: auto ; height: 200px;">
            <source src="{{file.link}}" type="video/*">
              <source src="{{file.link}}" >
            Your browser does not support HTML5 video.
          </video>
<!--      <video [src]="file.link" preload="metadata" class="preview"></video>
 -->  </ng-container>
    <button class="delete-file" (click)="deleteAttachment(file,i)">
      <img src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/Recycle_Bin_Full.png" />
    </button>
  </div>
</ng-container>
<ng-container>
  <button class="btn btn-save pull-right" (click)="saveVideos()"> Save </button>
</ng-container>
<div id="overlay">
  <span id="nav" *ngIf="saveInProgress">
    <mat-spinner  class="loading-indicator"></mat-spinner>
  </span>
</div>
 <!--  <span id="nav" *ngIf="saveInProgress">
      <div class="submit-message" style="display: block; color: #FFFFFF; position: fixed; left: %; top: 58.5%;">
          Saving...
      </div>
  </span> -->
