<!-- <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
  <mat-chip *ngFor="let name of data" class="my-1" disabled="true">{{ name }}</mat-chip>
</mat-chip-list> -->

<mat-dialog-content>

  <mat-card-title>{{dialogTitle}}</mat-card-title>
  <mat-table #table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element?.id }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element?.name}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="slug">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Slug</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element?.slug}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="imagePath">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img width=36
          matTooltipPosition="above"
          [src]="element.imagePath"
        />
      </mat-cell>
    </ng-container>
  
    <!-- Special for Users Table, Type 5 -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  
  </mat-table>
  <mat-paginator #paginator [length]="10" [pageSize]="10"> </mat-paginator>
  
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close (click)="close(null)" tabindex="-1">Close</button>
</mat-dialog-actions>