<app-card>
  <div class="row justify-content-between">
    <div class="col-3">
    </div>
    <div class="col-auto mr-2">
      <button mat-raised-button color="primary" (click)="onCreateVideo()">New</button>
    </div>
  </div>
  <ng-container>
    <table mat-table #table class="w-100" [dataSource]="dataSource">
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let values">
          <button *ngIf="!values.published" (click)="Publish(values.id)" class="btn btn-success mat-flat-button">
            Publish
          </button>

          <button *ngIf="values.published" (click)="UnPublish(values.id)" class="btn btn-success mat-flat-button">
            UnPublish
          </button>
          <button (click)="Edit(values)" class="btn btn-success mx-2 mat-flat-button">Edit</button>
          <button (click)="Delete(values.id)" class="btn btn-danger mx-2 mat-flat-button">
            Delete
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let values">{{ values?.type }}</td>
      </ng-container>
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let values">{{ values?.id }}</td>
      </ng-container>
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let values">
          {{ values?.title }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Link">
        <th mat-header-cell *matHeaderCellDef>Video Link</th>
        <td mat-cell *matCellDef="let values">
          {{ values?.youtube }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [length]="length" (page)="pageChange($event)" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"
      showFirstLastButtons></mat-paginator>
  </ng-container>
</app-card>