<div class="mx-5 my-3">
  <form [formGroup]="seoForm">
    <div>
      <mat-form-field class="w-100 my-2">
        <input matInput placeholder="{{ seo.name }} Meta Title" formControlName="metaTitle" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-100 my-2">
        <input matInput placeholder="{{ seo.name }} Meta Description" formControlName="metaDescription" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-100 my-2">
        <input matInput placeholder="{{ seo.name }} Meta Keyword" formControlName="metaKeyWord" />
      </mat-form-field>
    </div>
  </form>
</div>
