<div class="container">
  <div class="row">

 
  <mat-form-field class="col-md-12">
    <input
      matInput
      [(ngModel)]="FromDate"
      [matDatepicker]="From"
      placeholder="From"
      (dateChange)="onchangeFrom()"
      (click)="From.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="From"></mat-datepicker-toggle>
    <mat-datepicker #From></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="col-md-12">
    <input
      matInput
      [(ngModel)]="ToDate"
      [matDatepicker]="To"
      placeholder="To"
      (dateChange)="onchangeTo()"
      (click)="To.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="To"></mat-datepicker-toggle>
    <mat-datepicker #To></mat-datepicker>
  </mat-form-field>
</div>
</div>
<hr />