<div class="row">
  <div class="col">
    <app-card>
      <form #myForm="ngForm" (ngSubmit)="submit(myForm)">
        <div class="card-block">

          <div class="row">
            <div class="col">
              <div class="md-tabs">
                <ngb-tabset>
                  <ngb-tab>
                    <ng-template ngbTabContent>
                      <div class="row" style="margin-top: 1%">
                        <div class="col">
                          <h5 class="marginHeader">Title</h5>
                          <input type="text" placeholder="Article Title" class="form-control" name="Title" required
                            [(ngModel)]="articleForm.Title"
                            #formvalidator="ngModel">
                            <div *ngIf="myForm.submitted && myForm.invalid" class="invalid-feedback">
                              <div *ngIf="formvalidator?.errors?.required">Title is required</div>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="marginHeader">Sub Title</h5>
                          <input type="text" placeholder="Article Sub Title" class="form-control"
                            name="articleData.subtitle"  [(ngModel)]="articleForm.Subtitle"
                            #formvalidator="ngModel">
                          
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col">
                          <h5 class="marginHeader">Image</h5>
                          <label class="custom-file">
                            <input type="file" class="custom-file-input" name="file" required  onclick="this.value= null"
                              (change)="onImageChange($event)">
                            <span class="custom-file-control"></span>
                          </label>
                          <div *ngIf="myForm.submitted && !file" class="invalid-feedback">
                            <div >Images is required</div>
                        </div>
                        </div>
                        <div class="col">
                          <h5 class="marginHeader">Sub Images</h5>
                          <label class="custom-file">
                            <input type="file" class="custom-file-input" multiple onclick="this.value= null"
                              (change)="onsubImageChange($event)">
                            <span class="custom-file-control"></span>
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="imgDiv" *ngIf="imagePreview" >
                            <label role="button" class="badge badge-danger"  (click)="hideImage()"
                              class="close">X</label>
                            <img [src]="imagePreview" class="img" style="max-width: 100%">
                          </div>
                        </div>
                        <div class="col">
                          <div calss="row">
                            <div style="display: inline-block" *ngFor="let i of subImagePreview; let x = index;">
                              <div class="imgDiv" *ngIf="subImagePreview.length>0">
                                <label role="button" class="badge badge-danger" (click)="hideSubImage(x)"
                                  class="close">X</label>
                                <img [src]="i" class="img" style="max-width: 100%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col">
                          <h5 class="marginHeader">Category (*)</h5>
                          <select name="select" class="form-control form-control-default selectBlack" required
                            [(ngModel)]="articleForm.CategoryId" name="CategoryId"  #formvalidator="ngModel" (change)="filtersubcategory()">
                            <option *ngFor="let cat of categorys" [ngValue]="cat.value">{{cat.name}}</option>
                          </select>
                          <div *ngIf="myForm.submitted && myForm.invalid" class="invalid-feedback">
                            <div *ngIf="formvalidator?.errors?.required">category is required</div>
                        </div>
                        </div>
                        <div class="col">
                          <div *ngIf="showsub">

                            <mat-form-field class="example-chip-list">
                              <mat-chip-list #chipSubCategories>
                                <mat-chip *ngFor="let SubCategories of seletedSubCategories; let i = index;"
                                  [selectable]="selectable" [removable]="'true'" (removed)="removeSubCategories(i)">
                                  {{SubCategories.name}}
                                  <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input [(ngModel)]="articleForm.subCategory" name="subCategory" required
                                  (ngModelChange)="filteredSubCategories = _filterSubCategories(articleForm.subCategory)"
                                  [matAutocomplete]="autoCompleteSubCategories" [matChipInputFor]="chipSubCategories"
                                 >
                              </mat-chip-list>
                              <mat-autocomplete #autoCompleteSubCategories="matAutocomplete"
                                (optionSelected)="AddSelectedSubCategoriess($event)">
                                <mat-option *ngFor="let Sub of filteredSubCategories | async" [value]="Sub">
                                  {{Sub.name}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                         
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col">
                          <div class="checkbox-fade fade-in-default">
                            <H5 class="marginHeader"> Publish:</H5>
                            <label>
                              <input type="checkbox" [(ngModel)]="articleForm.Published " name="Published">
                              <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                              </span>
                              <span>Publish</span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="marginHeader">Tags</h5>
                          <mat-form-field class="example-chip-list">
                            <mat-chip-list #chiptags>
                              <mat-chip *ngFor="let item of seletedTags;let i = index;" [selectable]="selectable"
                                [removable]="removable" (removed)="removeTag(i)">
                                {{item.name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input placeholder="New Tag" [matChipInputFor]="chiptags"
                                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTags($event)">

                            </mat-chip-list>
                          </mat-form-field>
                        </div>
                      </div>
                      
                      <hr>

                      <div class="row">
                        <div class="col">
                          <h5 class="marginHeader">Description</h5>
                          <div class="quill-editor-edit">
                            <quill-editor [(ngModel)]="articleForm.Description" name="Description">
                            </quill-editor>
                          </div>
                          
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col">
                          <h5 class="marginHeader">Details</h5>
                          <div class="quill-editor-edit">
                            <quill-editor  [(ngModel)]="articleForm.Details" name="Details">
                            </quill-editor>
                          </div>
                         
                        </div>
                      </div>
                      <hr>
                    </ng-template>
                  </ngb-tab>
                  <!--   <ngb-tab title="SEO">
                  <ng-template ngbTabContent>
                    <div class="row">
                      <div class="col">
                        <app-seo [seoData]="{a:seoData,b:articleForm.Seo}"  (fromSeoToAddEdit)="fromSeoToAddEditHandler($event)"></app-seo>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab> -->
                </ngb-tabset>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="submit" class="btn btn-primary">
 <a class="btn btn-primary pull-right" [routerLink]="['/home','article-page']"> Cancel</a>
          </div>
        </div>

        <!--    <div *ngIf="added" class="row">
        <div class="col">
          <div class="alert alert-success alert-dismissible fade show" #alertAdd role="alert">
            <strong>Article</strong> Has been added.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div> -->
      </form>

    </app-card>
  </div>
</div>


<!-- <app-deleted-puplish-popup></app-deleted-puplish-popup> -->