img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  

  .imgDiv{
    max-width: 160px;
  }
  .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

  .quill-editor-edit{
    // box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    // height: 100px;
    position: sticky;
    overflow-y: scroll;
    // background-color: aqua;
    // overflow: hidden;
    max-height: 150px;
  }

  .marginHeader{
    margin-bottom: 10px;
  }


  .selectBlack{
    color:black;
  }