<app-card>
  <div class="settings">
    <form #Sett="ngForm">
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field>
            <input
              matInput
              placeholder="Key"
              name="key"
              [(ngModel)]="adding.key"
            />
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-form-field>
            <input
              matInput
              placeholder="Name"
              name="name"x
              [(ngModel)]="adding.name"
            />
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Add Value</mat-label>
            <input
              matInput
              placeholder="Value"
              name="value"
              [(ngModel)]="adding.value"
            />
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-form-field>
            <textarea
              matInput
              placeholder="Description"
              name="description"
              [(ngModel)]="adding.description"
            >
            </textarea>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-checkbox class="example-margin" name="Admin" [(ngModel)]="adding.admin">Admin</mat-checkbox>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <button mat-raised-button color="accent" (click)="AddUpdate(Sett)">
            Add/Update
          </button>
        </div>
        <div class="col-sm-4">
          <button mat-raised-button color="warn" (click)="del(Sett)">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</app-card>

<app-card>
  <div class="settings">
    <form class="settings">
      <div class="row">
        <mat-form-field>
          <textarea
            matInput
            placeholder="Search"
            [(ngModel)]="SearchKey"
            name="SearchKey"
            (keyup)="Filter($event)"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Key</mat-header-cell>
        <mat-cell *matCellDef="let values">{{ values.key }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let values">{{ values.name }}</mat-cell>
      </ng-container>
      

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Value</mat-header-cell
        >
        <mat-cell *matCellDef="let values">{{ values.value }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Description</mat-header-cell
        >
        <mat-cell *matCellDef="let values">{{ values.description }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="displaymajors(row)"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</app-card>
