.settings {
    display: flex;
    flex-direction: column;
  }
  
  .settings > * {
    width: 100%;
  }
  
  .settings form {
    margin-bottom: 20px;
  }
  
  .settings form > * {
    margin: 5px 0;
  }
  
  table {
    width: 100%;
   
	}
	.mat-cell {
        padding: 10px 10px 10px 0;
        text-align: center
	  }.mat-header-cell{
			text-align: center
		}
		
  
  